<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>관리자의 게시판관리 페이지</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
	<style>
		#graphDiv {
			display: grid; grid-template-columns: 1fr 50px 1fr; grid-template-rows: 400px;
		}
		.selectState{background: lightyellow;}
		.table td{cursor: pointer;}
		.table td>div{border: 1px solid black; height: 80%; width: 45%; display: inline-block; padding-top: 3%; cursor: pointer;}
		.myInfo-btn{
			width:150px;
			background-color: #1E5F74;
			border:1px solid #1E5F74;
			color:white;
			border-radius: 5px;
			padding:5px;
			cursor: pointer;
			box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
			  7px 7px 20px 0px rgba(0,0,0,.1),
			  4px 4px 5px 0px rgba(0,0,0,.1);
		}
		
		.btn-outline-maincolor-2{
			color:#1E5F74;
			border-radius: 5px;
			width:160px;
			border:1px solid #1E5F74;
			padding:5px;
			margin:8px;
			background:white;
			cursor: pointer;
		}
		
		#modalWriteAnnouncementBoard:hover{
	    	background-color: #1E5F74	;
	    	color: white;
	    	border-color:black;
	    }
	    
	    #modalBoardClose:hover{
	    	background-color: lightgray	;
	    	color: black;
	    	border-color:black;
	    }
	    
	    #writeAnnouncementBtn:hover{
	    	background-color: #1E5F74;
	    	color: white;
	    	border-color:black;
	    }
	</style>
</head>
<body>
	<div th:replace="~{common/adminNavbarTemp :: navbarTemp}"></div>
	<div th:replace="~{common/adminSymbolTemp :: symbolTemp}"></div>

	<div class="container-fluid">
		<div class="row">
			<div th:replace="~{common/adminbarTemp :: sidebar}"></div>
			
			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				
				<div class="row m-4">
	      			<div class="m-4 col">
					  <button type="button" id="adminCaregiverComunityBtn" class="myInfo-btn" onclick="showComunity('caregiverComunity')">간병인 커뮤니티</button>
					  <button type="button" id="adminPatientComunityBtn" class="btn-outline-maincolor-2" onclick="showComunity('patientComunity')">환자 커뮤니티</button>
	      			</div>
	      		</div>
								
				<br/>
				
				<div>	
					<div id="caregiverComunity-section">
						<table class="table table-hover text-center" id="caregiverComunityTable">
							<thead>
								<tr>
									<th>번호</th>
									<th>제목</th>
									<th>작성자</th>
									<th>작성일</th>
									<th>조회수</th>
									<th>게시상태</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="c : ${cbList}">
									<td>[[${c.boardNo}]]</td>
									<td>[[${c.boardTitle}]]</td>
									<td>[[${c.memberNickName}]]</td>
									<td>[[${c.boardUpdateDate}]]</td>
									<td>[[${c.boardCount}]]</td>
									<td>
										<div th:class="${c.boardStatus == 'Y' ? 'selectState' : ''}">게시</div>
										<div th:class="${c.boardStatus == 'N' ? 'selectState' : ''}">삭제</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div style="display:grid; grid-template-columns:100px 1fr 300px;">
							<div></div>
							<div>
								<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
									<div class="btn-group me-2 text-end" role="group" aria-label="First group">
										<button type="button" class="btn btn-outline-secondary" th:if="${cpi.currentPage <= 1}" disabled>이전</button>
	 									<button type="button" class="btn btn-outline-secondary" th:if="${cpi.currentPage > 1}" th:onclick="|location.href='@{${loc} (caregiverPage=${cpi.currentPage - 1})}'|">이전</button>
										
										<th:block th:each="cp: ${#numbers.sequence(cpi.startPage, cpi.endPage)}">
								    		<button type="button" class="btn btn-outline-secondary" th:onclick="|location.href='@{${loc}(=${cp})}'|">[[${cp}]]</button>
										</th:block> 
									    
									    <button type="button" class="btn btn-outline-secondary" th:if="${cpi.currentPage >= cpi.maxPage}" disabled>다음</button>
									    <button type="button" class="btn btn-outline-secondary" th:if="${cpi.currentPage < cpi.maxPage}" th:onclick="|location.href='@{${loc}(caregiverPage=${cpi.currentPage+1})}'|">다음</button>
									</div>
								</div>
							</div>
						</div>
						</div>
						</div>
						<div id="patientComunity-section"  style="display:none;">
						<table class="table table-hover text-center"  id="patientComunityTable">
							<thead>
								<tr>
									<th>번호</th>
									<th>제목</th>
									<th>작성자</th>
									<th>작성일</th>
									<th>조회수</th>
									<th>게시상태</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="p : ${pbList}">
									<td>[[${p.boardNo}]]</td>
									<td>[[${p.boardTitle}]]</td>
									<td>[[${p.memberNickName}]]</td>
									<td>[[${p.boardUpdateDate}]]</td>
									<td>[[${p.boardCount}]]</td>
									<td>
										<div th:class="${p.boardStatus == 'Y' ? 'selectState' : ''}">게시</div>
										<div th:class="${p.boardStatus == 'N' ? 'selectState' : ''}">삭제</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div style="display:grid; grid-template-columns:100px 1fr 300px;" >
							<div></div>
							<div>
								<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolba with button groups2" >
									<div class="btn-group me-2 text-end" role="group" aria-label="Second group">
										<button type="button" class="btn btn-outline-secondary" th:if="${ppi.currentPage <= 1}" disabled>이전</button>
	 									<button type="button" class="btn btn-outline-secondary" th:if="${ppi.currentPage > 1}" th:onclick="|location.href='@{${loc}(page=${ppi.currentPage - 1})}'|">이전</button>
										
										<th:block th:each="pp: ${#numbers.sequence(ppi.startPage, ppi.endPage)}">
								    		<button type="button" class="btn btn-outline-secondary" th:onclick="|location.href='@{${loc}(patientPage=${pp})}'|">[[${pp}]]</button>
										</th:block> 
									    
									    <button type="button" class="btn btn-outline-secondary" th:if="${ppi.currentPage >= ppi.maxPage}" disabled>다음</button>
									    <button type="button" class="btn btn-outline-secondary" th:if="${ppi.currentPage < ppi.maxPage}" th:onclick="|location.href='@{${loc}(patientPage=${ppi.currentPage+1})}'|">다음</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<form id="searchBoardForm" action="searchBoard.bo" method="get" class="d-flex w-100">
			            <select id="searchType" name="searchType" class="form-select form-select-sm" aria-label="Small select example" style="max-width: 15%;">
			                <option th:value="boardTitle" selected>제목</option>
			                <option th:value="memberNickName">작성자</option>
			                <option th:value="boardContent">글내용</option>
			            </select>
			            <input id="searchText" name="searchText" type="text" class="form-control" aria-label="Text input with dropdown buttons" style="max-width: 65%;">
			            <button class="btn btn-outline-secondary" type="button" id="searchBtn" th:onclick="searchBoard()">검색</button>
			        </form>
			        <br>
					<form align="right">
						<button type="button"  id="writeAnnouncementBtn" class="btn" style="outline-color: #1E5F74; outline-style: solid;">공지작성</button>
					</form>
			</main>
		</div>
	</div>
	<div class="modal fade" id="writeModal" tabindex="-1" aria-labelledby="writeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-xl">
	    <div class="modal-content">
	    <form action="insertAnnouncement.adm" method="post">
		      <div class="modal-header">
		        <div class="modal-heaader h4 p-4 m-2 mt-1 row" id="writeModalTitle" style="min-height:100%;"><span>제목</span> 
	                 <input type="text" class="form-control" id="announcementBoardTitle" name="boardTitle" placeholder="제목을 입력해주세요" required>
		        </div>
		      </div>
		      <div class="modal-body">
		      	<div class="modal-body p-4 m-5 mt-1 row h5" style="min-height:100%;">내용
	                 <textarea class="form-control" id="summernote" name="boardContent" style="min-height:100%;"required></textarea>
	             </div>
		      </div>
		      <div class="modal-footer">
		        <button type="submit" class="btn" data-bs-dismiss="modal" id="modalWriteAnnouncementBoard" style="outline-color: #1E5F74; outline-style: solid;">작성</button>
		        <button type="button" class="btn" data-bs-dismiss="modal" id="modalBoardClose" style="outline-color: lightgray; outline-style: solid;">닫기</button>
		      </div>
	    </form>
	    </div>
	  </div>
	</div>
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>
	<script th:inline="javascript">
		window.onload =() =>{
			if (document.getElementById('writeAnnouncementBtn') != null) {
				document.getElementById('writeAnnouncementBtn').addEventListener('click', function() {
				    const writeModal = new bootstrap.Modal(document.getElementById('writeModal'));
				    writeModal.show();
				});
		    }
			
		
		$(document).ready(function() {
	        $('#summernote').summernote({
	          placeholder: '내용을 입력해주세요',
	          tabsize: 2,
	          minHeight: 400,             
	          toolbar: [
	        	['fontname', ['fontname']],
	        	['fontsize', ['fontsize']],
	            ['style', ['style']],
	            ['font', ['bold', 'italic' , 'underline','strikethrough', 'clear']],
	            ['color', ['color']],
	            ['para', ['ul', 'ol', 'paragraph']],
	            ['insert', ['link', 'picture']],
	          ],
	          fontNames: ['sans-serif','Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체','SBAggroB','양진체','DungGeunMo','Chosunilbo_myungjo'],
	          fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
	         
	        });
	      });
		
		
		const tbody = document.querySelector('tbody');
		const tds = tbody.querySelectorAll('td');
		/*<![CDATA[*/
		const cbList = /*[[${cbList}]]*/1;
		const pbList = /*[[${pbList}]]*/2;
		/*]]>*/
		let boardNo = null;
		let status = null;		
		
		console.log(cbList)
		console.log(pbList)
		console.log(tds)
		for(const td of tds){
				td.addEventListener('click', function(){
					const trTds = this.parentElement.querySelectorAll('td');
					console.log(trTds)
					boardNo = trTds[0].innerText;
					console.log(boardNo)
					const statusTd = trTds[5].querySelectorAll('div')
					console.log(statusTd[0].className)
					console.log(statusTd[1].className)
					if(statusTd[0].className == 'selectState'){
						status = 'N';
					}else {
						status = 'Y';
					}
					$.ajax({
						url: 'updateAdminBoardStatus.adm',
						data: {boardNo:boardNo, boardStatus:status},
						success: data =>{
							if(data == 'success'){
								statusTd[0].classList.toggle('selectState');
								statusTd[1].classList.toggle('selectState');
							}
						},
						error: data => console.log(data)
					})

				})
		}
	}


			
		
		
		function showComunity(type) {
		    if (type == 'caregiverComunity') {
		        document.getElementById('caregiverComunity-section').style.display = 'block';
		        document.getElementById('patientComunity-section').style.display = 'none';
		        document.getElementById('adminCaregiverComunityBtn').classList.remove('btn-outline-maincolor-2');
		        document.getElementById('adminCaregiverComunityBtn').classList.add('myInfo-btn');
		        document.getElementById('adminPatientComunityBtn').classList.remove('myInfo-btn');
		        document.getElementById('adminPatientComunityBtn').classList.add('btn-outline-maincolor-2');
		    } else if (type == 'patientComunity') {
		        document.getElementById('caregiverComunity-section').style.display = 'none';
		        document.getElementById('patientComunity-section').style.display = 'block';
		        document.getElementById('adminCaregiverComunityBtn').classList.remove('myInfo-btn');
		        document.getElementById('adminCaregiverComunityBtn').classList.add('btn-outline-maincolor-2');
		        document.getElementById('adminPatientComunityBtn').classList.remove('btn-outline-maincolor-2');
		        document.getElementById('adminPatientComunityBtn').classList.add('myInfo-btn');
		    }
		}

	</script>
</body>
</html>