<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>관리자 메인페이지</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <style>
    	.graphDiv {
			display: grid; grid-template-columns: 1fr 50px 1fr; grid-template-rows: 400px;
		}
    	
    </style>
</head>
<body>
	<div th:replace="~{common/adminNavbarTemp :: navbarTemp}"></div>
	<div th:replace="~{common/adminSymbolTemp :: symbolTemp}"></div>

	<div class="container-fluid">
		<div class="row">
			<div th:replace="~{common/adminbarTemp :: sidebar}"></div>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">관리자 대시보드</h1>
				</div>

				<br/>
				
				<div style="display:grid; grid-template-columns: 1fr 50px 1fr;">
					<div class="text-center"><span class="badge bg-dark fs-5">최근 방문자 수</span></div>
					<div></div>
					<div class="text-center"><span class="badge bg-dark fs-5">미처리 문의목록 TOP10</span></div>
				</div>
				
				<br/>
				
				<div class="graphDiv">
					<div class="h-100 p-2 bg-light border rounded-3 text-center">
						<canvas id="loginBarChart"></canvas>
					</div>
					
					<div><!-- 사이공백 --></div>
					
					<div class="h-100 p-5 text-bg-dark rounded-3">
							<table style="text-align: center; width: 100%;">
								<tr>
									<th>No.</th>
									<th>Title</th>
									<th>Writer</th>
									<!-- <th>Date</th> -->
									<th>PassHours</th>
								</tr>
								<tr th:if="${queryList}" th:each="q: ${queryList}">
									<td>[[${q.boardNo}]]</td>
									<td>[[${q.boardTitle}]]</td>
									<td>[[${q.memberNickName}]]</td>
								 	<!-- <td>[[${q.boardCreateDate}]]</td> -->
								 	<td>
								 		[[${q.passHours}]]시간 지남
								 	</td>
								</tr>
							</table>
						</div>
				</div>
				
				<br/>
				
				<div style="display:grid; grid-template-columns: 1fr 50px 1fr;">
					<div class="text-center"><span class="badge bg-dark fs-5">최근 일주일 매칭정보</span></div>
					<div></div>
					<div class="text-center"><span class="badge bg-dark fs-5">최근 일주일 결제정보</span></div>
				</div>
				
				<br/>
				
				<div class="graphDiv">
					<div class="h-100 p-2 bg-light border rounded-3 text-center">
						<canvas id="lineChart"></canvas>
					</div>
					
					<div><!-- 사이공백 --></div>
					
					<div class="h-100 p-2 bg-light border rounded-3 text-center" >
						<div><!-- 공백 --></div>
						<canvas id="lineChart2"></canvas>
						<div><!-- 공백 --></div>
					</div>
				</div>
				
				
			</main>
		</div>
	</div>
	
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
    <script th:inline="javascript">
		 window.onload = () => {
			// 막대 그래프 작성(시작)
			// Date객체를 yy-mm-dd로 표현하기
			const dateFormat = date => {
				return date.toISOString().split('T')[0].substring(2);
			}
			
			// n일전에 대한 Date객체 생성하기
			const agoDate = ago => {
				return new Date(new Date().setDate((new Date().getDate() - ago)));
			}
			
			const nearOneWeek = [];
			const nearTwoWeek = [];
			for(let i = 6; i >= 0; i--){
				nearOneWeek.push(dateFormat(agoDate(i)));
			}
			for(let i = 13; i >= 7; i--){
				nearTwoWeek.push(dateFormat(agoDate(i)));
			}
			
			// 전달받은 파라미터 접근하기
			/*<![CDATA[*/
			const oneWeekAgo = /*[[${oneWeekAgo}]]*/'1주일전';
			const twoWeekAgo = /*[[${twoWeekAgo}]]*/'2주일전';
			/*]]>*/
						
			const oneWeekLogin = []; // 최근 일주일에 대한 접속자의 수를 저장할 배열
			const twoWeekLogin = []; // 14일전 ~ 7일전에 대한 접속자의 수를 저장할 배열
			
			for(const near of nearOneWeek){
				oneWeekAgo[near] == undefined ? oneWeekLogin.push(0) : oneWeekLogin.push(oneWeekAgo[near]);
			}
			for(const near of nearTwoWeek){
				twoWeekAgo[near] == undefined ? twoWeekLogin.push(0) : twoWeekLogin.push(twoWeekAgo[near]);
			}
			
			
			const loginLineChart = document.getElementById('loginBarChart');
		
			new Chart(loginLineChart, {
			    type: 'line',
			    data: {
			      labels: nearOneWeek, // x축
			      datasets: [
			    	    {
			    	      label: '지난주 접속자',
			    	      data: oneWeekLogin,
			    	      borderColor: 'rgb(255, 99, 132)',
			    	      backgroundColor: 'rgba(255, 99, 132, 0.2)',
			    	    },
			    	    {
			    	      label: '지지난주 접속자',
			    	      data: twoWeekLogin,
			    	      borderColor: 'rgb(75, 192, 192)',
			    	      backgroundColor: 'rgba(75, 192, 192, 0.2)',
			    	      stepped: false,
			    	      yAxisID: 'y',
			    	    }
			    	]
			    },
			    options: {
			      scales: {
			        y: {
			        	beginAtZero: true
			        }
			      }
			    }
			}); 
			// 막대 그래프 작성(끝)
			 
			 
			// 매칭 일주일 통계 (시작) 
			/*<![CDATA[*/
			const personal = /*[[${personalMap}]]*/;
			const share = /*[[${shareMap}]]*/;
			/*]]>*/
			
			const weekPersonal = []; // 최근 일주일에 개인간병 배열
			const weekShare = []; // 최근 일주일에 공동간병 배열
			
			for(const near of nearOneWeek){
				personal[near] == undefined ? weekPersonal.push(0) : weekPersonal.push(personal[near]);
				share[near] == undefined ? weekShare.push(0) : weekShare.push(share[near]);
			}
			
			const lineChart = document.getElementById('lineChart');
		
			new Chart(lineChart, {
			    type: 'line',
			    data: {
			      labels: nearOneWeek, // x축
			      datasets: [
			    	    {
			    	      label: '개인간병',
			    	      data: weekPersonal,
			    	      borderColor: 'rgb(255, 99, 132)',
			    	      backgroundColor: 'rgba(255, 99, 132, 0.2)',
			    	    },
			    	    {
			    	      label: '공동간병',
			    	      data: weekShare,
			    	      borderColor: 'rgb(75, 192, 192)',
			    	      backgroundColor: 'rgba(75, 192, 192, 0.2)',
			    	      stepped: false,
			    	      yAxisID: 'y',
			    	    }
			    	]
			    },
			    options: {
			      scales: {
			        y: {
			        	beginAtZero: true
			        }
			      }
			    }
			});
			// 매칭 일주일 통계 (끝) 
			 
			 
			// 결제 일주일 통계 (시작) 
			/*<![CDATA[*/
			const home = /*[[${homeMap}]]*/;
			const hospital = /*[[${hospitalMap}]]*/;
			/*]]>*/
			
			const weekHome = []; // 최근 일주일에 개인간병 배열
			const weekHospital = []; // 최근 일주일에 공동간병 배열
			
			for(const near of nearOneWeek){
				home[near] == undefined ? weekHome.push(0) : weekHome.push(home[near]);
				hospital[near] == undefined ? weekHospital.push(0) : weekHospital.push(hospital[near]);
			}
			
			const lineChart2 = document.getElementById('lineChart2');
		
			new Chart(lineChart2, {
			    type: 'line',
			    data: {
			      labels: nearOneWeek, // x축
			      datasets: [
			    	    {
			    	      label: '가정돌봄',
			    	      data: weekHome,
			    	      borderColor: 'rgb(255, 99, 132)',
			    	      backgroundColor: 'rgba(255, 99, 132, 0.2)',
			    	    },
			    	    {
			    	      label: '병원돌봄',
			    	      data: weekHospital,
			    	      borderColor: 'rgb(75, 192, 192)',
			    	      backgroundColor: 'rgba(75, 192, 192, 0.2)',
			    	      stepped: false,
			    	      yAxisID: 'y',
			    	    }
			    	]
			    },
			    options: {
			      scales: {
			        y: {
			        	beginAtZero: true
			        }
			      }
			    }
			});
			
			
			
			
			
			
			
			
			
			
			 
			 
			 
			// 결제 일주일 통계 (끝) 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
		 }
	</script>
</body>
</html>