<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/enroll.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
	<div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
	<main class="inner-content d-flex justify-content-center">
		<form action="enrollCaregiver.me" method="post" id="enrollForm">
			<div class="login-wrap">
				<a href="home.do"><img class="logo-image mb-4 w-75" src="image/logo-removebg.png" width="150"></a>
				<h1 class="h3 mb-3 fw-bold mb-5 text-center">공동간병 그룹 모집</h1>
				<h5 class="h5 mb-1 fw-bold mb-1">아래 내용은 간병인 정보 입력 사항입니다.</h5>
				<h5 class="h5 mb-3 fw-bold mb-5">이를 바탕으로 보다 정확한 매칭 서비스를 제공할 수 있습니다.</h5>
				<div class="title2-content d-flex justify-content-center mx-auto">	
				<div class="form-floating mb-3 fw-bold mb-5 mx-auto">	
					<table class="table" style="font-size:22px;line-height:40px;" id="hoInfo">
					    <tr>
					      <th scope="col" style="width:100px;">병원명</th>
					      <td id="hospitalName" scope="col" style="width:600px;">[[${hospital.hospitalName}]]</td>
					    </tr>	
					    <tr>
					      <th scope="col" style="width:100px;">주소</th>
					      <td scope="col"id="hospitalAddress" style="width:600px;font-size:16px;">[[${hospital.hospitalAddress}]]</td>
					    </tr>		
					</table>	
				</div>
			</div>
				
				
				
				
				<div class="login-input">
					
					<p class="info">그룹 인원을 선택해주세요</p>
					<div class="form-floating mb-5">
						<div class="form-check form-check-inline">
								<span>
						      		<input type="radio" class="btn-check" name="options-outlined" id="2p" autocomplete="off" checked>
									<label class="btn btn-outline-success" for="success-outlined">2명</label>
						      	</span>
						      	<span>
						      		<input type="radio" class="btn-check" name="options-outlined" id="3p" autocomplete="off">
									<label class="btn btn-outline-success" for="success-outlined">3명</label>		
						      	</span>
						</div>
					</div>	
					
					<p class="info">간병 시작일을 선택해주세요.</p>
					<div class="form-floating mb-5">
						<div class="form-check form-check-inline">
							<input type="date" class="form-control" id="startDay" name="startDay">
						</div>
					</div>
					
					<p class="info">간병 종료일을 선택해주세요.</p>
					<div class="form-floating mb-5">
						<div class="form-check form-check-inline">
							<input type="date" class="form-control" id="startDay" name="startDay">
						</div>
					</div>
					
					
					<p class="info">간병 시작 시간을 선택해주세요.</p>
					<div class="form-floating mb-5">
						<div class="form-check form-check-inline">
							<select class="form-select" aria-label="Default select example">
								  <option th:each="num : ${#numbers.sequence(00, 24)}" value="${num}">[[${num}]] 시</option>
							</select>
						</div>
					</div>
					
					<p class="info">간병 종료 시간을 선택해주세요.</p>
					<div class="form-floating mb-5">
						<div class="form-check form-check-inline">
							<select class="form-select" aria-label="Default select example">
								  <option th:each="num : ${#numbers.sequence(00, 24)}" value="${num}">[[${num}]] 시</option>
							</select>
						</div>
					</div>
						
									
				
					<p class="info">간병 시작 시간을 선택해주세요.</p>
					<p style="font-size:16px; color:red;" class="info">필수 입력사항입니다.</p>
					<div class="form-floating mb-5">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="memberInfo" id="0Input" value="11" checked>
						  <label class="form-check-label" for="0Input">없음</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="memberInfo" id="1Input" value="12">
						  <label class="form-check-label" for="1Input">1년미만</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="memberInfo" id="2Input" value="13">
						  <label class="form-check-label" for="2Input">1~3년</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="memberInfo" id="3Input" value="14">
						  <label class="form-check-label" for="3Input">3~5년</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="memberInfo" id="5Input" value="15">
						  <label class="form-check-label" for="5Input">5년이상</label>
						</div>
					</div>		
					
					<p class="info">만약 경력이 있다면, 어떤 서비스를 경험했는지 선택해주세요.(0~3개)</p>
					<div class="form-floating mb-5">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="6" name="memberInfo" id="expS1Input">
						  <label class="form-check-label" for="expS1Input">병원돌봄</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="7" name="memberInfo" id="expS2Input">
						  <label class="form-check-label" for="expS2Input">가정돌봄</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="8" name="memberInfo" id="expS3Input">
						  <label class="form-check-label" for="expS3Input">동행서비스</label>
						</div>
					</div>		
					
					
					<p class="info">만약 경력이 있다면, 어떤 질환 환자를 경험했는지 선택해주세요.(0~10개)</p>
					<div class="form-floating mb-5">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="21" name="memberInfo" id="expD1Input">
						  <label class="form-check-label" for="expD1Input">치매</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="22" name="memberInfo" id="expD2Input">
						  <label class="form-check-label" for="expD2Input">호흡기 질환</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="23" name="memberInfo" id="expD3Input">
						  <label class="form-check-label" for="expD3Input">거동불편</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="24" name="memberInfo" id="expD4Input">
						  <label class="form-check-label" for="expD4Input">와상환자</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="25" name="memberInfo" id="expD5Input">
						  <label class="form-check-label" for="expD5Input">파킨슨</label>
						</div></br>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="26" name="memberInfo" id="expD6Input">
						  <label class="form-check-label" for="expD6Input">수면질환</label>
						</div>						
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="27" name="memberInfo" id="expD7Input">
						  <label class="form-check-label" for="expD8Input">정신질환</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="28" name="memberInfo" id="expD8Input">
						  <label class="form-check-label" for="expD9Input">기저귀 케어</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="29" name="memberInfo" id="expD9Input">
						  <label class="form-check-label" for="expD10Input">재활</label>
						</div>
						<div class="form-check form-check-inline">
						     <input class="form-check-input" type="checkbox" value="30" name="memberInfo" id="expD10Input">
						  <label class="form-check-label" for="expD11Input">기타</label>
						</div>													
					</div>	
					
					
					<p class="info">관련 자격사항이 있다면 선택해주세요.(0~3개)</p>
					<div class="form-floating mb-5">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="51" name="memberInfo" id="license1Input">
						  <label class="form-check-label" for="license1Input">간병사</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="52" name="memberInfo" id="license2Input">
						  <label class="form-check-label" for="license2Input">요양보호사</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" value="53" name="memberInfo" id="license3Input">
						  <label class="form-check-label" for="license3Input">간호조무사</label>
						</div>
					</div>		
					
					
					<p class="info">생각하시는 적정 1일 돌봄 비용은 얼마인가요?</p>
					<p style="font-size:18px; color:red;" class="info">필수 입력사항입니다.</p>
					<div class="form-floating mb-5">
						<div class="row">
						  <div class="col">
						    <input type="number" class="form-control" placeholder="최소 금액" name="minMoney" id="minMoneyInput">
						  </div>
						  <div class="col-md-1" style="font-size: 20px;">~</div>
						  <div class="col">
						    <input type="number" class="form-control" placeholder="최대 금액" name="maxMoney" id="maxMoneyInput">
						  </div>
						</div>
					</div>					
					
					<p class="info">자기소개를 100자 이내로 입력해주세요.</p>
					<div class="form-floating mb-5">
						<textarea class="form-control" id="careIntro" name="careIntro" rows="3" maxlength="100"></textarea>
						<label for="careIntro">자기소개(100자 이내)</label>
					</div>														
				</div>
			</div>
			
			<div class="sns-section d-flex flex-column justify-content-center mt-3 fs-5">
				<p class="text-center">버튼을 누르면<br>회원가입이 완료됩니다.</p>
			</div>
			<div class="sign-btn d-flex flex-column">
				<p class="text-center ifCheck" style="font-size:20px"> </p>
				<button type="button" class="signIn-btn mt-4" id="nextButton"><span>회원가입</span></button>
			</div>

							
			
		</form>
	</main>
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	
	
	<script th:inline="javascript">
		
		window.onload=()=>{
			const nextButton = document.getElementById('nextButton');
			const form = document.getElementById('enrollForm');
			nextButton.addEventListener('click', ()=>{
				let isValid = true;		
				
				if(isValid){
					if(!inputCheck()){
						isValid = false;
					}
				}
				if(isValid){
					form.submit();
				}
									
			});	
		}
		
		const minMoneyInput = document.getElementById('minMoneyInput');
		const maxMoneyInput = document.getElementById('maxMoneyInput');				
		const inputs = {minMoneyInput, maxMoneyInput};
		const ifCheck = document.querySelector('.ifCheck');
				
		function inputCheck(){ 
			for(const input of Object.values(inputs)){
				if(input.value.trim() == ''){
					if(ifCheck){
						ifCheck.innerText = "필수 입력 사항을 빠짐없이 작성해주세요."
						ifCheck.style.color="red";
						input.focus();
					}
					return false;
				}else{
					if(ifCheck){
						ifCheck.innerText = ""
					}
					return true;
				}
			}	
		}
	
		
	
	
	
	
	
	
	
	
	
	
	
	</script>
		
		
</body>
</html>