<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link th:href="@{css/joinMaching.css}" rel="stylesheet" type="text/css"/>
 <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
	<div class="title-content d-flex justify-content-center">
		<a href="home.do"><img class="logo-image mb-4 w-75" src="image/logo-removebg.png" width="130"></a>	
		<h1 class="h1 mb-1 fw-bold mb-1 text-center">공동간병</h1><br>
	</div>
	<div class="title2-content d-flex justify-content-center">	
		<div class="form-floating mb-3 fw-bold mb-5">	
			<table class="table" style="font-size:24px;">
			    <tr>
			      <th scope="col" style="width:200px;">병원명</th>
			      <th scope="col" style="width:500px;">[[${hospitalName}]]</th>
			      <th scope="col" rowspan="2" style="width:400px; border:none;'">
					<div class="sign-btn d-flex flex-column">
						<button type="submit" class="signIn-btn mt-1">
							<span>공동 간병 그룹 모집</span>
						</button>
			      	</div>
			      </th>
			    </tr>	
			    <tr>
			      <td scope="col" style="width:200px;">주소</td>
			      <td scope="col" style="width:500px;">[[${hospitalName}]]</td>
			    </tr>		
			</table>	
		</div>
	</div>




	<main class="inner-content d-flex justify-content-center">
		<div class="tableDiv">
			<div class="form-floating mb-5 mb-5">
				<table class="tableGr">
					<thead>
					    <tr>
					      <th scope="col" style="width:90px;">NO</th>
					      <th scope="col" style="width:120px;">1</th>
					      <th scope="col" style="width:90px;">인원</th>
					      <td scope="col" style="width:120px;">2명</td>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th>시작날짜</th>
					      <td>2024-02-01</td>
					      <th>종료날짜</th>
					      <td>2024-02-01</td>
					    </tr>
					     <tr>
					      <th>상세주소</th>
					      <td colspan="3">000병원 000호,001호</td>
					    </tr>					
					  </tbody>
					  	<tr>
					      <th colspan="2">1인당 1일 돌봄비용</th>
					      <td colspan="2">1000원</td>
					    </tr>		
				</table>
			</div>
			<div class="form-floating mb-5 mb-5">
				<table class="table Gr">
					<thead>
					    <tr>
					      <th scope="col" >NO</th>
					      <th scope="col">1</th>
					      <th scope="col">인원</th>
					      <td scope="col">2명</td>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th>시작날짜</th>
					      <td>2024-02-01</td>
					      <th>종료날짜</th>
					      <td>2024-02-01</td>
					    </tr>
					     <tr>
					      <th>상세주소</th>
					      <td colspan="3">000병원 000호,001호</td>
					    </tr>					
					  </tbody>
					  	<tr>
					      <th colspan="3">1인당 1일 돌봄비용</th>
					      <td colspan="1">1000원</td>
					    </tr>		
				</table>
			</div>				
		</div>
		
		
		<div class="tableDiv">
			<div class="form-floating mb-5">
				<table class="table Gr">
					<thead>
					    <tr>
					      <th scope="col" >NO</th>
					      <th scope="col">1</th>
					      <th scope="col">인원</th>
					      <td scope="col">2명</td>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th>시작날짜</th>
					      <td>2024-02-01</td>
					      <th>종료날짜</th>
					      <td>2024-02-01</td>
					    </tr>
					     <tr>
					      <th>상세주소</th>
					      <td colspan="3">000병원 000호,001호</td>
					    </tr>					
					  </tbody>
					  	<tr>
					      <th colspan="3">1인당 1일 돌봄비용</th>
					      <td colspan="1">1000원</td>
					    </tr>		
				</table>
			</div>	
			<div class="form-floating mb-5">
				<table class="table Gr">
					<thead>
					    <tr>
					      <th scope="col" >NO</th>
					      <th scope="col">1</th>
					      <th scope="col">인원</th>
					      <td scope="col">2명</td>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th>시작날짜</th>
					      <td>2024-02-01</td>
					      <th>종료날짜</th>
					      <td>2024-02-01</td>
					    </tr>
					     <tr>
					      <th>상세주소</th>
					      <td colspan="3">000병원 000호,001호</td>
					    </tr>					
					  </tbody>
					  	<tr>
					      <th colspan="3">1인당 1일 돌봄비용</th>
					      <td colspan="1">1000원</td>
					    </tr>		
				</table>	
			</div>	
		</div>
		











	
				
	</main>
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	
	
	<script th:inline="javascript">

	
	
	</script>
		
		
</body>
</html>