<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link th:href="@{css/joinMaching.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
	<div class="wrap">
		<div class="title-content d-flex justify-content-center mx-auto">
			<a href="home.do"><img class="logo-image mb-4 w-75" src="image/logo-removebg.png" width="130"></a>	
			<h1 class="h1 mb-1 fw-bold mb-1 text-center">공동간병</h1><br>
		</div>
		<div class="title2-content d-flex justify-content-center mx-auto">	
			<div class="form-floating mb-3 fw-bold mb-5 mx-auto">	
				<table class="table" style="font-size:22px;line-height:40px;" id="hoInfo">
				    <tr>
				      <th scope="col" style="width:100px;">병원명</th>
				      <td id="hospitalName" scope="col" style="width:600px;">[[${hospital.hospitalName}]]</td>
				      <th scope="col" rowspan="2" style="width:400px; border:none;'">
						<div class="sign-btn  flex-column">
							<button type="button" id="insertGruop" class="signIn-btn mt-1">
								공동간병 모집
							</button>
				      	</div>
				      </th>
				    </tr>	
				    <tr>
				      <th scope="col" style="width:100px;">주소</th>
				      <td scope="col"id="hospitalAddress" style="width:600px;font-size:16px;">[[${hospital.hospitalAddress}]]</td>
				    </tr>		
				</table>	
			</div>
		</div>
	
		<main class="container-xl  justify-content-center mx-auto" style="width:1600px; padding:0 auto">
			<th:block th:if="${list != null}">
				<div class="tableDiv" th:each="gm : ${list}">
					<table class="table room">
						<thead>
						    <tr>
						      <th scope="col" >NO</th>
						      <th scope="col" >[[${gm.matNo}]]</th>
						      <th scope="col" >인원</th>
						      <td scope="col" >[[${gm.ptCount}]]명</td>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th>시작날짜</th>
						      <td>[[${gm.beginDt}]]</td>
						      <th>종료날짜</th>
						      <td>[[${gm.endDt}]]</td>
						    </tr>
						    <tr>
						      <th>시작시간</th>
						      <td>[[${gm.beginTime}]]시</td>
						      <th>종료시간</th>
						      <td>[[${gm.endTime}]]시</td>
						    </tr>
						     <tr>
						      <th>상세주소</th>
						      <td colspan="3">[[${gm.matAddressInfo}]]</td>
						    </tr>					
						  	<tr>
						      <th colspan="2">1인당 1일 돌봄비용</th>
						      <td colspan="2">[[${gm.antePay}]]</td>
						    </tr>
						    <tr>
						      <th>요청사항</th>
						      <td colspan="3">[[${gm.matRequest}]]</td>
						    </tr>
						</tbody>
					</table>
				</div>
			</th:block>	
			<th:block th:if="${list == null}">
				<h5 class="h5 mb-3 fw-bold mb-5">아직 개설된 공동간병 그룹이 없습니다.</h5>
				<h5 class="h5 mb-3 fw-bold mb-5">새롭게 공동간병 그룹을 만들어보세요.</h5>
			</th:block>
		</main>






		<div class="modal fade modal-xl" id="gmContentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-xl">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		      	<h4 class="h4 mb-2 fw-bold">공동간병 그룹 상세 정보</h4>
				<table class="table" id="gmInfo"></table>	
									
				<h4 class="h4 mb-1 fw-bold">공동간병 그룹 참여자 상세 정보</h4>
				<div id="ptDiv"></div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		


					
	</div>
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	
	
	<script th:inline="javascript">
	
	window.onload = function() {
	    document.getElementById("insertGruop").addEventListener('click', function() {
	    	const hospitalName = document.getElementById("hospitalName").innerText;
	    	const hospitalAddress = document.getElementById("hospitalAddress").innerText;
	    	
	        location.href = 'joinMachingEnrollView.jm?hospitalName='+hospitalName+'&hospitalAddress='+hospitalAddress;
	    });
	
	
		const tableDivs = document.querySelectorAll('.tableDiv')
	
		for(const tableDiv of tableDivs){
			tableDiv.addEventListener('click', function(){
				$('#gmContentModal').modal('show');

				
				const matNoTd = this.querySelector('th').nextElementSibling;
				console.log(matNoTd);
				if(matNoTd){
					let matNo = '';
					matNo = matNoTd.innerText;
					console.log(matNo);
					
					$.ajax({
						url : 'getGmContent.jm',
						type : 'post',
						data : {'matNo' : matNo},
						dataType : 'json',
						success : data => {
							const gmMatMatptInfo = data.gmMatMatptInfo;
							const gmPts = data.gmPts;
							
							const tableGmInfoInnerHTML = `
							    <thead>
							        <tr>
							            <th scope="col">NO</th>
							            <th scope="col">${gmMatMatptInfo.matNo}</th>
							            <th scope="col">인원</th>
							            <td scope="col">${gmMatMatptInfo.ptCount}명</td>
							        </tr>
							    </thead>
							    <tbody>
							        <tr>
							            <th>시작날짜</th>
							            <td>${gmMatMatptInfo.beginDt}</td>
							            <th>종료날짜</th>
							            <td>${gmMatMatptInfo.endDt}</td>
							        </tr>
							        <tr>
							            <th>시작시간</th>
							            <td>${gmMatMatptInfo.beginTime}시</td>
							            <th>종료시간</th>
							            <td>${gmMatMatptInfo.endTime}시</td>
							        </tr>
							        <tr>
							            <th>상세주소</th>
							            <td colspan="3">${gmMatMatptInfo.matAddressInfo}</td>
							        </tr>					
							        <tr>
							            <th colspan="2">1인당 1일 돌봄비용</th>
							            <td colspan="2">${gmMatMatptInfo.antePay}원</td>
							        </tr>
							        <tr>
							            <th>요청사항</th>
							            <td colspan="3">${gmMatMatptInfo.matRequest}</td>
							        </tr>
							    </tbody>
							`;
							
							const tableGmInfo = document.querySelector('#gmInfo');
							if(tableGmInfo){
								tableGmInfo.innerHTML = tableGmInfoInnerHTML;								
							}
													
							
							
							const ptDiv = document.getElementById("ptDiv");
							for(const gmPt of gmPts){
								const ptAge = gmPt.ptAge
								console.log(ptAge);
								
								const today = new Date();
							    const birthDate = new Date(ptAge);
							    let age = today.getFullYear() - birthDate.getFullYear();
							    const monthDifference = today.getMonth() - birthDate.getMonth();
						
							    if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
							        age--;
							    }
															
								
								const tableDiv = document.createElement('div');
								tableDiv.className = "tableDiv"
								ptDiv.append(tableDiv);
								
								const tableDivInnerHTML=`
									<table class="table pt">
										<thead>
										    <tr>
										      <th scope="col" >이름</th>
										      <th colspan="3" scope="col" >${gmPt.ptName}</th>
										    </tr>
										  </thead>
										  <tbody>
										    <tr>
										      <th>성별</th>
										      <td>${gmPt.ptGender == 'F' ? '여성':'남성'}</td>
										      <th>나이</th>
										      <td>${age}</td>
										    </tr>
										    <tr>
										      <th>키</th>
										      <td>${gmPt.ptHeight}cm</td>
										      <th>몸무게</th>
										      <td>${gmPt.ptWeight}kg</td>
										    </tr>
										     <tr>
										      <th>질환</th>
										      <td colspan="3">${gmPt.disease}</td>
										    </tr>					
										  	<tr>
										     <th>중증도</th>
										      <td colspan="3">${gmPt.diseaseLevel}</td>
										    </tr>
										    <tr>
										      <th >요청사항</th>
										      <td colspan="3" >${gmPt.ptRequest}</td>
										    </tr>
										</tbody>
									</table>`;	
							
								tableDiv.innerHTML = tableDivInnerHTML;
							}
						},
						error : data => {
							console.log(data)
						}										
					});
				}
			});
		}
	};
	
	
	
	function calculateAge(birthdate) {
	    const today = new Date();
	    const birthDate = new Date(birthdate);
	    let age = today.getFullYear() - birthDate.getFullYear();
	    const monthDifference = today.getMonth() - birthDate.getMonth();

	    // 생일이 지나지 않았거나 같은 달이지만 생일이 지나지 않은 경우
	    if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
	        age--;
	    }
	    return age;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
	</script>
		
		
</body>
</html>