<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/enroll.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
	<div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
	<main class="inner-content d-flex justify-content-center">
		<form action="enrolljoinMaching.jm" method="post" id="enrollForm">
			<div class="login-wrap">
				<a href="home.do"><img class="logo-image mb-4 w-75" src="image/logo-removebg.png" width="150"></a>
				<h1 class="h3 mb-3 fw-bold mb-5 text-center">공동간병 그룹 모집</h1>
				<h5 class="h5 mb-1 fw-bold mb-1">아래 내용은 간병인 정보 입력 사항입니다.</h5>
				<h5 class="h5 mb-3 fw-bold mb-5">이를 바탕으로 보다 정확한 매칭 서비스를 제공할 수 있습니다.</h5>
				<div class="title2-content d-flex justify-content-center mx-auto">	
					<div class="form-floating mb-3 fw-bold mb-5 mx-auto">	
						<table class="table" style="font-size:22px;line-height:40px;" id="hoInfo">
						    <tr>
						      <th scope="col" style="width:100px;">병원명</th>
						      <td id="hospitalName" scope="col" style="width:600px;">[[${hospital.hospitalName}]]</td>
						    </tr>	
						    <tr>
						      <th scope="col" style="width:100px;">주소</th>
						      <td scope="col"id="hospitalAddress" style="width:600px;font-size:16px;">[[${hospital.hospitalAddress}]]</td>
						    </tr>		
						</table>	
					</div>
				</div>
				
				
				
				
				<div class="login-input">
					
					<p class="info">그룹 인원을 선택해주세요</p>
					<div class="form-floating mb-5">
						<div class="form-check form-check-inline">
							<span>
					      		<input type="radio" class="btn-check" name="options-outlined" id="2p" autocomplete="off" checked>
								<label class="btn btn-outline-success" for="success-outlined">2명</label>
					      	</span>
					      	<span>
					      		<input type="radio" class="btn-check" name="options-outlined" id="3p" autocomplete="off">
								<label class="btn btn-outline-success" for="success-outlined">3명</label>		
					      	</span>
						</div>
					</div>	
					
					
					<p class="info">기간을 선택해주세요.</p>
					<div class="form-floating mb-5">
						<div class="row">
						  <div class="col">
						    <input type="date" class="form-control" id="startDay" name="startDay">
						  </div>
						  <div class="col-md-1" style="font-size: 20px;">~</div>
						  <div class="col">
						    <input type="date" class="form-control" id="startDay" name="startDay">
						  </div>
						</div>
					</div>					
					
					<p class="info">시간을 선택해주세요.</p>
					<div class="form-floating mb-5">
						<div class="row">
						  <div class="col">
						   <select class="form-select" aria-label="Default select example">
								  <option th:each="num : ${#numbers.sequence(00, 24)}" value="${num}">[[${num}]] 시</option>
							</select>
						  </div>
						  <div class="col-md-1" style="font-size: 20px;">~</div>
						  <div class="col">
						    <select class="form-select" aria-label="Default select example">
								  <option th:each="num : ${#numbers.sequence(00, 24)}" value="${num}">[[${num}]] 시</option>
							</select>
						  </div>
						</div>
					</div>		
					 
					
					<p class="info">돌봄 서비스를 진행할 구체적인 장소를 입력해주세요.</p>
					<div class="form-floating mb-5">
						<input type="text" class="form-control" id="idInput" name="memberId" >
						<label for="idInput" id="idInputLabel">상세 주소</label>
					</div>
					
					<p class="info">1인당 1일 돌봄 비용을 입력해주세요.</p>
					<div class="form-floating mb-5">
						<input type="number" class="form-control" min="0" id="idInput" name="memberId" >
						<label for="idInput" id="idInputLabel">상세 주소</label>
					</div>
					
					
					<p class="info">기타 요청사항을 100자 이내로 입력해주세요.</p>
					<div class="form-floating mb-5">
						<textarea class="form-control" id="careIntro" name="careIntro" rows="3" maxlength="100"></textarea>
						<label for="careIntro">자기소개(100자 이내)</label>
					</div>									
															
				</div>
			</div>
			
			<div class="sns-section d-flex flex-column justify-content-center mt-3 fs-5">
				<p class="text-center">버튼을 누르면<br>공동간병 모집 신청이 완료됩니다.</p>
			</div>
			<div class="sign-btn d-flex flex-column">
				<p class="text-center ifCheck" style="font-size:20px"> </p>
				<button type="button" class="signIn-btn mt-4" id="nextButton"><span>공동간병 모집</span></button>
			</div>

							
			
		</form>
	</main>
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	
	
	<script th:inline="javascript">
		
		window.onload=()=>{
			const nextButton = document.getElementById('nextButton');
			const form = document.getElementById('enrollForm');
			nextButton.addEventListener('click', ()=>{
				let isValid = true;		
				
				if(isValid){
					if(!inputCheck()){
						isValid = false;
					}
				}
				if(isValid){
					form.submit();
				}
									
			});	
		}
		
		const input = document.getElementsByTagName('input');
		const ifCheck = document.querySelector('.ifCheck');
				
		function inputCheck(){ 
			for(const input of Object.values(inputs)){
				if(input.value.trim() == ''){
					if(ifCheck){
						ifCheck.innerText = "필수 입력 사항을 빠짐없이 작성해주세요."
						ifCheck.style.color="red";
						input.focus();
					}
					return false;
				}else{
					if(ifCheck){
						ifCheck.innerText = ""
					}
					return true;
				}
			}	
		}
	
		
	
	
	
	
	
	
	
	
	
	
	
	</script>
		
		
</body>
</html>