<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/login.css}" rel="stylesheet" type="text/css"/>
<style>
    @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
	}
	body{
		font-family: 'Pretendard-Regular';
	}
	
    .hidden { display: none; }
    .text-primary { color: #66cc66; }
    .text-primary:hover { color: #55aa55; }
    .badge-primary { background-color: orange; }
    .btn-write {
	    height:40px;
		font-size:18px;
		border-radius:25px; 
		border:none;
        background-color: #8DD986;
        
        color: black;
    }
    
   
</style>
</head>
<body>
    <div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
    <main class="container">
        <div class="row">
            <h1 class="text-center">간병인 커뮤니티</h1>
            <br>
            <div class="col-md-9" align="center">
                <table class="table table-bordered bg-white table-hover" align="center">
                    <thead align="center">
                        <tr>
                            <th width="5%">번호</th>
                            <th width="8%">카테고리</th>
                            <th width="20%">제목</th>
                            <th width="10%">작성자</th>
                            <th width="6%">지역</th>
                            <th width="10%">작성일</th>
                            <th width="5%">조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-light">
                            <td>1</td>
                            <td>자게</td>
                            <td>게시글1<span class="badge badge-primary rounded-pill">10</span></td>
                            <td>User01</td>
                            <td>서울</td>
                            <td>yyyy-mm-dd</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>응원</td>
                            <td>게시글2</td>
                            <td>User02</td>
                            <td>서울</td>
                            <td>yyyy-mm-dd</td>
                            <td>0</td>
                        </tr>
                        <tr class="table-light">
                            <td>3</td>
                            <td>자게</td>
                            <td>게시글3</td>
                            <td>User03</td>
                            <td>서울</td>
                            <td>yyyy-mm-dd</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>자게</td>
                            <td>게시글4</td>
                            <td>User04</td>
                            <td>서울</td>
                            <td>yyyy-mm-dd</td>
                            <td>0</td>
                        </tr>
                        <tr class="table-light">
                            <td>5</td>
                            <td>자게</td>
                            <td>게시글5</td>
                            <td>User05</td>
                            <td>서울</td>
                            <td>yyyy-mm-dd</td>
                            <td>0</td>
                        </tr>
                        
                    </tbody>
                </table>
                <div>
	                <nav aria-label="Standard pagination example" style="float: right;">
	                  <ul class="pagination">
	                    <li class="page-item disabled">
	                      <span class="page-link">&laquo;</span>
	                    </li>
	                    <li class="page-item"><a class="page-link" href="#">1</a></li>
	                    <li class="page-item active" aria-current="page">
	                      <span class="page-link">2</span>
	                    </li>
	                    <li class="page-item"><a class="page-link" href="#">3</a></li>
	                    <li class="page-item">
	                      <a class="page-link" href="#">&raquo;</a>
	                    </li>
	                  </ul>
	                </nav>
                </div>
                <br>
             <div class="input-group mb-5 w-4" style="width:500px;">
				  <select class="form-select form-select-sm" aria-label="Small select example" style="width:5%;">
				    <option selected>전체</option>
				    <option value="1">제목</option>
				    <option value="2">작성자</option>
				    <option value="3">글내용</option>
				  </select>
				  <input type="text" class="form-control" aria-label="Text input with 2 dropdown buttons" style="width:60%;">
				  <button class="btn btn-outline-primary" type="button">검색</button>
				</div>
            </div>
            
            <div class="col-md-3"> 
                <button type="button" class="btn-write w-100 mb-4" th:onclick="location.href='writeBoard.bo'">글쓰기</button>
                <button class="btn-write w-100 mb-4 btn-sm" th:onclick="toggleLocationList()">▼지역</button>
                <div id="LocationList" class="hidden">
                    <div class="p-4 border">
                            <ul class="bg-info-subtle list-group">
                                <li class="list-group-item"><a href="#" class="text-dark">서울</a></li>
                                <li class="list-group-item"><a href="#" class="text-dark">경기</a></li>
                                <li class="list-group-item"><a href="#" class="text-primary">인천</a></li>
                                <li class="list-group-item"><a href="#" class="text-primary">충청</a></li>
                                <li class="list-group-item"><a href="#" class="text-primary">전라</a></li>
                                <li class="list-group-item"><a href="#" class="text-primary">경상</a></li>
                                <li class="list-group-item"><a href="#" class="text-primary">강원</a></li>
                                <li class="list-group-item"><a href="#" class="text-primary">제주</a></li>
                            </ul>
                    </div>
                </div>
               	<div class="sidebar-section">
	                <div class="bg-success-subtle p-4 border mt-4">
	                    <h5><a href="#" class="text-primary">전체글보기</a></h5>
	                    <h2 class="h5 font-weight-bold"><a href="#" class="text-primary">공지사항</a></h2>
	                        
	                    <ul class="h5 font-weight-bold mb-2">자유게시판</ul>>
	                    <ul class="list-unstyled mb-4">
	                        <li><a href="#" class="text-primary">응원의 한마디</a></li>
	                        <li><a href="#" class="text-primary">수다방</a></li>
	                    </ul>
	                    <h2 class="h5 font-weight-bold mb-2">보호자 나눔방</h2>
	                    <ul class="list-unstyled mb-4">
	                        <li><a href="#" class="text-primary">간병 가족 정보방</a></li>
	                        <li><a href="#" class="text-primary">간병일지</a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	       </div>
    </main>
    <div class="footer" th:replace="~{common/footer.html :: footer}"></div>
    <script>

        function toggleLocationList() {
            var LocationList = document.getElementById('LocationList');
            if (LocationList.classList.contains('hidden')) {
                LocationList.classList.remove('hidden');
            } else {
                LocationList.classList.add('hidden');
            }
        }
    </script>
</body>
</html>
