<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>환자 커뮤니티</title>
<style>
    @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
	}
	
	body{
		font-family: 'Pretendard-Regular';
	}
	
    .hidden { display: none; }
    .text-primary:hover { color: #55aa55; }
    .badge-primary {
    	 background-color: #FCDAB7; 
    	 color:black;
    	 }
    
    .btn-outline-area {
	    color: black;
	    border: 1px solid #1E5F74;
	    border-radius:10px; 
	    width: 80px;
	    margin : 10px 0;
	    
		}
	
	.btn-outline-area:hover, 
	.btn-outline-area:active, 
	.btn-outline-area:focus, 
	.btn-outline-area.active {
	    color: black; /* 텍스트 색상 */
	    background-color: white; /* 배경색 */
	    border: 3px solid #1E5F74;
    	border-radius:10px; 
	}
	
	.btn-check:checked + .btn-outline-area {
    color: black;
	background-color: white; /* 배경색 */
	border: 3px solid #1E5F74;
    font-weight: bold;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  						7px 7px 20px 0px rgba(0,0,0,.1),
  						4px 4px 5px 0px rgba(0,0,0,.1);
}

    .btn-write {
	    height:40px;
		font-size:18px;
		font-weight: bold;
		border-radius:5px; 
		border:none;
        background-color: #1E5F74;
        color: white;
        margin : 10px 0;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  						7px 7px 20px 0px rgba(0,0,0,.1),
  						4px 4px 5px 0px rgba(0,0,0,.1);
    }
    .bg-board-main{
    	background: white;
    }
    .bg-category-list{
    	background-color: white;
    	border: 0;
    	border-style:solid;
    	border-color: #cdf2c9;
    	border-radius:15px; 
    }
    .bh-area-list{
    	background-color: white;
    	border-color: #FFDAB9;
    	border-style:solid;
    	border-radius:25px; 
    }
    .bg-area-btn{
    	background-color: #FFDAB9;
    	border-radius:25px; 
    }
    .btn-search {
		border:none;
        background-color: #8DD986;
        color: black;
        width:60px;
    }
    
    .text-dark{text-decoration: none;}

    
   
</style>
</head>
<body>
    <div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
    <main class="bg-board-main container p-5">
        <div class="row h-50 p-3">
        	<div class="text-center m-4">
            <h1 class="text-center m-4" style="font-weight: bold;"  id="target">로고로고 커뮤니티</h1>
            </div>
            <br><br>
            <div class="col-md-9 p-4" align="center">
            <!-- 지역 hidden -->
               <form th:action="@{/communityBoardList.bo}" method="get" id="areaForm">
				    <input type="hidden" name="categoryNo" id="categoryNo" th:value="${categoryNo}">
				    <input type="checkbox" class="btn-check" id="seoul" name="area" value="1" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 1)}">
				    <label class="btn-outline-area btn-sm me-2  mb-2" for="seoul">서울</label>
				    <input type="checkbox" class="btn-check" id="busan" name="area" value="2" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 2)}">
				    <label class="btn-outline-area btn-sm me-2" for="busan">부산</label>
				    <input type="checkbox" class="btn-check" id="daegu" name="area" value="3" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 3)}">
				    <label class="btn-outline-area btn-sm me-2" for="daegu">대구</label>
				    <input type="checkbox" class="btn-check" id="inchon" name="area" value="4" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains	(areas, 4)}">
				    <label class="btn-outline-area btn-sm me-2" for="inchon">인천</label>
				    <input type="checkbox" class="btn-check" id="gwangju" name="area" value="5" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 5)}">     
				    <label class="btn-outline-area btn-sm me-2" for="gwangju">광주</label>				    
				    <input type="checkbox" class="btn-check" id="daejeon" name="area" value="6" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 6)}">
				    <label class="btn-outline-area btn-sm me-2" for="daejeon">대전</label>
				    <input type="checkbox" class="btn-check" id="ulsan" name="area" value="7" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 7)}">
				    <label class="btn-outline-area btn-sm me-2" for="ulsan">울산</label>
				    <input type="checkbox" class="btn-check" id="sejong" name="area" value="17" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 17)}">
				    <label class="btn-outline-area btn-sm me-2" for="sejong">세종</label>
				    <input type="checkbox" class="btn-check" id="jeju" name="area" value="16" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 16)}">
				    <label class="btn-outline-area btn-sm me-2" for="jeju">제주</label>
				    <input type="checkbox" class="btn-check" id="gyeongi" name="area" value="8" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 8)}">
				           				     <br> 
				    <label class="btn-outline-area btn-sm me-2" for="gyeongi">경기도</label>
				    <input type="checkbox" class="btn-check" id="gangwon" name="area" value="9" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 9)}">
				    <label class="btn-outline-area btn-sm me-2" for="gangwon">강원도</label>
				    <input type="checkbox" class="btn-check" id="chungcheongbuk" name="area" value="10" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 10)}">
				    <label class="btn-outline-area btn-sm me-2" for="chungcheongbuk">충청북도</label>
				    <input type="checkbox" class="btn-check" id="chungcheongnam" name="area" value="11" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 11)}">
				    <label class="btn-outline-area btn-sm me-2" for="chungcheongnam">충청남도</label>
				    <input type="checkbox" class="btn-check" id="jeollabuk" name="area" value="12" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 12)}">
				    <label class="btn-outline-area btn-sm me-2" for="jeollabuk">전라북도</label>
				    <input type="checkbox" class="btn-check" id="jeollanam" name="area" value="13" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 13)}">
				    <label class="btn-outline-area btn-sm me-2" for="jeollanam">전라남도</label>
				    <input type="checkbox" class="btn-check" id="gyongsangbuk" name="area" value="14" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 14)}">
				    <label class="btn-outline-area btn-sm me-2" for="gyongsangbuk">경상북도</label>
				    <input type="checkbox" class="btn-check" id="gyongsangnam" name="area" value="15" autocomplete="off" onchange="submitForm()"
				           th:checked="${areas != null and #lists.contains(areas, 15)}">
				    <label class="btn-outline-area btn-sm me-2" for="gyongsangnam">경상남도</label>
				    <!-- list가 비어있지않거나 리스트에 번호가 있으면 체크 -->
				</form>

			<div class="p-4">
                <table class="table table-bordered bg-white table-hover">
                    <thead align="center">
                        <tr>
                            <th width="4%">번호</th>
                            <th width="10%">카테고리</th>
                            <th width="20%">제목</th>
                            <th width="10%">작성자</th>
                            <th width="6%">지역</th>
                            <th width="10%">작성일</th>
                            <th width="6%">조회수</th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr class="table" th:each="b:${list}" th:if="${list != null}">
                            <td th:text="${b.boardNo}">1</td>
                                <td th:text="${b.categoryName}">카테고리</td>
                                <td>
                                    <span th:text="${b.boardTitle}">제목</span>
                                    <span th:if="${replyCounts != 0}" th:text="${replyCounts[b.boardNo]}" class="badge badge-primary rounded-pill">0</span>
                                </td>
                                <td th:text="${b.memberNickName}">작성자</td>
                                <td th:text="${b.areaName}">지역</td>
                                <td th:text="${b.boardCreateDate}">작성일</td>
                                <td th:text="${b.boardCount}">조회수</td>
                        </tr>
                        <tr th:if="${list == null}">
                            <td colspan="7">게시글이 없습니다.</td>
                        </tr>
                    </tbody>
                </table>
			</div>
		

                <!-- 페이지네이션 -->
                <div class="d-flex justify-content-end align-items-center m-5">
                	<div class="input-group" style="width: 70%;">
                		<form id="searchBoardForm" action="searchBoard.bo" method="get" class="d-flex w-100">
				            <select id="searchType" name="searchType" class="form-select form-select-sm" aria-label="Small select example" style="max-width: 15%;">
				                <option th:value="boardTitle" selected>제목</option>
				                <option th:value="memberNickName">작성자</option>
				                <option th:value="boardContent">글내용</option>
				            </select>
				            <input id="searchText" name="searchText" type="text" class="form-control" aria-label="Text input with dropdown buttons" style="max-width: 65%;">
				            <button class="btn btn-outline-secondary" type="button" id="searchBtn" th:onclick="searchBoard()">검색</button>
				        </form>
				    </div>               
	                <div class="d-flex justify-content-end align-items-center">
	                    <nav aria-label="Standard pagination example">
	                        <ul class="pagination" th:with="loc=${loc}" style="margin:auto 0;color:black;">
	                            <li class="page-item">
	                                <a class="page-link" th:href="@{${loc}(page=${pi.currentPage-1})}" aria-label="Previous">
	                                    <span aria-hidden="true" style="color:black;">&laquo;</span>
	                                </a>
	                            </li>
	                            <li class="page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
	                                <a class="page-link" th:href="@{${loc}(page=${p})}" style="color:black;">[[${ p }]]</a>
	                            </li>
	                            <li class="page-item">
	                                <a class="page-link" th:href="@{${loc}(page=${pi.currentPage+1})}" aria-label="Next">
	                                    <span aria-hidden="true" style="color:black;">&raquo;</span>
	                                </a>
	                            </li>
	                        </ul>
	                    </nav>
                    </div>
                </div>
                
   

                <br>
            </div>
            <div class="col-md-3 p-4">
            	<th:block th:if="${session.loginUser !=null}">
                   	<button type="button" class="btn-write w-100"  th:onclick="location.href='writeBoard.bo'">글쓰기</button>
                   </th:block>
                <!-- 카테고리 -->
                <div class="sidebar-section">
				    <div class="bg-category-list p-4 border mt-4">
				        <ul class="list-group" >
				            <li class="list-group-item fs-5 fw-bold">피간병인 게시판</li>
				            <li class="list-group-item"><a href="#" class="text-dark" onclick="selectCategory(-1)">전체글보기</a></li>
				            <li class="list-group-item fs-5 fw-bold">공지사항</li>
				            <li class="list-group-item"><a href="#" class="text-dark" onclick="selectCategory(0)">공지사항</a></li>
				            <li class="list-group-item fs-5 fw-bold">자유게시판</li>
				            <li class="list-group-item"><a href="#" class="text-dark" onclick="selectCategory(1)">응원의 한마디</a></li>
				            <li class="list-group-item"><a href="#" class="text-dark" onclick="selectCategory(2)">수다방</a></li>
				            <li class="list-group-item fs-5 fw-bold">보호자 나눔방</li>
				            <li class="list-group-item"><a href="#" class="text-dark" onclick="selectCategory(5)">간병 가족 정보</a></li>
				            <li class="list-group-item"><a href="#" class="text-dark" onclick="selectCategory(6)">보호자 간병 일지</a></li>
				        </ul>
				    </div>
				</div>
            </div>
            <form th:action="@{/communityBoardList.bo}" method="get" id="filterForm">
			    <input type="hidden" name="categoryNo" id="categoryNo" value="-1">
			</form>
            
        </div>
        <br><br>
    </main>
    <div class="footer" th:replace="~{common/footer.html :: footer}"></div>
</body>


    <script th:inline="javascript">
    
    	window.onload = () =>{
    		
    		const tbody = document.querySelector('tbody');
			const tds = tbody.querySelectorAll('td');
			for(const td of tds){
				td.addEventListener('click', function(){
					const trTds = this.parentElement.querySelectorAll('td');
					const boardId = trTds[0].innerText;
					console.log(trTds)
					/*<![CDATA[*/ 
						location.href="selectBoard.bo?bId="+ boardId + "&page=" + /*[[${pi.currentPage}]]*/1
					/*]]*/
				})
			}
    	}
    	
    	 function selectCategory(categoryNo) {
    	  		console.log(categoryNo)
    	        document.getElementById('categoryNo').value = categoryNo;
    	        document.getElementById('areaForm').submit();
    	    }
    	
    	function submitForm() {
            document.getElementById('areaForm').submit();
        }
        
    	function searchBoard(){
    		const searchForm = document.getElementById('searchBoardForm')
    		const searchType = document.getElementById('searchType').value;
	        const searchText = document.getElementById('searchText').value;
	        
	        if (searchText.trim() === "") {
	            alert("검색어를 입력하세요.");
	            return;
	        }
	        searchForm.submit();
	        
	        
    	}
    </script>
</html>
