<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/login.css}" rel="stylesheet" type="text/css"/>
<style>
    @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
	}
	
	body{
		font-family: 'Pretendard-Regular';
	}
	
    .hidden { display: none; }
    .text-primary { color: #66cc66; }
    .text-primary:hover { color: #55aa55; }
    .badge-primary { background-color: orange; }
    .btn-write {
	    height:40px;
		font-size:18px;
		border-radius:25px; 
		border:none;
        background-color: #8DD986;
        color: black;
    }
    .bg-board-main{
    	background: white;
    }
    .bg-category-list{
    	background-color: white;
    	border-radius:25px; 
    }
    .bh-area-list{
    	background-color: white;
    	border-radius:25px; 
    }
    .bg-area-btn{
    	background-color: #FFDAB9;
    	border-radius:25px; 
    }
    
     .topAndNavbar {
		background-image:linear-gradient(
		        rgba(0, 0, 0, 0.4),
		        rgba(0, 0, 0, 0.4)
		      )
		      ,url(../image/topImage.jpg);
		    background-size: cover; 
		    background-position: center;
		    background-repeat: no-repeat;
		    transition: background-color 0.5s ease;
	}
	
    
   
</style>
</head>
<body>
    <div class="topAndNavbar">
		<div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
		<div class="top" th:replace="~{common/top.html :: top}"></div>
	</div>
    <main class="bg-board-main container">
    	<div class=" h-50 p-3">
	        <div class="row">
	            <h1 class="text-center">환자 커뮤니티</h1>
	            <br>
	            <div class="col-md-9" align="center">
	                <table class="table table-bordered bg-white table-hover">
	                    <thead align="center">
	                        <tr>
	                            <th width="4%">번호</th>
	                            <th width="8%">카테고리</th>
	                            <th width="20%">제목</th>
	                            <th width="10%">작성자</th>
	                            <th width="6%">지역</th>
	                            <th width="10%">작성일</th>
	                            <th width="5%">조회수</th>
	                        </tr>
	                    </thead>
	                    <tbody align="center">
	                        <tr class="table-light">
	                            <td>1</td>
	                            <td>자게</td>
	                            <td>게시글1<span class="badge badge-primary rounded-pill">5</span></td>
	                            <td>User01</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr>
	                            <td>2</td>
	                            <td>응원</td>
	                            <td>게시글2</td>
	                            <td>User02</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr class="table-light">
	                            <td>3</td>
	                            <td>자게</td>
	                            <td>게시글3</td>
	                            <td>User03</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr>
	                            <td>4</td>
	                            <td>자게</td>
	                            <td>게시글4</td>
	                            <td>User04</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr class="table-light">
	                            <td>5</td>
	                            <td>자게</td>
	                            <td>게시글5</td>
	                            <td>User05</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr class="table-light">
	                            <td>1</td>
	                            <td>자게</td>
	                            <td>게시글1<span class="badge badge-primary rounded-pill">10</span></td>
	                            <td>User01</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr>
	                            <td>2</td>
	                            <td>응원</td>
	                            <td>게시글2</td>
	                            <td>User02</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr class="table-light">
	                            <td>3</td>
	                            <td>자게</td>
	                            <td>게시글3</td>
	                            <td>User03</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr>
	                            <td>4</td>
	                            <td>자게</td>
	                            <td>게시글4</td>
	                            <td>User04</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr class="table-light">
	                            <td>5</td>
	                            <td>자게</td>
	                            <td>게시글5</td>
	                            <td>User05</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr class="table-light">
	                            <td>1</td>
	                            <td>자게</td>
	                            <td>게시글1<span class="badge badge-primary rounded-pill">10</span></td>
	                            <td>User01</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr>
	                            <td>2</td>
	                            <td>응원</td>
	                            <td>게시글2</td>
	                            <td>User02</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr class="table-light">
	                            <td>3</td>
	                            <td>자게</td>
	                            <td>게시글3</td>
	                            <td>User03</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr>
	                            <td>4</td>
	                            <td>자게</td>
	                            <td>게시글4</td>
	                            <td>User04</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        <tr class="table-light">
	                            <td>5</td>
	                            <td>자게</td>
	                            <td>게시글5</td>
	                            <td>User05</td>
	                            <td>서울</td>
	                            <td>yyyy-mm-dd</td>
	                            <td>0</td>
	                        </tr>
	                        
	                    </tbody>
                	</table>
               	
               <div>
               <!-- 페이지네이션 -->
	                <nav aria-label="Standard pagination example" style="float: right;">
	                  <ul class="pagination">
	                    <li class="page-item disabled">
	                      <span class="page-link">&laquo;</span>
	                    </li>
	                    <li class="page-item"><a class="page-link" href="#">1</a></li>
	                    <li class="page-item active" aria-current="page">
	                      <span class="page-link">2</span>
	                    </li>
	                    <li class="page-item"><a class="page-link" href="#">3</a></li>
	                    <li class="page-item">
	                      <a class="page-link" href="#">&raquo;</a>
	                    </li>
	                  </ul>
	                </nav>
                </div>
                <br>
                
                <!--  검색 -->
	             <div class="input-group mb-5 w-4" style="width:500px;">
					  <select class="form-select form-select-sm" aria-label="Small select example" style="width:5%;">
					    <option selected>전체</option>
					    <option value="1">제목</option>
					    <option value="2">작성자</option>
					    <option value="3">글내용</option>
					  </select>
					  <input type="text" class="form-control" aria-label="Text input with 2 dropdown buttons" style="width:60%;">
					  <button class="btn btn-info" type="button">검색</button>
					</div>
	            </div>
            
            <!-- 지역 hidden -->
            <div class="col-md-3"> 
                
                <button class="bg-area-btn w-100 mb-4 btn-sm" th:onclick="toggleLocationList()">▼지역</button>
                <div id="LocationList" class="hidden bh-area-list">
                    <div class="p-4 border">
                            <ul class="list-group w-2">
                                <li class="list-group-item"><a href="#" class="text-dark">서울</a></li>
                                <li class="list-group-item"><a href="#" class="text-dark">경기</a></li>
                                <li class="list-group-item"><a href="#" class="text-dark">인천</a></li>
                                <li class="list-group-item"><a href="#" class="text-dark">충청</a></li>
                                <li class="list-group-item"><a href="#" class="text-dark">전라</a></li>
                                <li class="list-group-item"><a href="#" class="text-dark">경상</a></li>
                                <li class="list-group-item"><a href="#" class="text-dark">강원</a></li>
                                <li class="list-group-item"><a href="#" class="text-dark">제주</a></li>
                            </ul>
                    	
                    </div>
                </div>
                <!-- 카테고리 -->
               	<div class="sidebar-section">
	                <div class="bg-category-list p-4 border mt-4">
		                <ul class="list-group">
		                    <li class="list-group-item"><a href="#" class="text-primary">전체글보기</a></li>
		                    <hr/>
		                    <li class="list-group-item fs-5 fw-bold">공지사항</li>
		                    <li class="list-group-item"><a href="#" class="text-primary">공지사항</a></li>
		                    <hr/>
		                    <li class="list-group-item fs-5 fw-bold">자유게시판</li>
	                        <li class="list-group-item"><a href="#" class="text-primary">응원의 한마디</a></li>
	                        <li class="list-group-item"><a href="#" class="text-primary">수다방</a></li>
		                    <hr/>
		                    <li class="list-group-item fs-5 fw-bold">보호자 나눔방</li>
	                        <li class="list-group-item"><a href="#" class="text-primary">간병 가족 정보방</a></li>
	                        <li class="list-group-item"><a href="#" class="text-primary">간병일지</a></li>
		                </ul>
	                </div>
	            </div>
	            <hr>
	            	<button type="button" class="btn-write w-100 mb-4" th:onclick="location.href='writeBoard.bo'">글쓰기</button>
	            </div>
	        </div>
	       </div>
    	
    </main>
    <div class="footer" th:replace="~{common/footer.html :: footer}"></div>
    
    <script th:inline="javascript">
   
    function toggleLocationList() {
        var LocationList = document.getElementById('LocationList');
        if (LocationList.classList.contains('hidden')) {
            LocationList.classList.remove('hidden');
        } else {
            LocationList.classList.add('hidden');
        }
    }
    	window.onload = () =>{
    		const tbody = document.querySelector('tbody');
			const tds = tbody.querySelectorAll('td');
			for(const td of tds){
				td.addEventListener('click', function(){
					const trTds = this.parentElement.querySelectorAll('td');
					const boardId = trTds[0].innerText;
					console.log(trTds)
					/*<![CDATA[*/ 
						location.href="selectBoard.bo"
					/*]]*/
				})
			}
    	}
        
    </script>
</body>
</html>
