<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>이용가이드</title>
<link th:href="@{css/myInfo.css}" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>

	.faqBoard {
		cursor: pointer;
		border: 1px solid #133B5C;
		border-radius: 10px;
		padding: 10px;
		margin-bottom: 10px;
		background-color: #f9f9f9;
	}
	

	.guide-btn {
		border-color: #1E5F74 !important;
		color: black !important;
		border: 1px solid #1E5F74 !important;
	}

	.guide-btn:hover, .guide-btn:focus,.guide-btn:active {
		background-color: #1E5F74 !important;
		border-color: #1E5F74 !important;
		color:white !important;
	}

</style>
</head>
<body>
	<div th:replace="~{common/navbar :: navbar}"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div align="center" class="myInfo-Border m-4">
						<div class="m-4" style="border-bottom: 2px solid #133B5C;">
							<h1 class="h3 m-4 fw-bold text-center">고객센터</h1>
						</div>
						<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="userGuide.bo">이용가이드</a></div>
						<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="faqBoard.bo">FAQ</a></div>
						<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="qnaBoardList.bo">문의게시판</a></div>
					</div>
				</div>
				
				<div class="col-md-9">
					<div class="row m-4" style="width:950px">
						<div class="m-3 h1 menu-name">이용가이드</div>
					</div>

					<!-- 메뉴 -->
					<div class="row m-4 text-center">
						<div class="col-sm-3 mb-2">
							<button class="btn guide-btn" id="careInfoBtn" style="width: 100%;">간병백과</button>
						</div>
						<div class="col-sm-3 mb-2">
							<button class="btn guide-btn" id="joinMatchingSystemBtn" style="width: 100%;">공동간병</button>
						</div>
						<div class="col-sm-3 mb-2">
							<button class="btn guide-btn" id="matchigSystemInfoBtn" style="width: 100%;">매칭시스템</button>
						</div>
						<div class="col-sm-3 mb-2">
							<button class="btn guide-btn" id="communityUseBtn" style="width: 100%;">커뮤니티 이용 관련</button>
						</div>
					</div>

					<!-- 가이드 내용 -->
					<div class="row m-4">
						<div class="faqBoard myInfo-Border-maincolor mt-2 mb-3" id="careInfoContent">
							<div class="h4 m-1">간병백과</div><hr/>
							<div class="hidden-content">
							<h5>간병백과란 간병과 관련된 모든 지식과 정보를 체계적으로 정리한 백과사전입니다.<br/><br/>
							간병백과는 간병인을 비롯한 일반인이 간병에 필요한 다양한 정보를 쉽게 이해하고 접근할 수 있도록 돕기 위해 만들어진 자료입니다.<br/><br/> 
							간병백과는 간병의 기본 개념, 간병 방법, 사용되는 도구 및 장비, 간병인의 역할, 환자와의 소통 방법, 관련 법률과 제도 등 간병에 필요한 폭넓은 주제가 포함됩니다.<br/><br/>
							간병백과의 목적은 간병을 수행하는 사람들에게 실질적인 지침과 지식을 제공하고, 환자와 그 가족이 간병 과정에서 직면할 수 있는 다양한 상황에 대한 이해를 돕는 것입니다. <br/><br/>
							이는 간병인이 더 나은 서비스를 제공하고, 환자의 삶의 질을 향상시키는 데 중요한 역할을 합니다.<br/><br/>
							찾으시는 간병정보가 없으시다면 검색기능을 이용해주세요<br><br/>
							<img class="matchingGuide m-1"th:src="@{/image/careInformation0.png}" style="width:900px;"><br/><br/>
							</h5>
								<button class="btn guide-btn"; th:onclick="location.href='careInformation.bo'">간병백과학인하러가기</button>
							</div>
						</div>

						<div class="faqBoard myInfo-Border-maincolor mt-2 mb-3" id="joinMatchingSystemContent">
							<div class="h4 m-1">공동간병</div><hr/>
							<div class="hidden-content">
							<h5>공동간병은 2~3명의 환자들을 한명의 간병인이 간병을 하는 든든케어의 시스템입니다.</h5><br>
							<h5>- 모집 및 매칭 시스템 : 많은 시간,고강도의 간병이 필요로 하지않는 저 질환 환자들을 모집해 , 한 간병인이 여러 환자를 동시에 관리할 수 있도록 매칭하는 시스템을 구축합니다.<br/><br/>
								- 비용 절감 : 여러 환자가 한 간병인을 공유함으로써 간병 비용을 절감할 수 있도록 합니다.<br/><br/>
								- 간병인의 효율성 증대 : 간병인은 상대적으로 낮은 난이도의 간병 업무를 여러 명에게 제공함으로써 효율성을 높이고 수입을 증대시킵니다. <br/><br/>
							<hr/>① 먼저 지역과 병원을 선택합니다.<br/><br/>
							<img class="matchingGuide m-1"th:src="@{/image/joinMatchingGuide.png}" style="width:900px;"><br/><br/>
							<hr/>② 현재 공동간병을 기다리는 매칭에 참여하거나, 직접 모집하실수있습니다.<br/><br/>
							<img class="matchingGuide m-1"th:src="@{/image/joinMatchingGuide2.png}" style="width:900px;"><br/><br/>
							<hr/>③ 공동 간병 모집 방법
							<img class="matchingGuide m-1"th:src="@{/image/joinMatchingGuide3.png}" style="width:900px; height:1000px"><br/><br/>
							인원, 비용, 기간등 매칭에 필요한 정보를 입력하시고 공동간병 모집을 클릭하시면 모집방이 생성되며<br>
							다른 공동간병참여자가 모집방에 참여할수있습니다.
							</h5>
							<hr/>
								<button class="btn guide-btn" th:onclick="location.href='joinMatchingMainView.jm'">공동간병하러가기</button>
							</div>
						</div>

						<div class="faqBoard myInfo-Border-maincolor mt-2 mb-3" id="matchingSystemContent">
							<div class="h4 m-1">매칭시스템</div><hr/>
							<div class="hidden-content">
								<h5>든든케어의 매칭시스템은 크게 2가지로 나누어집니다.<br/><br/>
									1. 직접 간병인에게 간병을 요청하는 시스템<br/><br/>
									<img class="matchingGuide m-1"th:src="@{/image/matchingGuide.png}" style="width:900px;">

									① AI가 회원가입때 입력 또는 <button class="btn guide-btn"; th:onclick="location.href='myInfo.me'">내정보</button>하단에 간병인 매칭정보를 확인하여 나에게 맞는 간병인을 추천합니다.<br/><br/>
									② 간병을 하고싶어하는 간병인들의 정보를 나타냅니다.<br><br>
									
								</h5>
									
									<button class="btn guide-btn"; th:onclick="location.href='moreCaregiverInfo.me'">간병인찾기</button><hr/>
								<h5>	
									2. 간병인을 공개 모집하는 시스템<br/><br/>
									① 간병이 필요하신분의 개인정보 입력<br/><br/>
										<img class="matchingGuide m-1"th:src="@{/image/matchingGuide2.png}" style="width:500px; height:800px"><br/><br/>
									간병할 장소를 집 또는 입원한 병원을 선택하고 개인정보를 입력한뒤 다음을 누릅니다.<br/><br/> 					
									② 매칭에 필요한 정보 입력<br/><br/>
										<img class="matchingGuide m-1"th:src="@{/image/matchingGuide3.png}" style="width:400px; height:800px">
										<img class="matchingGuide m-1"th:src="@{/image/matchingGuide4.png}" style="width:400px; height:800px"><br/><br/>
										2-1 기간제간병은 하루이상의 간병을 필요로할때 일정기간동안 연속해서 간병인을 찾습니다.<br/><br/>
										2-2 시간제간병은 하루에 일정시간만을 간병을 요청(예. 주말동안 10시~12시까지 2시간 → 2일 2시간)<br/><br/>
										그 이외의 부분은 환자분께서 간병에 필요한정보를 입력하시면 매칭이 신청됩니다.<br/><br/>
									<button class="btn guide-btn"; th:onclick="location.href='publicMatching.mc'">공개모집하러가기</button>
								</h5>
								<hr/>
								<h5>
									현재 나의 매칭현황을 조회하실수있으며 언제든 우측하단의 나의 매칭현황을 누르시면 확인하실수있습니다.<br/><br/>
									<button class="btn guide-btn"; th:onclick="location.href='goMyMatchingP.mc'">매칭현황보러가기</button>
								</h5>
							</div>
						</div>
						
						<div class="faqBoard myInfo-Border-maincolor mt-2 mb-3" id="communityUseContent">
							<div class="h4 m-1">커뮤니티 이용 관련</div><hr/>
							<div class="hidden-content">
								<h5>든든케어 커뮤니티게시판은 자유롭게 게시글작성이 가능하며, <br/><br/>간병인들간의 간병자격증이나 환자들간의 간병정보 등 다양한 정보를 교류할수있습니다.<br/><br/>
							 
								단,<button class="btn guide-btn" th:onclick="location.href='selectBoard.bo?bId=4&page=2'">커뮤니티 이용가이드</button>를 꼭 숙지하시고 게시판을 이용
								해주셔야하며 가이드 미숙지로 인해 불이익을 받으실수있으니 꼭 한번 확인부탁드립니다.</h5><br/><br/>
								<button class="btn guide-btn" th:onclick="location.href='communityBoardList.bo'">커뮤니티로 가기</button>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	<script th:inline="javascript">
		window.onload = () => {
			const buttons = {
				signUpBtn: document.getElementById('careInfoBtn'),
				findIdPwBtn: document.getElementById('joinMatchingSystemBtn'),
				myInfoBtn: document.getElementById('matchigSystemInfoBtn'),
				communityUseBtn: document.getElementById('communityUseBtn')
			};
			
			const contents = {
				signUpContent: document.getElementById('careInfoContent'),
				findIdPwContent: document.getElementById('joinMatchingSystemContent'),
				myInfoContent: document.getElementById('matchingSystemContent'),
				communityUseContent: document.getElementById('communityUseContent')
			};

			// 다 숨기기
			const hideAllContents = () => {
				for (const key in contents) {
					contents[key].style.display = 'none';
				}
			};

			// 클릭한 컨텐츠만 표시
			for (const btn in buttons) {
				buttons[btn].addEventListener('click', function() {
					hideAllContents();
					const contentId = btn.replace('Btn', 'Content');
					contents[contentId].style.display = 'block';
				});
			}

			// 초기화
			hideAllContents();
		};
	</script>
	
</body>
</html>
