<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	제목 
	내용
	카테고리 - 응원, 수다, 간병정보, 간병일지
	<select class="form-select form-select-sm" aria-label="Small select example">
	  <option selected>카테고리</option>
	  <option value="1">응원</option>
	  <option value="2">수다</option>
	  <option value="3">간병정보</option>
	  <option value="3">간병일지</option>
	</select>
	지역 - 서울, 경기도, 강원도, 경상도, 전라도, 충청도, 제주도
	<select class="form-select form-select-sm" aria-label="Small select example">
	  <option selected>지역</option>
	  <option value="1">서울</option>
	  <option value="2">경기도</option>
	  <option value="3">강원도</option>
	  <option value="4">경상도</option>
	  <option value="5">전라도</option>
	  <option value="6">충청도</option>
	  <option value="7">제주도</option>
	</select>
</body>
</html>