<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.dndncare.admin.model.dao.AdminMapper">

	<!-- 간병백과 게시글 정보를 삽입 -->
	<insert id="insertCareInfomation" useGeneratedKeys="true">
		<selectKey resultType="_int" keyProperty="boardNo" order="BEFORE">
			SELECT SEQ_BID.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARD 
		VALUES(${boardNo}, ${memberNo}, #{boardTitle}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, ${categoryNo}, ${areaNo}, #{boardContent})
	</insert>

	<!-- 간병백과 게시글에 대한 첨부파일을 삽입 -->
	<insert id="insertAttachment">
		INSERT ALL
		<foreach collection="list" item="attm" separator=" ">
			INTO ATTACHMENT 
			VALUES(NEW_AID, ${attm.refBoardNo}, #{attm.originalName}, #{attm.renameName}, 
												#{attm.attmPath}, #{attm.attmLevel}, DEFAULT)
		</foreach>
		SELECT * FROM DUAL
	</insert>


	<!-- 간병백과의 컨텐츠 전체갯수 조회 : 삭제여부 무시 -->
	<select id="getCareInformationListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE CATEGORY_NO = 7
	</select>


	<!-- 간병백과의 일반 글 정보 조회 -->
	<select id="selectAllCareInformation" resultType="Board">
		SELECT * FROM BOARD JOIN MEMBER USING(MEMBER_NO) WHERE CATEGORY_NO = 7 ORDER BY BOARD_UPDATE_DATE DESC
	</select>

	<!-- 간병백과의 첨부파일 조회 -->
	<select id="selectAttachment" resultType="Attachment">
		SELECT *
		FROM ATTACHMENT
		WHERE REF_BOARD_NO IN 
		<foreach collection="list" item="item" open="(" close=")" separator=",">${item}</foreach>
	</select>

	<!-- 간병백과 글 내리기 -->
	<update id="changeStatusCareInformation">
		UPDATE BOARD
		SET BOARD_STATUS = #{status}
		WHERE BOARD_NO = ${boardNo}
	</update>
	
	<!-- 간병백과 첨부파일 내리기 -->
	<update id="changeStatusAttachment">
		UPDATE ATTACHMENT
		SET ATTM_STATUS = #{status}
		WHERE REF_BOARD_NO = ${boardNo}
	</update>

	<!-- 하나의 게시글에 대한 첨부파일 조회  -->
	<select id="selectOneAttachment" resultType="Attachment">
		SELECT *
		FROM ATTACHMENT
		WHERE REF_BOARD_NO = ${boardNo}
	</select>
	
	<!-- 간병백과 수정결과 기존의 첨부파일(썸네일은 대상에서 제외)을 삭제해야하는 경우 -->
	<delete id="deleteAttachment">
		DELETE FROM ATTACHMENT
		WHERE ATTM_NO IN
		<foreach collection="list" item="item" open="(" close=")" separator=",">${item}</foreach>
	</delete>
	
	<!-- 간병백과 기존 글을 조회 -->
	<select id="selectOneBoard" resultType="Board">
		SELECT * FROM BOARD WHERE BOARD_NO = ${boardNo}
	</select>
	
	<!-- 기존의 썸네일을 삭제한다. -->
	<delete id="deleteThumbnail">
		DELETE FROM ATTACHMENT
		WHERE REF_BOARD_NO = ${boardNo} AND ATTM_LEVEL = 0
	</delete>
	
	
	<insert id="insertThumbnail">
		INSERT INTO ATTACHMENT
		VALUES(NEW_AID, ${refBoardNo}, #{originalName}, #{renameName}, 
												#{attmPath}, #{attmLevel}, DEFAULT)
	</insert>
	
	<!-- 간병백과 게시글 수정 : MEMBER_NO, BOARD_TITLE, BOARD_UPDATE_DATE, BOARD_CONTENT -->
	<update id="updateCareInformation">
		UPDATE BOARD
		SET MEMBER_NO = ${memberNo}, BOARD_TITLE = #{boardTitle}, BOARD_UPDATE_DATE = SYSDATE, 
			BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NO = ${boardNo}
	</update>
	
	<select id="selectPayDeposit" resultType="Pay">
		select *
		from pay
		where pay_deposit = #{type}
	</select>
	<!-- 최근 일주일 가입자 수를 조회 -->
	<select id="getMembersListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_CREATE_DATE BETWEEN SYSDATE-7 AND SYSDATE 	
	</select>
	
	<select id="selectWeekMembers" resultType="Member">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_CREATE_DATE BETWEEN SYSDATE-7 AND SYSDATE
		ORDER BY MEMBER_CREATE_DATE DESC
	</select>
	
	<select id="getAllMembersListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
	</select>
	
	<select id="selectAllMembers" resultType="Member">
		SELECT *
		FROM MEMBER
		ORDER BY MEMBER_CREATE_DATE DESC
	</select>
	
	<select id="getSearchMemberListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE ${column} LIKE '%${data}%'
	</select>
	
	<select id="searchMembers" resultType="Member">
		SELECT *
		FROM MEMBER
		WHERE ${column} LIKE '%${data}%'
		ORDER BY MEMBER_CREATE_DATE DESC
	</select>
	
	<update id="updateMembers">
		UPDATE MEMBER
		SET ${column} = #{data}
		WHERE MEMBER_NO = ${memberNo}
	</update>
	
	<select id="getMemberAge" resultType="string">
		SELECT TO_CHAR(MEMBER_AGE, 'YYYY-MM-DD')
		FROM MEMBER
		WHERE MEMBER_NO = ${memberNo}
	</select>
	
	<select id="getEnrollCount" resultType="map">
		SELECT TO_DATE(MEMBER_CREATE_DATE, 'YYYY-MM-DD') AS DT, COUNT(*) AS CNT
		FROM MEMBER
		WHERE TO_DATE(MEMBER_CREATE_DATE, 'YYYY-MM-DD') BETWEEN TO_DATE(SYSDATE - ${begin}, 'YYYY-MM-DD') AND TO_DATE(SYSDATE - ${end}, 'YYYY-MM-DD')
		GROUP BY TO_DATE(MEMBER_CREATE_DATE, 'YYYY-MM-DD')
		ORDER BY 1
	</select>
	
	<!-- 간병인커뮤니티 조회 -->
	<select id="selectCaregiverBoardList" resultType="Board">
		select *
		from board
			join member using(member_no)
		where member_category = 'C' or (member_category='A' and category_no = 0)
		order by board_no desc 
	</select>
	
	<!-- 환자커뮤니티 조회 -->
	<select id="selectPatientBoardList" resultType="Board">
		select *
		from board
			join member using(member_no)
		where member_category = 'P' or (member_category='A' and category_no = 0)
		order by board_no desc
	</select>
	<!-- 간병인커뮤니티 페이지네이션 -->
	<select id="getCaregiverListCount" resultType="_int">
		select count(*)
		from board
			join member using(member_no)
		where member_category = 'C'  or (member_category='A' and category_no = 0)
	</select>
	
	<!-- 환자커뮤니티 페이지네이션 -->
	<select id="getPatientListCount" resultType="_int">
		select count(*)
		from board
			join member using(member_no)
		where member_category = 'P' or (member_category='A' and category_no = 0)
	</select>
	
	<!-- 공지 작성 -->
	<insert id="insertAnnouncement">
		<selectKey resultType="_int" keyProperty="boardNo" order="BEFORE">
			select seq_bid.nextval from dual
		</selectKey>		
		insert into board
		values (#{boardNo}, #{memberNo}, #{boardTitle}, default, 
		sysdate, sysdate, 0, 0, 1, #{boardContent})
	</insert>
	
	<!-- 게시글 상태 변경 -->
	<update id="updateAdminBoardStatus">
		update board
		set board_status = #{boardStatus}
		where board_no=#{boardNo}
	</update>
</mapper>