<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.dndncare.admin.model.dao.AdminMapper">

	<!-- 간병백과 게시글 정보를 삽입 -->
	<insert id="insertCareInfomation" useGeneratedKeys="true">
		<selectKey resultType="_int" keyProperty="boardNo" order="BEFORE">
			SELECT SEQ_BID.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARD 
		VALUES(${boardNo}, ${memberNo}, #{boardTitle}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, ${categoryNo}, ${areaNo}, #{boardContent})
	</insert>

	<!-- 간병백과 게시글에 대한 첨부파일을 삽입 -->
	<insert id="insertAttachment">
		INSERT ALL
		<foreach collection="list" item="attm" separator=" ">
			INTO ATTACHMENT 
			VALUES(NEW_AID, ${attm.refBoardNo}, #{attm.originalName}, #{attm.renameName}, 
												#{attm.attmPath}, #{attm.attmLevel}, DEFAULT)
		</foreach>
		SELECT * FROM DUAL
	</insert>


	<!-- 간병백과의 컨텐츠 전체갯수 조회 : 삭제여부 무시 -->
	<select id="getCareInformationListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE CATEGORY_NO = 7
	</select>


	<!-- 간병백과의 일반 글 정보 조회 -->
	<select id="selectAllCareInformation" resultType="Board">
		SELECT * FROM BOARD JOIN MEMBER USING(MEMBER_NO) WHERE CATEGORY_NO = 7 ORDER BY BOARD_UPDATE_DATE DESC
	</select>

	<!-- 간병백과의 첨부파일 조회 -->
	<select id="selectAttachment" resultType="Attachment">
		SELECT *
		FROM ATTACHMENT
		WHERE REF_BOARD_NO IN 
		<foreach collection="list" item="item" open="(" close=")" separator=",">${item}</foreach>
	</select>

	<!-- 간병백과 글 내리기 -->
	<update id="hideCareInformation">
		UPDATE BOARD
		SET BOARD_STATUS = 'N'
		WHERE BOARD_NO = ${boardNo}
	</update>
	
	<!-- 간병백과 첨부파일 내리기 -->
	<update id="hideAttachment">
		UPDATE ATTACHMENT
		SET ATTM_STATUS = 'N'
		WHERE REF_BOARD_NO = ${boardNo}
	</update>

</mapper>