<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/footer.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div id="footer-section">
	    <div class="inner">
	        <div class="footer-logo">
	            <a href="home.do"><img src="resources/image/newLogo.png" alt="로고" id="footer-logo"></a>
	        </div>
	        <div class="footer-column">
	            <h3>Project</h3>
	            <p>Title</p>
	            <h5>DnDnCare</h5> 
	            <p>Tell</p>              
	            <h5>02-6959-2159</h5>
	            <p>Address</p>
	            <h5>서울특별시 중구 남대문로 120</h5>
	        </div>
	        <div class="footer-column">
	            <h3>Team Member</h3>
	            <h4>김명훈</h4>               
	            <h4>김종규</h4>
	            <h4>김기룡</h4>  
	            <h4>김남희</h4>
	            <h4>이재영</h4>
	        </div>
	        <div class="footer-column">
	           <h3>Project Info</h3>
			   <h6>KH정보교육원 JAVA개발자 양성 과정</h6>
			   <h6>Final Project</h6>
			   <h6>2024.07.29 - 2024.09.03</h6>
			   <h6>Java, SpringBoot, Oracle, JavaScript</h6>
	        </div>
	    </div>
	    <div class="footer-bottom">
	        <p>&copy; 2024 HomeWork. All rights reserved.</p>
	    </div>             
	</div>
</body>
</html>