<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=34igzywqrm"></script>
    
    
     <style>
        /* div와 iframe 스타일 설정 */
        #container {
            width: 500px;
            height: 500px;
            border: 1px solid #ccc;
            overflow: hidden;
            position: relative;
        }
        
        iframe {
            width: 200%;
            height: 200%;
            position: absolute;
            top: -40%;
            left: -100%;
            border: none;
        }
    </style>
</head>
<body>
	<div align="center">
    <div id="container">
        <iframe id="myIframe" src="https://map.naver.com/p/search/연세 세브란스 병원?c=15.00,0,0,0,dh"></iframe>
    </div>
    <div style="border:2px solid black; width:500px;  height: 60px;">
    	<span>연세 세브란스 병원</span>
    	<div align="left" class="m-2">
    	<span style="color:#DDDDDD; ">https://map.naver.com</span>
    	</div>
    </div>
    </div>

    <script>
        const iframe = document.getElementById('myIframe');

        iframe.onload = function() {
            const doc = iframe.contentDocument || iframe.contentWindow.document;
            const scrollWidth = doc.documentElement.scrollWidth;
            const scrollHeight = doc.documentElement.scrollHeight;

            // 중앙으로 스크롤
        };
    </script>
</body>
</html>