<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="top">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/top.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="top d-flex flex-column justify-content-center align-items-center">
			<h1>든든케어는 환자와 간병인 모두를 위해 존재합니다</h1>
			<h2>간병인에게는 풍부하고 알맞은 일감을<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;환자에게는 안전하고 편안한 케어를 보장하는<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;든든케어는 함께 모두가 행복한 간병 문화를 만들어갑니다.</h2>
	</div>
</body>
</html>