<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>간병인 메인페이지</title>
    <link href="css/caregiverMain.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <style>
    	.fc{width:500px !important; height:500px !important; } 
    </style>
</head>
<body>
	<div th:replace="~{common/navbar :: navbar}"></div>
	
	<div id="wrap">
	
		<div id="upperContents">
			<div><!-- 왼쪽 공백 --></div>
			<div id="upperLeftContents">
				<div><!-- AI 매칭 : 가로 700, 세로 200 -->
				<table class="table mainTable table-hover">
                 <thead>
                     <tr>
                         <th colspan="5">[[${loginUserName}]]님과 딱 맞는 일감을 찾아드려요.</th>
                         <th class="text-center">
                        	<img src="image/icon/refresh.png" id="refreshChoice" style="width:30px; height:30px;">
                        </th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr class="text-center" th:if="${completeList}" th:each="l : ${completeList}">
                         <td>[[${l.ptName}]]</td>
                         <td>[[${l.ptGender == 'M' ? '남' : '여'}]]</td>
                         <td>[[${l.ptRealAge}]]</td>
                         <td>[[${l.ptAddress}]]</td>
                         <th:block th:with="arr = ${#strings.listSplit(l.ptDisease, '/')}">
	                         <td>
	                         	<th:block th:if="${#lists.size(arr) > 3}" th:each="d, dStat : ${arr}">
	                         		<th:block th:if="${dStat.index < 3}">[[${d}]],</th:block>
	                         		<th:block th:if="${dStat.index == 3}">[[${d}]] ...</th:block>
	                         	</th:block>
	                         	
	                         	<th:block th:if="${#lists.size(arr) <= 3}" th:each="d : ${arr}">
	                         		<th:block th:unless="${dStat.last}">[[${d}]],</th:block>
	                         		<th:block th:if="${dStat.last}">[[${d}]]</th:block>
	                         	</th:block>	
	                         </td>
                         </th:block>
                         <td>[[${l.money}]] 원</td>
                     </tr>
                 </tbody>
            </table>
			</div>
				<div id="upperContentsBtn" class="align-middle text-center"><!-- 메뉴판 -->
					<div></div>
					<table>
	                    <tr>
	                        <td><button class="custom-btn btn-14">내 정보</button></td>
	                        <td><button class="custom-btn btn-14" id="careInformation">간병 정보</button></td>
	                        <td><button class="custom-btn btn-14">커뮤니티</button></td>
	                    </tr>
	                </table>
	                <div></div>
				</div>
			</div>
			<div><!-- 공백 --></div>
			<div id="calendar"></div>
			<div><!-- 오른쪽 공백 --></div>
		</div>
		
	    <br/><br/>
	
	    <!-- 아래쪽 컨텐츠-->
	    <div id="underContents" style="margin: 100px; 0;">
	        <div><!--왼쪽 공백--></div>
	                
	        <!-- 남희 좌측 하단 -->
	        <div><!--매칭정보 : 가로 500, 세로 700-->
	        	<div class="d-flex justify-content-between" style="border-bottom:2px solid #8dd986;">
					<span style="margin-top:10px;">[[${loginUserName}]]님에게 들어온 매칭 신청</span>
           			<button type="button" class="btn-select" onclick="location.href='goCMoreRequest.me'">전체 보기</button>
            	</div>
            	<br/>
	            <table class="table mainTable">
	                <thead>
	                    <tr>
	                        <th style="height:20px;" colspan="5" class="align-middle">[[${loginUserName}]]님과의 매칭을 원하는 분들이 있습니다.</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr class="align-middle text-center" th:each="matPt : ${requestMatPt}">
	                    	<td style="display:none" th:text="${matPt.matNo}"></td>
	                        <td colspan="4" th:if="${matPt.ptCount == 1}" class="align-middle">
	                        	<img th:if="${matPt.ptCount == 1 && matPt.service =='병원돌봄'}" src="image/icon/hospital.png"/>
	                       		<img th:if="${matPt.ptCount == 1 && matPt.service =='가정돌봄'}" src="image/icon/home.pn/">
	                       		[[${matPt.ptName}]]님([[${matPt.ptRealAge}]]세 [[${matPt.ptGender =='M' ? '남':'여' }]])이 매칭을 원하고 있어요.
	                       		 </td>
	                        <td colspan="4" th:if="${matPt.ptCount > 1}" class="align-middle">
	                        	<img src="image/icon/users.png"/>
	                        	[[${matPt.ptName}]]님 등 [[${matPt.ptCount}]]명이 매칭을 원하고 있어요.
	                        </td>
	                        <td><button class="btn btn-success workInfo two">정보보기</button></td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	        <div><!--공백 --></div>
	        
	        
	        
	        
	        <!-- 남희 우측 하단 -->
	        <div id="findWorkList" class="text-center"><!--대상검색 : 가로 700, 세로 700-->
				<div class="d-flex justify-content-between" style="border-bottom:2px solid #8dd986;">
					<span style="margin-top:10px;">간병일감을 찾고 계신가요?</span>
           			<button type="button" class="btn-select" onclick="location.href='moreWorkInfo.me'">원하는 간병일감 찾기</button>

            	</div>
            	<br/><br/>
			    <div id="carouselExampleIndicators" class="carousel slide">
			  		<div class="carousel-indicators" style="margin-bottom:-40px; ">
			    		<button type="button" data-bs-target="#carouselExampleIndicators" style="background-color:#8dd986; width:25px;height:25px; border-radius: 50%;" data-bs-slide-to="0" class="active btn-test" aria-current="true" aria-label="Slide 1"></button>
			    		<button type="button" data-bs-target="#carouselExampleIndicators" style="background-color:#8dd986; width:25px;height:25px; border-radius: 50%;"data-bs-slide-to="1" aria-label="Slide 2"></button>
			    		<button type="button" data-bs-target="#carouselExampleIndicators" style="background-color:#8dd986; width:25px;height:25px; border-radius: 50%;"data-bs-slide-to="2" aria-label="Slide 3"></button>
			  		</div>
					<div class="carousel-inner">					
						<div class="carousel-item active" th:if="${matMatptInfoPtList1 != null}">
							<div class="row row-cols-md-2 g-2 ptDiv">
	               				<div class="col-sm-6" th:each="mat : ${matMatptInfoPtList1}">
	               					<div style="display:none" th:text="${mat.matNo}"></div>
	                   				<div class="card h-95 w-80">
	                   					<div class="card-body">
	                     					<h6 class="card-title" style="font-weight:700">
	                       						<span th:if="${mat.ptCount == 1}">[[${mat.ptName}]]</span>
	                       						<span th:if="${mat.ptCount > 1}">[[${mat.ptName}]] 외</span>&nbsp;&nbsp;&nbsp;
	                       						<img th:if="${mat.ptCount > 1}" src="image/icon/users.png"/>
	                       						<img th:if="${mat.ptCount == 1 && mat.service =='병원돌봄'}" src="image/icon/hospital.png"/>
	                       						<img th:if="${mat.ptCount == 1 && mat.service =='가정돌봄'}" src="image/icon/home.png"/>
	                       						<span>[[${mat.service}]]</span>
	                      					</h6>
	                      					<p class="card-text">
	                       						<span>[[${mat.beginDt}]]</span>
	                       						<span>~</span>
	                       						<span>[[${mat.endDt}]]</span>
	                      					</p>
	                      					<p class="card-text" th:if="${mat.ptCount == 1}">
	                       						<span th:text="${mat.ptGender == 'M' ? '남성' : '여성'}"></span>&nbsp;&nbsp;
	                       						<span>[[${mat.ptRealAge}]]세</span>	                        	
	                      					</p>
	                      					<p class="card-text">
	                       						<span>[[${mat.matAddressMin}]]</span>                        	
	                      					</p>
	                      					<p class="card-text" th:if="${mat.ptCount > 1 }">
	                     						<span>[[${mat.hospitalName}]]</span> 
	                      					</p>		                       	
	                       					<button class="btn btn-success workInfo">정보 보기</button>
										</div>
									</div>
								</div>
	                		</div>
						</div>
						
						<div class="carousel-item" th:if="${matMatptInfoPtList2 != null}">
							<div class="row row-cols-md-2 g-2 ptDiv">
	               				<div class="col-sm-6" th:each="mat : ${matMatptInfoPtList2}">
	               					<div style="display:none" th:text="${mat.matNo}"></div>
	                   				<div class="card h-95 w-80">
	                   					<div class="card-body">
	                     					<h6 class="card-title">	                     						
	                       						<span th:if="${mat.ptCount == 1}">[[${mat.ptName}]]</span>
	                       						<span th:if="${mat.ptCount > 1}">[[${mat.ptName}]] 외</span>&nbsp;&nbsp;
	                       						<img th:if="${mat.ptCount > 1}"  src="image/icon/users.png"/>
	                       						<img th:if="${mat.ptCount == 1 && mat.service =='병원돌봄'}" src="image/icon/hospital.png"/>
	                       						<img th:if="${mat.ptCount == 1 && mat.service =='가정돌봄'}"  src="image/icon/home.png"/>
	                       						<span>[[${mat.service}]]</span>
	                      					</h6>
	                      					<p class="card-text">
	                       						<span>[[${mat.beginDt}]]</span>
	                       						<span>~</span>
	                       						<span>[[${mat.endDt}]]</span>
	                      					</p>
	                      					<p class="card-text" th:if="${mat.ptCount == 1}">
	                       						<span th:text="${mat.ptGender == 'M' ? '남성' : '여성'}"></span>
	                       						<span>[[${mat.ptRealAge}]]세</span>	                        	
	                      					</p>
	                      					<p class="card-text">
	                       						<span>[[${mat.matAddressMin}]]</span>                        	
	                      					</p>
	                      					<p class="card-text" th:if="${mat.ptCount > 1}">
	                     						<span>[[${mat.hospitalName}]]</span> 
	                      					</p>		                       	
	                       					<button class="btn btn-success workInfo">정보 보기</button>
										</div>
									</div>
								</div>
	                		</div>
						</div>
						
						<div class="carousel-item" th:if="${matMatptInfoPtList3 != null}">
							<div class="row row-cols-md-2 g-2 ptDiv">
	               				<div class="col-sm-6" th:each="mat : ${matMatptInfoPtList3}">
	               					<div style="display:none" th:text="${mat.matNo}"></div>
	                   				<div class="card h-95 w-80">
	                   					<div class="card-body">
	                     					<h6 class="card-title">
	                       						<span th:if="${mat.ptCount == 1}">[[${mat.ptName}]]</span>
	                       						<span th:if="${mat.ptCount > 1}">[[${mat.ptName}]] 외</span>&nbsp;&nbsp;
	                       						<img th:if="${mat.ptCount > 1}"  src="image/icon/users.png"/>
	                       						<img th:if="${mat.ptCount == 1 && mat.service =='병원돌봄'}" src="image/icon/hospital.png"/>
	                       						<img th:if="${mat.ptCount == 1 && mat.service =='가정돌봄'}"  src="image/icon/home.png"/>
	                       						<span>[[${mat.service}]]</span>
	                      					</h6>
	                      					<p class="card-text">
	                       						<span>[[${mat.beginDt}]]</span>
	                       						<span>~</span>
	                       						<span>[[${mat.endDt}]]</span>
	                      					</p>
	                      					<p class="card-text" th:if="${mat.ptCount == 1}">
	                       						<span th:text="${mat.ptGender == 'M' ? '남성' : '여성'}"></span>
	                       						<span>[[${mat.ptRealAge}]]세</span>	                        	
	                      					</p>
	                      					<p class="card-text">
	                       						<span>[[${mat.matAddressMin}]]</span>                        	
	                      					</p>
	                      					<p class="card-text" th:if="${mat.ptCount > 1}">
	                     						<span>[[${mat.hospitalName}]]</span> 
	                      					</p>		                       	
	                       					<button class="btn btn-success workInfo">정보 보기</button>
										</div>
									</div>
								</div>
	                		</div>
						</div>
			 		</div>		 	
				</div>
	        </div>
	       	<div><!--오른쪽 공백--></div>
		</div>
	
	
	    
	    <!-- 사이드 버튼 -->
	    <div id="myPresentMatching">
	        <a class="navbar-brand align-middle" href="goMyMatchingC.mc">
	            <img src="image/icon/deal.png">
	            나의 매칭 현황
	        </a>
	    </div>
	    
	    
	    <!-- 매칭 신청 성공/승낙/매칭 신청 취소 시 모달 -->
		<div class="modal fade" id="matSuccesseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-lg">
		    <div class="modal-content">
		    	<th:block th:if ="${result == 'request'}">
			      <div class="modal-header">
			        <h3 class="modal-title fw-bold fs-5" id="exampleModalLabel">매칭 신청 완료</h3>
			        <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body" style="margin:30px;">
			        <h4 class="h4 mb-4 fw-bold" th:if="${matPtCount > 1 }">
			        	[[${matPtName}]]님 등 [[${matPtCount}]]명의 공동간병 그룹에 매칭을 신청하셨습니다.
			        </h4>
			        <h4 class="h4 mb-4 fw-bold" th:if="${matPtCount == 1}">
			        	[[${matPtName}]]님에게 매칭을 신청하셨습니다.
			        </h4>	
			      </div>			
		    	</th:block>
		    	<th:block th:if ="${result == 'approve'}">
			      <div class="modal-header">
			        <h3 class="modal-title fw-bold fs-5" id="exampleModalLabel2">매칭 신청 승낙 완료</h3>
			        <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body" style="margin:30px;">
			        <h4 class="h4 mb-4 fw-bold" th:if="${matPtCount > 1 }">
			        	[[${matPtName}]]님 등 [[${matPtCount}]]명의 공동간병 그룹의 매칭 신청을 승낙하셨습니다. 
			        </h4>
			        <h4 class="h4 mb-4 fw-bold" th:if="${matPtCount == 1}">
			        	[[${matPtName}]]님의 매칭 신청을 승낙하셨습니다.
			        </h4>	
			      </div>
		     	</th:block>
			    <th:block th:if ="${result == 'cancell'}">
			      <div class="modal-header">
			        <h3 class="modal-title fw-bold fs-5" id="exampleModalLabel3">매칭 신청 취소 완료</h3>
			        <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body" style="margin:30px;">
			        <h4 class="h4 mb-4 fw-bold" th:if="${matPtCount != 1 }">
			        	[[${matPtName}]]님 등 [[${matPtCount}]]명의 공동간병 그룹에 보낸 매칭 신청을 취소하셨습니다. 
			        </h4>
			        <h4 class="h4 mb-4 fw-bold" th:if="${matPtCount == 1}">
			        	[[${matPtName}]]님에게 보낸 매칭 신청을 취소하셨습니다.
			        </h4>	
			      </div>
		     	</th:block>    
		     	<div class="modal-footer">
		       		<button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
		     	</div>
		   </div>
		 </div>     
   	   </div>
    
    </div>
    
    <th:block th:replace="~{common/footer :: footer}"></th:block>
    
    
    <!-- 캘린더 이벤트의 모달박스 (시작)-->
    <div class="modal" id="calendarModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
		   		<div class="modal-header">
		    		<div class="modal-title workInfo">
		    			<div class="infomation">
			    			<span class="badge bg-danger"><img src="image/icon/time.png"/>&nbsp;HH시간 mm분 ss초 남음</span><br/>
			    			<span>혜민병원</span><br/>
			    			<span>서울특별시 광진구</span>
		    			</div>
		    			<div class="text-end align-middle imgDiv">
		    				<br/>
				    		<img src="image/icon/hospital.png" aria-label="Close" style="width:60px; height:60px;">
		    			</div>
		    		</div>
		    		<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
		   		</div>
		    	<div class="modal-body workInfo">
		    		<div>
		    			<span>시작 시간</span><br/>
		    			<span>종료 시간</span><br/>
		    			<span>일 간병비</span><br/>
		    		</div>
		    		<div class="text-end fw-bold infoDetail">
		    			<span></span><br/>
		    			<span></span><br/>
		    			<span></span>
		    		</div>
		    	</div>
		    	<div class="modal-footer">
		    		<input type="hidden" name="matNo"/>
	    			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:200px;">Close</button>
	    			<button type="button" class="btn btn-primary" id="detailInfo" style="width:200px;">자세히 보기</button>	    			
		    	</div>
		  	</div>
		</div>
	</div>
    <!-- 캘린더 이벤트의 모달박스 (끝) -->
    
    
    
    <script th:inline="javascript">
    /*<![CDATA[*/
	document.addEventListener('DOMContentLoaded', function() {
    	var calendarEl = document.getElementById('calendar');
    	var request = $.ajax({
    		url: 'caregiverCalendarEvent.me',
    		datatype: 'json',
    		data: {memberNo : /*[[${session.loginUser.memberNo}]]*/0},
    	})
    	
    	const getTimeFormat = (date) => {
    		const hour = date.getHours();
    		const minutes = date.getMinutes();
    		const seconds = date.getSeconds();
    		return hour + "시간 " + minutes + "분 " + seconds +"초" ;
    	}
    	const getDateFormat = (date) => {
    		const year = (date.getFullYear()+"").slice(-2);
    		const month = ('0' + (date.getMonth()+1)).slice(-2);
    		const day = ('0' + date.getDate()).slice(-2);
    		
    		return year + '-' + month + '-' + day;
    	}
    	
    	request.done(function(data) {
    		console.log(data);
    		var calendar = new FullCalendar.Calendar(calendarEl, {
		          initialView: 'dayGridMonth',
		          events : data,
		          eventColor: '#8dd986',
		          eventClick: function(info) {//info.event.title, info.event.extendedProps: 현재이벤트 정보가 담긴 객체
		        		let d = new Date(info.event.start - new Date())
		        	   	let infomation = document.querySelector('.infomation').children;
		          		console.log(infomation);
		          		infomation[0].innerHTML = '<img src="image/icon/time.png"/>' + getTimeFormat(d) + '남음';
					infomation[2].innerHTML = '병원명이 들어올 자리';
		          		infomation[4].innerHTML = info.event.extendedProps.matAddressInfo;
		          		
		          		let infoDetail = document.querySelector('.infoDetail').children;
		          		infoDetail[0].innerHTML = info.event.extendedProps.beginDate;
		          		infoDetail[2].innerHTML = info.event.extendedProps.endDate;
		          		infoDetail[4].innerHTML = info.event.extendedProps.money + '원';
		          		document.querySelector('.modal-footer').children[0].value = info.event.extendedProps.matNo; // 해당 매칭번호
		        	  	$('#calendarModal').modal('show');
		        	  }
		        });
		        calendar.render();
    	}) 
  	});
	/*]]>*/
	/*<![CDATA[*/
    	
    	/*<![CDATA[*/
    	window.onload = () => {
    		// 자동추천 새로고침 비동기 요청 (시작)
    		const refreshChoice = document.querySelector('#refreshChoice');
    		refreshChoice.addEventListener('mouseenter', function() {
    			this.style.cursor= 'pointer';
    		})
    		
    		refreshChoice.addEventListener('click', function() {
    			if(/*[[${completeList}]]*/'arrList' != null) {
    				const tbody = this.parentElement.parentElement.parentElement.nextElementSibling;
    				
    				
    				$.ajax({
	    				url: 'refreshPatientChoice.me',
	    				data: {memberNo : /*[[${session.loginUser.memberNo}]]*/0, selectNum: 5},
	    				success: data => { // 배열로 넘어옴
	    					// 새로 추천받은 목록으로 교체(시작)
	    					console.log(data);
	    					tbody.innerText = '';
	    					for(let d of data) {
	    						const tr = document.createElement('tr');
	    						tr.classList.add('text-center');
	    						const td0 = document.createElement('td');
	    						td0.innerText = d.ptName;
	    						const td1 = document.createElement('td');
	    						td1.innerText = d.ptGender == 'M' ? '남' : '여';
	    						const td2 = document.createElement('td');
	    						td2.innerText = d.ptRealAge;
	    						const td3 = document.createElement('td');
	    						td3.innerText = d.ptAddress;
	    						const td4 = document.createElement('td');
	    						
	    						
								let diseaseArr = d.ptDisease.split('/');
								let arrLength = diseaseArr.length;
	    						let disease = '';
								if(arrLength > 4){ // 보유 질병이 5개 이상인 경우
	    							for(let i = 0; i < 4; i++){
	    								if(i < 3) { // 마지막 인덱스가 아닌 경우에 끝에 쉼표(,)를 붙인다.
		    								disease += diseaseArr[i] + ', ';
	    								} else{
	    									disease += diseaseArr[i] + ' ...';
	    								}
	    							}
	    						} else{ // 보유 질병이 4개 이하인 경우
	    							for(let i = 0; i < arrLength; i++){
	    								if(i != arrLength - 1) { // 마지막 인덱스가 아닌 경우에 끝에 쉼표(,)를 붙인다.
		    								disease += diseaseArr[i] + ', ';
	    								} else{
	    									disease += diseaseArr[i];
	    								}
	    							}
	    						}
	    						td4.innerText = disease;
	    						
	    						const td5 = document.createElement('td');
	    						td5.innerText = d.money + '원';
	    						
	    						tbody.appendChild(tr);
	    						tr.appendChild(td0);
	    						tr.appendChild(td1);
	    						tr.appendChild(td2);
	    						tr.appendChild(td3);
	    						tr.appendChild(td4);
	    						tr.appendChild(td5);
	    						// 새로 추천받은 목록으로 교체(끝)
	    					}
	    					alert('새고운 추천목록으로 갱신되었습니다.');
	    				},
	    				error: data => {
	    					console.log('에러')
	    				}
	    			})
    			} else {
    				alert('추천 후보가 존재하지 않습니다.');
    			}
    		})
    		// 자동추천 새로고침 비동기 요청 (끝)
    		
	   		 //정보보기 버튼 클릭	
	  		const workInfos = document.querySelectorAll('.workInfo');    	
	    	for(const workInfo of workInfos){
	        	workInfo.addEventListener('click', function(){
	        		let matNo = '';
	        		if(this.className.includes('two')){
	        			matNo = this.parentElement.parentElement.firstElementChild.innerHTML;
	        		}else{
	        			matNo = this.parentElement.parentElement.previousElementSibling.innerHTML;
	        		}
	        		
	        		if(matNo){
	        			location.href = 'goCaregiverPtInfo.mc?matNo='+ matNo;
	        		}
	        	});
	    	} 
	    	
	    	const matPtName = /*[[${matPtName}]]*/
	    	const matPtCount = /*[[${matPtCount}]]*/
	    	
	    	if(matPtName != null && matPtCount != null){
	    		$('#matSuccesseModal').modal('show');
	    	}
	    	
	    	// 간병정보(간병백과) 페이지로 이동 (시작)
	    	document.querySelector('#careInformation').onclick = () => {
	    		/*<![CDATA[*/
	    		const isAdmin = /*[[${session.loginUser.memberCategory}]]*/'관리자여부';
	    		if(isAdmin == 'A'){ // 관리자의 입장에서 간병정보 페이지 출력
	    			location.href='careInformation.adm';
	    		} else{ // 일반 사용자의 입장에서 간병정보 페이지 출력
	    			//location.href='';
	    		}	
	    		/*]]>*/	
	    	}
	    	// 간병정보(간병백과) 페이지로 이동 (끝)
	    	
	    	
	    	
			
			    	
	    	
    	}
    	
    </script>    
</body>

</html>
