<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link th:href="@{css/myMatching.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{css/reviewDetail.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
	<div class="wrap">
	
		<div class="title-content d-flex justify-content-center mx-auto">
			<a href="home.do"><img class="logo-image mb-5 w-75" src="image/logo-removebg.png" width="130"></a>	
			<h1 class="h1 mb-4 fw-bold text-center">나의 매칭 현황</h1><br>
		</div>
		
		<main class="container-lg align-items-center mx-auto" style="width:900px;">
		
			<h3 class="modal-title fw-bold fs-5" id="exampleModalLabel">현재 진행중인 매칭 내역</h3>
			<br>
			<div class="form-floating mb-5 mx-auto">
				<div class="accordion" id="accordionExample">
				  <div class="accordion-item"  th:each="myMat : ${myMatching}">
				  	<div style="display:none" th:text="${myMat.memberNo}" class="memberNo"></div>
				  	<div style="display:none" th:text="${myMat.matNo}" class="matNo"></div>
				  	<div style="display:none" th:text="ing" class="from"></div>
				    <h2 class="accordion-header">
				      <button class="accordion-button collapsed" style="font-size:18px;" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapseOne' + ${myMat.memberNo}" aria-expanded="false" aria-controls="collapseOne">
				      		[[${myMat.memberName}]]님([[${myMat.age}]]세 [[${myMat.memberGender == 'M' ? '남' : '여'}]] [[${myMat.memberNational}]])과의 매칭이 진행 중입니다.
				      </button>
				    </h2>
				    <div th:id="'collapseOne' + ${myMat.memberNo}" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<table class="table mx-auto"  style="width:800px;">
								<thead></thead>  		
				      		</table>
				      		<div id="cInfo"></div>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
			
			<h3 class="modal-title fw-bold fs-5" id="exampleModalLabel2">현재 결제 대기 중인 매칭 내역</h3>
			<br>
			<div class="form-floating mb-5 mx-auto">
				<div class="accordion" id="accordionExample2">
				  <div class="accordion-item"  th:each="myMat : ${myMatchingW}">
				  	<div style="display:none" th:text="${myMat.memberNo}" class="memberNo"></div>
				  	<div style="display:none" th:text="${myMat.matNo}" class="matNo"></div>
				  	<div style="display:none" th:text="wait" class="from"></div>
				    <h2 class="accordion-header">
				      <button class="accordion-button collapsed" style="font-size:18px;" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapsetwo' + ${myMat.memberNo}" aria-expanded="false" aria-controls="collapseOne">
							[[${myMat.memberName}]]님([[${myMat.age}]]세 [[${myMat.memberGender == 'M' ? '남' : '여'}]] [[${myMat.memberNational}]])과의 매칭이 결제 대기 중입니다.
				      </button>
				    </h2>
				    <div th:id="'collapsetwo' + ${myMat.memberNo}" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
						<div class="accordion-body">
							<table class="table mx-auto" style="width:800px;">
								<thead></thead>
							</table>
							<div id="cInfo"></div>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
			
			
			<h3 class="modal-title fw-bold fs-5" id="exampleModalLabel3">[[${loginUserName}]]님이 신청한 매칭 내역</h3>
			<br>
			<div class="form-floating mb-5 mx-auto">
				<div class="accordion" id="accordionExample3">
					<div class="accordion-item"  th:each="myMat : ${myRequestMatC}">
						<div style="display:none" th:text="${myMat.memberNo}" class="memberNo"></div>
						<div style="display:none" th:text="${myMat.matNo}" class="matNo"></div>
						<div style="display:none" th:text="want" class="from"></div>
				    	<h2 class="accordion-header">
				      		<button class="accordion-button collapsed" style="font-size:18px;" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapsethree' + ${myMat.memberNo}" aria-expanded="false" aria-controls="collapseOne">
				        		[[${myMat.memberName}]]님([[${myMat.age}]]세 [[${myMat.memberGender == 'M' ? '남' : '여'}]] [[${myMat.memberNational}]])과의 매칭을 신청하셨습니다.
				      		</button>
				    	</h2>
				   		<div th:id="'collapsethree' + ${myMat.memberNo}" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
							<div class="accordion-body" style="text-align: center;">
								<table class="table mx-auto" style="width:800px;">
									<thead></thead>
								</table>
								<div id="cInfo"></div>
								<button th:if="${myMat.groupLeader == 'Y'}" class="btn btn-success mx-auto matCan" style="margin:10px 45%;">매칭 신청 취소</button>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<h3 class="modal-title fw-bold fs-5" id="exampleModalLabel4">[[${loginUserName}]]님이 받은 매칭 신청 내역</h3>
			<br>
			<div class="form-floating mb-5 mx-auto">
				<div class="accordion" id="accordionExample4">
				  <div class="accordion-item"  th:each="myMat : ${myMatchingMat}">
				  	<div style="display:none" th:text="${myMat.memberNo}" class="memberNo"></div>
				  	<div style="display:none" th:text="${myMat.matNo}" class="matNo"></div>
				  	<div style="display:none" th:text="wanted" class="from"></div>
				    <h2 class="accordion-header">
				      <button class="accordion-button collapsed" style="font-size:18px;" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapsefour' + ${myMat.memberNo}" aria-expanded="false" aria-controls="collapseOne">
				      	[[${myMat.memberName}]]님([[${myMat.age}]]세 [[${myMat.memberGender == 'M' ? '남' : '여'}]] [[${myMat.memberNational}]])이 매칭을 신청하셨습니다.
				      </button>
				    </h2>
				    <div th:id="'collapsefour' + ${myMat.memberNo}" class="accordion-collapse collapse" data-bs-parent="#accordionExample4">
						<div class="accordion-body" style="text-align: center;">
							<table class="table mx-auto" style="width:800px;">
								<thead></thead>
							</table>
							<div id="cInfo"></div>
							<button th:if="${myMat.groupLeader == 'Y'}" class="btn btn-success mx-auto justify-content-md-center matOk">매칭 승낙</button>
						</div>
				    </div>
				  </div>
				</div>
			</div>
		</main>
	</div>
	
	
	<!-- 매칭 승낙 모달 -->	
	<div class="modal fade" id="matOkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-xl">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h3 class="modal-title fw-bold fs-5" id="exampleModalLabel">매칭 승낙</h3>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body" style="margin:30px;">
	        <h4 class="h4 mb-4 fw-bold" id="modalBody"></h4>
	        <h5 class="h5 mb-1">아래 버튼을 누르면 매칭 신청 승낙이 완료됩니다.<br>입금을 완료하면 매칭이 성사됩니다.</h5>	        
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary" id="requestMatchingOk">매칭 승낙</button>
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>	
	
		<!-- 매칭 취소 모달 -->	
	<div class="modal fade" id="matCancelModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-xl">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h3 class="modal-title fw-bold fs-5" id="exampleModalLabel2">매칭 신청 취소</h3>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body" style="margin:30px;">
	        <h4 class="h4 mb-4 fw-bold" id="modalBody2"></h4> 
	        <h5 class="h5 mb-1">아래 버튼을 누르면 매칭 신청이 취소됩니다.<br>한 번 취소한 매칭 신청은 회복이 불가능합니다.</h5>	        
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary" id="matCancel">매칭 신청 취소</button>
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>	
	
	
	
	
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	
	<script th:inline="javascript">
	
		window.onload = function() {
			
			const accordionButtons = document.querySelectorAll('.accordion-button')
			
			for(const accordionButton of accordionButtons){
				accordionButton.addEventListener('click', function(){
					const matNo = this.parentElement.parentElement.querySelector('.matNo').innerHTML;
					const memberNo = this.parentElement.parentElement.querySelector('.memberNo').innerHTML;
					
					const thead = this.parentElement.parentElement.querySelector('thead')
					const cInfo = this.parentElement.parentElement.querySelector('#cInfo')
					
					$.ajax({
						url : 'getMatCToMatNoMemNo.mc',
						type :'post',
						data : {matNo : matNo, memberNo : memberNo },
						dataType : 'json',
						success : data=>{
							const matInfo = data.matInfo;
							const reviewList = data.reviewList;
							const reviewCount = data.reviewCount;
							const avgReviewScore = data.avgReviewScore;
							const caregiverIntro = data.caregiverIntro;
							const caregiverInfoList = data.caregiverInfoList;
						
							let addMin = '';
							if(matInfo[0].ptCount == 1){
								addMin = `<th scope="col"colspan="3">&nbsp;&nbsp;&nbsp;${matInfo[0].matAddressMin}</th>`;
							}else if(matInfo[0].ptCount > 1){
								addMin = `<th scope="col"colspan="3">&nbsp;${matInfo[0].matAddressMin}&nbsp;&nbsp;&nbsp;&nbsp;${matInfo[0].hospitalName}</th>`;
							}
							
							
							let matDate = '';
							if(matInfo[0].matMode == 2){
								matDate = `<tr>
										     <th scope="col">&nbsp;선택 일자</th>
										     <td scope="col" colspan="3">${matInfo[0].matDate}</td>
										   </tr>`;
							}			
							
							let theadInner=`
								<tr style="font-size:18px;">
									${addMin}
							    	<th scope="col" colspan="1">${matInfo[0].service}</th>
							    </tr>					    
							    <tr>
							      <th scope="col">&nbsp;1일 돌봄비용</th>
							      <td scope="col" colspan="3">${matInfo[0].money}원</td>
							    </tr>
							    <tr>
							      <th scope="col">&nbsp;간병 시작일</th>
							      <td scope="col">${matInfo[0].beginDt}</td>
							  	  <th scope="col">간병 종료일</th>
							      <td scope="col">${matInfo[0].endDt}</td>
							    </tr>
								${matDate}
					    		<tr>
							      <th scope="col">&nbsp;시작시간</th>
							      <td scope="col">${matInfo[0].beginTime}</td>
							  	  <th scope="col">종료시간</th>
							      <td scope="col">${matInfo[0].endTime}</td>
							    </tr>
							    <tr>
							      <th scope="col">&nbsp;상세 주소</th>
							      <td scope="col" colspan="3">${matInfo[0].matAddressInfo}&nbsp;&nbsp;</td>
							    </tr>
							    <tr>
							      <th scope="col">&nbsp;요청사항</th>
							      <td scope="col" colspan="3">${matInfo[0].matRequest}&nbsp;&nbsp;</td>
							    </tr>`;
		
							thead.innerHTML = theadInner;
																						
							
							let avgReviewScore1 = '';
							if(1 <= avgReviewScore ){
								avgReviewScore1 = `<button class="btn-star btn-icon-star-left" value="1"></button>`
							}else if(2 <= avgReviewScore){
								avgReviewScore1 = `<button class="btn-star-right btn-icon-star-right" value="2"></button>`
							}
							
							let avgReviewScore2 = '';
							if(3 <= avgReviewScore ){
								avgReviewScore2 = `<button class="btn-star btn-icon-star-left" value="3"></button>`
							}else if(4 <= avgReviewScore){
								avgReviewScore2 = `<button class="btn-star-right btn-icon-star-right" value="4"></button>`
							}
							let avgReviewScore3 = '';
							if(5 <= avgReviewScore ){
								avgReviewScore3 = `<button class="btn-star btn-icon-star-left" value="5"></button>`
							}else if(6 <= avgReviewScore){
								avgReviewScore3 = `<button class="btn-star-right btn-icon-star-right" value="6"></button>`
							}
							let avgReviewScore4 = '';
							if(7 <= avgReviewScore ){
								avgReviewScore4 = `<button class="btn-star btn-icon-star-left" value="7"></button>`
							}else if(8 <= avgReviewScore){
								avgReviewScore4 = `<button class="btn-star-right btn-icon-star-right" value="8"></button>`
							}
							let avgReviewScore5 = '';
							if(9 <= avgReviewScore ){
								avgReviewScore5 = `<button class="btn-star btn-icon-star-left" value="9"></button>`
							}else if(10 <= avgReviewScore){
								avgReviewScore5 = `<button class="btn-star-right btn-icon-star-right" value="10"></button>`
							}
							let re = '';
							if(avgReviewScore != 0){
								re = `<span> 평점 : ${avgReviewScore}점</span>`;
							}else if(avgReviewScore == 0){
								re = `<span>정보가 없습니다.</span>`;
							}
							
							let gender = '';
							if(caregiverIntro.memberGender == 'M'){
								gender = `성별 : 남성`
							}else if(caregiverIntro.memberGender == 'F'){
								gender = `성별 : 여성`
							}
						
							
							
							let cInfoInner=`
								<div class="row justify-content-center" >
									<div align="center" class="col-4 m-3 p-3 testBorder" >
						      			<img id="profile-image" src="image/icon_profile.png"/>
						      			<hr>
						      			<div class="h3">${caregiverIntro.memberName}님</div>
						      			<div align="center">
											<button type="button" class="m-4 btn-outline-maincolor reviewButton">후기 보기</button>		
										</div>		      		
					      		</div>
					      		<div class="col-7 m-3 p-3 testBorder justify-content-md-center">					      				      		
						      		<div class="row m-2 p-4">
						      			&nbsp;&nbsp;&nbsp;&nbsp;
						      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">${avgReviewScore1}</div>
						      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">${avgReviewScore2}</div>
						      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">${avgReviewScore3}</div>
						      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">${avgReviewScore4}</div>
						      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">${avgReviewScore5}</div>						      				
						      		</div>
						      		<div class="d-flex justify-content-md-center" style="margin-top:-10px">${re}</div>
						      		<div class="col-11 m-3 p-3 testBorder">
						      			<h6>
						      				나이 : ${caregiverIntro.age}세&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						      				${gender}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						      				국적 : ${caregiverIntro.memberNational}</h6>
						      			<h6>경력 : ${caregiverInfoList.career}년</h6>
						      			<h6>자격증 : ${caregiverInfoList.license}</h6>
						      			<div class="h6">적정 1일 돌봄 비용 : ${caregiverIntro.minMoney}원 ~ ${caregiverIntro.maxMoney}원</div>
						      			<hr>
						      			<h6	 align="center">자기소개</h6> 
						      			<h6>${caregiverIntro.careIntro}</h6>
						      		</div>
					      		</div>
				      		</div>`;
				      		
							 cInfo.innerHTML = cInfoInner;
							 
							 
							 //후기보기 버튼
							 reviewButton();
							 
						},
						error : data=>console.log(data)			
					});
								
				})
				
			}
			
			
			//매칭 신청
			const matOks = document.querySelectorAll('.matOk');
			const modalBody = document.querySelector('#modalBody');
			let modalMatNo = '';
			let modaMemberNo = '';
			
			/*<![CDATA[*/
			const myMatchingMat = /*[[${myMatchingMat}]]*/'[]';
			/*]]>*/
			
			if(matOks){
				for(const matOk of matOks){
					matOk.addEventListener('click', function(){
						modalMatNo = this.parentElement.parentElement.parentElement.querySelector('.matNo').innerHTML;
						modaMemberNo = this.parentElement.parentElement.parentElement.querySelector('.memberNo').innerHTML;
						let modalBodyInner = '';						
						for(const mat of myMatchingMat){
							if(modalMatNo = mat.matNo)
							modalBody.innerHTML = mat.memberName + '님의 매칭 신청을 승낙하시겠습니까?'	
						}
						$('#matOkModal').modal('show');
						
					});
				}
			}

			
			document.querySelector('#requestMatchingOk').addEventListener('click', ()=>{
				location.href='matchingApproveP.mc?matNo='+ modalMatNo + '&memberNo=' + modaMemberNo;
			});
			
					
			
			
			//매칭 취소			
			const matCans = document.querySelectorAll('.matCan');
			const modalBody2 = document.querySelector('#modalBody2');
			modalBody2.innerHTML = '';
			
			/*<![CDATA[*/
			const myRequestMatC = /*[[${myRequestMatC}]]*/'[]';
			/*]]>*/
			
			if(matCans){
				for(const matCan of matCans){
					matCan.addEventListener('click', function(){
						modalMatNo = this.parentElement.parentElement.parentElement.querySelector('.matNo').innerHTML;
						modaMemberNo = this.parentElement.parentElement.parentElement.querySelector('.memberNo').innerHTML;				
						for(const mat of myRequestMatC){
							if(modalMatNo = mat.matNo)
							modalBody2.innerHTML = mat.memberName + '님에게 보낸 매칭 신청을 취소하시겠습니까?'	
						}
						$('#matCancelModal').modal('show');
						
					});
				}
			}
			
			document.querySelector('#matCancel').addEventListener('click', ()=>{
				location.href='matchingCancelP.mc?matNo='+ modalMatNo + '&memberNo=' + modaMemberNo;
			});
		
			
			//후기보기 버튼
			reviewButton();
	
		
		}
		
		//후기보기 버튼
		const reviewButton =()=>{
			const reviewButtons = document.querySelectorAll('.reviewButton');
			for(const reviewButton of reviewButtons){
				if(reviewButton){
					reviewButton.addEventListener('click', function(){
						
						const matNo = this.closest('.accordion-item').querySelector('.matNo').innerHTML;
						const memberNo = this.closest('.accordion-item').querySelector('.memberNo').innerHTML;
						const from = this.closest('.accordion-item').querySelector('.from').innerHTML;
						
						location.href='reviewDetail.mc?matNo=' + matNo + '&memberNo=' + memberNo + '&from=' + from;
						
					})
				}
			}
		}
		
		
		
		
		
			
	
	</script>
		
</body>
</html>