<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link th:href="@{css/myMatching.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{css/reviewDetail.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{css/joinMatching.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
	<div class="wrap">
		<div class="title-content d-flex justify-content-center mx-auto">
			<h1 class="h1 mb-4 fw-bold text-center"><img class="logoImage m-1"th:src="@{/image/mainLogoVer2.png}">나의 매칭 현황</h1><br>
		</div>
			
		<th:block th:fragment="myMatchingP">
			<main class="container-lg align-items-center mx-auto" style="width:900px;">
			
				<h3 class="modal-title fw-bold fs-5" id="exampleModalLabel">현재 진행중인 매칭 내역</h3>
				<br>
				<div class="form-floating mb-5 mx-auto">
					<div class="accordion" id="accordionExample">
					  <div class="accordion-item"  th:each="myMat : ${myMatching}">
					  	<div style="display:none" th:text="${myMat.memberNo}" class="memberNo"></div>
					  	<div style="display:none" th:text="${myMat.matNo}" class="matNo"></div>
					  	<div style="display:none" th:text="ing" class="from"></div>
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" style="font-size:18px; color:black;" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapseOne' + ${myMat.matNo}" aria-expanded="false" aria-controls="collapseOne">
					      		[[${myMat.memberName}]]님([[${myMat.age}]]세 [[${myMat.memberGender == 'M' ? '남' : '여'}]] [[${myMat.memberNational}]])과의 매칭이 진행 중입니다.
					      </button>
					    </h2>
					    <div th:id="'collapseOne' + ${myMat.matNo}" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<table class="table mx-auto" style="width:800px;">
									<thead></thead>  		
					      		</table>
					      		<div id="cInfo"></div>
					      </div>
					    </div>
					  </div>
					  
					  <div class="accordion-item" th:if="${myMatching.empty}">
					    <h2 class="accordion-header">
					    	 <button class="accordion-button collapsed" style="font-size:18px;" type="button">
					    	 	현재 진행중인 매칭이 없습니다.
					    	 </button>
					    	 
					    </h2>
					  </div>
					  
					  
					</div>
				</div>
				
				<h3 class="modal-title fw-bold fs-5" id="exampleModalLabel2">현재 결제 대기 중인 매칭 내역</h3>
				<br>
				<div class="form-floating mb-5 mx-auto">
					<div class="accordion" id="accordionExample2">
					  <div class="accordion-item"  th:each="myMat : ${myMatchingW}">
					  	<div style="display:none" th:text="${myMat.memberNo}" class="memberNo"></div>
					  	<div style="display:none" th:text="${myMat.matNo}" class="matNo"></div>
					  	<div style="display:none" th:text="wait" class="from"></div>
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" style="font-size:18px;" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapsetwo' + ${myMat.matNo}" aria-expanded="false" aria-controls="collapseOne">
								[[${myMat.memberName}]]님([[${myMat.age}]]세 [[${myMat.memberGender == 'M' ? '남' : '여'}]] [[${myMat.memberNational}]])과의 매칭이 결제 대기 중입니다.
					      </button>
					    </h2>
					    <div th:id="'collapsetwo' + ${myMat.matNo}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<table class="table mx-auto" style="width:800px;">
									<thead></thead>
								</table>
								<div id="cInfo"></div>
					      </div>
					    </div>
					  </div>
					  
					  <div class="accordion-item" th:if="${myMatchingW.empty}">
					    <h2 class="accordion-header">
					    	 <button class="accordion-button collapsed" style="font-size:18px;" type="button">
					    	 	현재 진행중인 매칭이 없습니다.
					    	 </button>
					    </h2>
					  </div>
					  
					</div>
				</div>
				
				
				<h3 class="modal-title fw-bold fs-5" id="exampleModalLabel3">[[${loginUserName}]]님이 신청한 매칭 내역</h3>
				<br>
				<div class="form-floating mb-5 mx-auto">
					<div class="accordion" id="accordionExample3">
						<div class="accordion-item"  th:each="myMat : ${myRequestMatC}">
							<div style="display:none" th:text="${myMat.memberNo}" class="memberNo"></div>
							<div style="display:none" th:text="${myMat.matNo}" class="matNo"></div>
							<div style="display:none" th:text="want" class="from"></div>
							<!-- <div style="display:none" th:text="${myMat.ptNo}" class="ptNo"></div> -->
					    	<h2 class="accordion-header">
					      		<button class="accordion-button collapsed" style="font-size:18px;" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapsethree' + ${myMat.matNo}" aria-expanded="false" aria-controls="collapseOne">
					        		[[${myMat.memberName}]]님([[${myMat.age}]]세 [[${myMat.memberGender == 'M' ? '남' : '여'}]] [[${myMat.memberNational}]])과의 매칭을 신청하셨습니다.
					      		</button>
					    	</h2>
					   		<div th:id="'collapsethree' + ${myMat.matNo}" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
								<div class="accordion-body">
									<table class="table mx-auto" style="width:800px;">
										<thead></thead>
									</table>
									<div id="cInfo"></div>
									<button th:if="${myMat.groupLeader == 'Y'}" class="btn btn-dndn matCan" style="margin:0 40%;">매칭 신청 취소</button>																
								</div>
							</div>
						</div>
						
					  <div class="accordion-item" th:if="${myRequestMatC.empty}">
					    <h2 class="accordion-header">
					    	 <button class="accordion-button collapsed" style="font-size:18px;" type="button">
					    	 	현재 진행중인 매칭이 없습니다.
					    	 </button>
					    </h2>
					  </div>					
						
						
					</div>
				</div>
				
				
				<h3 class="modal-title fw-bold fs-5" id="exampleModalLabel4">[[${loginUserName}]]님이 받은 매칭 신청 내역</h3>
				<br>
				<div class="form-floating mb-5 mx-auto">
					<div class="accordion" id="accordionExample4">
					  <div class="accordion-item"  th:each="myMat : ${myMatchingMat}">
					  	<div style="display:none" th:text="${myMat.memberNo}" class="memberNo"></div>
					  	<div style="display:none" th:text="${myMat.matNo}" class="matNo"></div>
					  	<div style="display:none" th:text="wanted" class="from"></div>
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" style="font-size:18px;" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapsefour' + ${myMat.matNo} + ${myMat.memberNo}" aria-expanded="false" aria-controls="collapseOne">
					      	[[${myMat.memberName}]]님([[${myMat.age}]]세 [[${myMat.memberGender == 'M' ? '남' : '여'}]] [[${myMat.memberNational}]])이 매칭을 신청하셨습니다.
					      </button>
					    </h2>
					    <div th:id="'collapsefour' + ${myMat.matNo} + ${myMat.memberNo}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
							<div class="accordion-body" >
								<table class="table mx-auto" style="width:800px;">
									<thead></thead>
								</table>
								<div id="cInfo"></div>
								<button th:if="${myMat.groupLeader == 'Y'}"  style="width:120px;margin:0 45%;" class="btn btn-dndn matOk">매칭 승낙</button>
							</div>
					    </div>
					  </div>
					  
					  <div class="accordion-item" th:if="${myMatchingMat.empty}">
					    <h2 class="accordion-header">
					    	 <button class="accordion-button collapsed" style="font-size:18px;" type="button">
					    	 	현재 진행중인 매칭이 없습니다.
					    	 </button>
					    </h2>
					  </div>
					</div>
				</div>  
					  
					  
				<h3 class="modal-title fw-bold fs-5" id="exampleModalLabel5">[[${loginUserName}]]님이 참여하고 있는 공동 간병 그룹</h3>
				<br>
				<div class="form-floating mb-5 mx-auto">
					<div class="accordion" id="accordionExample5">
					  <div class="accordion-item"  th:each="myMat : ${myJoinMat}">
					  	<div style="display:none" th:text="${myMat.matNo}" class="matNo"></div>
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed join" style="font-size:18px;" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapsefive' + ${myMat.matNo}" aria-expanded="false" aria-controls="collapseOne">
					      	[[${myMat.hospitalName}]]에서 [[${myMat.ptName}]]님 외 [[${myMat.ptCount}]]명으로 구성된 공동 간병 그룹에 참여 중입니다. 
					      </button>
					    </h2>
					    <div th:id="'collapsefive' + ${myMat.matNo}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
							<div class="accordion-body" >
		      					<h5 class="h5 fw-bold mb-4"  style="margin:30px;">공동간병 그룹 상세 정보</h5>
								<table class="table gmInfo mx-auto" style="margin-bottom:30px;width:800px;"></table>										
								<h5 class="fw-bold mb-2" style="margin:10px 20px;">공동간병 그룹 참여자</h5>
								<div class="test-left ptDiv mx-auto"></div>														
								<div class="d-flex justify-content-center">
				      				<button class="btn btn-dndn out" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">참여 취소하기</button>
				      				<button class="btn btn-secondary walkout" data-bs-target="#exampleModalToggle4" data-bs-toggle="modal" style="display:none;">참여자 퇴장</button>
								</div>
							</div>
					    </div>
					  
					  </div>
					  
	
					  <div class="accordion-item" th:if="${myJoinMat.empty}">
					    <h2 class="accordion-header">
					    	 <button class="accordion-button collapsed" style="font-size:18px;" type="button">
					    	 	현재 진행중인 매칭이 없습니다.
					    	 </button>
					    </h2>
					  </div>			  
					  
					</div>
				</div>
			</main>
		
		
		<!-- 매칭 승낙 모달 -->	
		<div class="modal fade" id="matOkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h3 class="modal-title fw-bold fs-5" id="exampleModalLabel">매칭 승낙</h3>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" style="margin:30px;">
		        <h4 class="h4 mb-4 fw-bold" id="modalBody"></h4>
		        <h5 class="h5 mb-1">아래 버튼을 누르면 매칭 신청 승낙이 완료됩니다.<br>입금을 완료하면 매칭이 성사됩니다.</h5>	        
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-dndn"  style="width:120px;" id="requestMatchingOk">매칭 승낙</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>	
		
			<!-- 매칭 취소 모달 -->	
		<div class="modal fade" id="matCancelModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h3 class="modal-title fw-bold fs-5" id="exampleModalLabel2">매칭 신청 취소</h3>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" style="margin:30px;">
		        <h4 class="h4 mb-4 fw-bold" id="modalBody2"></h4> 
		        <h5 class="h5 mb-1">아래 버튼을 누르면 매칭 신청이 취소됩니다.<br>한 번 취소한 매칭 신청은 회복이 불가능합니다.</h5>	        
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-dndn" id="matCancel">매칭 신청 취소</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>	
			
	
	  
	  	<!-- 모달!!!!!!!!!!! -->
		<!-- 참여 취소 시 -->
		<div class="modal fade modal-lg" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
		  <div class="modal-dialog modal-dialog-centered modal-lg" >
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 class="modal-title fs-5 fw-bold" id="exampleModalToggleLabel3">공동간병 그룹 참여 취소</h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body mx-auto">
		      	<form action="outJoinMatching.jm" method="post" id="outJoinMatching">
		      		<input type="hidden" name="matNo" class="outMatNo">
			      	<input type="hidden" name="matMode" class="outMatMode">
			      	<input type="hidden" name="beforePage" value="my">
			      	<h3 class="h3 fw-bold mb-4" style="margin:20px 30px;">공동간병 그룹 참여를 취소하시겠습니까?</h3>
			        <h5 class="h5 fw-bold mb-1" style="margin:0 30px;">아래 버튼을 누르면 공동간병 그룹 참여가 취소됩니다.</h5>
			        <h5 class="h5 fw-bold mb-1" style="margin:0 30px;">공동간병 그룹 참여 취소가 완료되면 회복이 불가능합니다.</h5>
			        <h5 class="h5 fw-bold mb-4" style="margin:0 30px;">취소 후 재참여를 원하실 경우 새롭게 다시 참여 신청을 해주시기 바랍니다.</h5>
			        <h5 id="joinLeaderMsg" class="h5 fw-bold mb-4" style="margin:0 40px;display:none;color:red;">그룹 개설 회원은 현재 그룹에 참여 중인 회원이 있는 경우 그룹 참여를 취소할 수 없습니다.</h5>   	
		      	</form>
		      </div>
		      <div class="modal-footer">
		      	<button class="btn btn-dndn" type="button" id="outJmButton">참여 취소하기</button>
		        <button class="btn btn-secondary" data-bs-target="#gmContentModal" data-bs-toggle="modal">뒤로가기</button>
		      	<button class="btn btn-secondary" data-bs-target="#exampleModalToggle3" data-bs-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- 참여자 퇴장 시 -->
		<div class="modal fade modal-lg" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel4" tabindex="-1">
		  <div class="modal-dialog modal-dialog-centered modal-lg" >
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 class="modal-title fs-5 fw-bold" id="exampleModalToggleLabel4">공동간병 그룹 참여자 퇴장</h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body mx-auto">
		      	<form action="walkoutJoinMatching.jm" method="post" id="walkoutJoinMatching">
		      		<input type="hidden" name="matNo" class="outMatNo">
			      	<input type="hidden" name="before" value="my">
			      	<h3 class="h3 fw-bold mb-4" style="margin:20px 30px;">공동간병 그룹 참여자를 퇴장시키시겠습니까?</h3>
			        <h5 class="h5 fw-bold mb-1" style="margin:0 30px;">퇴장시킬 회원을 선택하고,<br>아래 버튼을 누르면 공동간병 그룹 참여자를 퇴장시킬 수 있습니다.</h5>					
			        <h5 class="h5 fw-bold mb-4" style="margin:0 30px;">공동간병 그룹 참여자 퇴장이 완료되면 회복이 불가능합니다.</h5>
			        <h4 class="h4 fw-bold mb-4" style="margin:0 30px;">퇴장 참여자 선택</h4>
			        <div id="walkoutPtDiv" class="row mb-4" style="margin-left:40px;"></div>	
			        <h5 id="walkoutrMsg" class="h5 fw-bold mb-4" style="margin:0 40px;display:none;color:red;"></h5>
		      	</form>
		      </div>
		      <div class="modal-footer">
		      	<button class="btn btn-dndn" type="button" id="walkoutJmButton">참여자 퇴장</button>
		        <button class="btn btn-secondary" data-bs-target="#gmContentModal" data-bs-toggle="modal">뒤로가기</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		
		<script th:inline="javascript">
		
			window.onload = function() {
				
				const accordionButtons = document.querySelectorAll('.accordion-button')
				
				for(const accordionButton of accordionButtons){
					accordionButton.addEventListener('click', function(){
						
						const matNo = this.parentElement.parentElement.querySelector('.matNo').innerHTML;
						
						document.addEventListener('click', function(e) {
				        	if (e.target && e.target.classList.contains('startChat')) {
				            	const accordionItem = e.target.closest('.accordion-item');
				            	const matNo = accordionItem.querySelector('.matNo').innerHTML;
				            	const caregiverMemberNo = accordionItem.querySelector('.memberNo').innerHTML;
				            	location.href = "/createAndGetChat.ch?matNo=" + matNo + '&caregiverMemberNo=' + caregiverMemberNo;
				        	}
						 });
					
						if(!this.className.includes('join')){
							const memberNo = this.parentElement.parentElement.querySelector('.memberNo').innerHTML;	
							const thead = this.parentElement.parentElement.querySelector('thead')
							const cInfo = this.parentElement.parentElement.querySelector('#cInfo')
							
							$.ajax({
								url : 'getMatCToMatNoMemNo.mc',
								type :'post',
								data : {matNo : matNo, memberNo : memberNo },
								dataType : 'json',
								success : data=>{
									const matInfo = data.matInfo;
									const reviewList = data.reviewList;
									const reviewCount = data.reviewCount;
									const avgReviewScore = data.avgReviewScore;
									const caregiverIntro = data.caregiverIntro;
									const caregiverInfoList = data.caregiverInfoList;
								
									let addMin = '';
									if(matInfo[0].ptCount == 1){
										addMin = `<th scope="col"colspan="3">&nbsp;&nbsp;&nbsp;${matInfo[0].matAddressMin}</th>`;
									}else if(matInfo[0].ptCount > 1){
										addMin = `<th scope="col"colspan="3">&nbsp;${matInfo[0].matAddressMin}&nbsp;&nbsp;&nbsp;&nbsp;${matInfo[0].hospitalName}</th>`;
									}
									
									let matDate = '';
									if(matInfo[0].matMode == 2){
										matDate = `<tr>
												     <th scope="col">&nbsp;선택 일자</th>
												     <td scope="col" colspan="3">${matInfo[0].matDate}</td>
												   </tr>`;
									}			
									
									let request =''
										if(matInfo[0].matRequest == undefined){
											request = `-`;
										}else{
											request = `${matInfo[0].matRequest}`;
										}
									
									let theadInner=`
										<tr style="font-size:18px;">
											${addMin}
									    	<th scope="col" colspan="1">${matInfo[0].service}</th>
									    </tr>					    
									    <tr>
									      <th scope="col">&nbsp;1일 돌봄비용</th>
									      <td scope="col" colspan="3">${matInfo[0].money.toLocaleString()}원</td>
									    </tr>
									    <tr>
									      <th scope="col">&nbsp;간병 시작일</th>
									      <td scope="col">${matInfo[0].beginDt}</td>
									  	  <th scope="col">간병 종료일</th>
									      <td scope="col">${matInfo[0].endDt}</td>
									    </tr>
										${matDate}
							    		<tr>
									      <th scope="col">&nbsp;시작시간</th>
									      <td scope="col">${matInfo[0].beginTime}</td>
									  	  <th scope="col">종료시간</th>
									      <td scope="col">${matInfo[0].endTime}</td>
									    </tr>
									    <tr>
									      <th scope="col">&nbsp;상세 주소</th>
									      <td scope="col" colspan="3">${matInfo[0].matAddressInfo}&nbsp;&nbsp;</td>
									    </tr>
									    <tr>
									      <th scope="col">&nbsp;요청사항</th>
									      <td scope="col" colspan="3">${request}</td>
									    </tr>`;
				
									thead.innerHTML = theadInner;
																								
									let avgReviewScore1 = '';
									if(2 <= avgReviewScore ){
										avgReviewScore1 = `<button class="btn-star btn-icon-star-left" value="1"></button>`+`<button style="margin-left:1px;"class="btn-star-right btn-icon-star-right" value="2"></button>`
									}else if(1 <= avgReviewScore){
										avgReviewScore1 = `<button class="btn-star-right btn-icon-star-left" value="1"></button>`
									}
									
									let avgReviewScore2 = '';
									if(4 <= avgReviewScore ){
										avgReviewScore2 = `<button class="btn-star btn-icon-star-left" value="3"></button>`+`<button style="margin-left:1px;"class="btn-star-right btn-icon-star-right" value="4"></button>`
									}else if(3 <= avgReviewScore){
										avgReviewScore2 = `<button class="btn-star-right btn-icon-star-left" value="3"></button>`
									}
									let avgReviewScore3 = '';
									if(6 <= avgReviewScore ){
										avgReviewScore3 = `<button class="btn-star btn-icon-star-left" value="5"></button>`+`<button style="margin-left:1px;"class="btn-star-right btn-icon-star-right" value="6"></button>`
									}else if(5 <= avgReviewScore){
										avgReviewScore3 = `<button class="btn-star-right btn-icon-star-left" value="5"></button>`
									}
									let avgReviewScore4 = '';
									if(8 <= avgReviewScore ){
										avgReviewScore4 = `<button class="btn-star btn-icon-star-left" value="7"></button>`+`<button style="margin-left:1px;"class="btn-star-right btn-icon-star-right" value="8"></button>`
									}else if(7 <= avgReviewScore){
										avgReviewScore4 = `<button class="btn-star-right btn-icon-star-left" value="7"></button>`
									}
									let avgReviewScore5 = '';
									if(10 <= avgReviewScore ){
										avgReviewScore5 = `<button class="btn-star btn-icon-star-left" value="9"></button>`+`<button style="margin-left:1px;"class="btn-star-right btn-icon-star-right" value="8"></button>`
									}else if(9 <= avgReviewScore){
										avgReviewScore5 = `<button class="btn-star-right btn-icon-star-left" value="9"></button>`
									}
									let re = '';
									if(avgReviewScore != 0){
										re = `<span> 평점 : ${avgReviewScore}점</span>`;
									}else if(avgReviewScore == 0){
										re = `<span>정보가 없습니다.</span>`;
									}
									
									let gender = '';
									if(caregiverIntro.memberGender == 'M'){
										gender = `성별 : 남성`
									}else if(caregiverIntro.memberGender == 'F'){
										gender = `성별 : 여성`
									}
									
									let intro =''
										if(caregiverIntro.careIntro == undefined){
											intro = `-`;
										}else{
											intro = `${caregiverIntro.careIntro}`;
										}
									
									let cInfoInner=`
										<div class="row justify-content-center" >
											<div align="center" class="col-4 m-3 p-3 testBorder" >
								      			<img id="profile-image" src="${caregiverIntro.careImg != null ? caregiverIntro.careImg : 'image/icon_profile.png'}"/>
								      			<hr>
								      			<div class="h3">${caregiverIntro.memberName}님</div>
								      			<div align="center">
													<button type="button" class="m-2 btn-outline-maincolor reviewButton" style="height:40px;font-size:18px">후기 보기</button>		
												</div>
												<div align="center">
													<button type="button" class="m-2 btn-outline-maincolor startChat" style="height:40px;font-size:18px">채팅하기</button>		
												</div>
							      		</div>
							      		<div class="col-7 m-3 p-3 testBorder justify-content-md-center">					      				      		
								      		<div class="row m-2 p-4">
								      			&nbsp;&nbsp;&nbsp;&nbsp;
								      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">${avgReviewScore1}</div>
								      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">${avgReviewScore2}</div>
								      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">${avgReviewScore3}</div>
								      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">${avgReviewScore4}</div>
								      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">${avgReviewScore5}</div>						      				
								      		</div>
								      		<div class="d-flex justify-content-md-center" style="margin-top:-10px">${re}</div>
								      		<div class="col-11 m-3 p-3 testBorder">
								      			<h6>
								      				나이 : ${caregiverIntro.age}세&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								      				${gender}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								      				국적 : ${caregiverIntro.memberNational}</h6>
								      			<h6>경력 : ${caregiverInfoList.career}년</h6>
								      			<h6>자격증 : ${caregiverInfoList.license}</h6>
								      			<div class="h6">적정 1일 돌봄 비용 : ${caregiverIntro.minMoney}원 ~ ${caregiverIntro.maxMoney}원</div>
								      			<hr>
								      			<h6	 align="center">자기소개</h6> 
								      			<h6>${intro}</h6>
								      		</div>
							      		</div>
						      		</div>`;
						      		
									 cInfo.innerHTML = cInfoInner;
									 
									 //후기보기 버튼
									 reviewButton();
								},
								error : data=>console.log(data)			
							});
							
						}
						
						//공동간병
						if(this.className.includes('join')){
							
							const ptDiv = this.parentElement.parentElement.querySelector('.ptDiv');
							const tableGmInfo = this.parentElement.parentElement.querySelector('.gmInfo');	
							const walkout = this.parentElement.parentElement.querySelector('.walkout');
							const out = this.parentElement.parentElement.querySelector('.out');
							
							$.ajax({
								url : 'getJmContent.jm',
								type : 'post',
								data : {'matNo' : matNo},
								dataType : 'json',
								success : data => {
									
									const jmMatMatptInfo = data.jmMatMatptInfo;
									const jmPts = data.jmPts;
									const jmMatDate = data.jmMatDate;
									const loginPt = data.loginPt;
									
									//jmMatMatptInfo
									let jmMatDateInnerHTML = '';
									if(jmMatMatptInfo.matMode == 2){
										jmMatDateInnerHTML = `
							                <tr>
						                    <th>선택일자</th>
						                    <td colspan="3">${jmMatDate}</td>
						                </tr>`;
									}								
									
									const tableGmInfoInnerHTML = `
									    <thead>
									        <tr>
									            <th scope="col" style="width:20%;">NO</th>
									            <th scope="col" style="width:30%;" >${jmMatMatptInfo.matNo}</th>
									            <th scope="col" style="width:20%;">1인당 1일 돌봄비</th>
									            <td scope="col" style="width:30%;">${jmMatMatptInfo.antePay}원</td>
									        </tr>
									    </thead>
									    <tbody>
									        <tr>
									            <th>총 인원</th>
									            <td>${jmMatMatptInfo.ptCount}명</td>
									            <th>현재 참여 인원</th>
									            <td>${jmPts.length}명</td>
									        </tr>
									        <tr>
									            <th>간병 시작일</th>
									            <td>${jmMatMatptInfo.beginDt}</td>
									            <th>간병 종료일</th>
									            <td>${jmMatMatptInfo.endDt}</td>
									        </tr>
									        ${jmMatDateInnerHTML}
									        <tr>
									            <th>시작시간</th>
									            <td>${jmMatMatptInfo.beginTime}</td>
									            <th>종료시간</th>
									            <td>${jmMatMatptInfo.endTime}</td>
									        </tr>
									        <tr>
									            <th>상세주소</th>
									            <td colspan="3">${jmMatMatptInfo.matAddressInfo}</td>
									        </tr>					
									        <tr>
									            <th>요청사항</th>
									            <td colspan="3">${jmMatMatptInfo.matRequest == undefined ? "-" : jmMatMatptInfo.matRequest}</td>
									        </tr>
									    </tbody>
									`;
									
									tableGmInfo.innerHTML = tableGmInfoInnerHTML;								
									
									//jmPts 
	
									ptDiv.innerHTML=''; /*반복 위해 비우기*/
									for(const jmPt of jmPts){
										const ptAge = jmPt.ptAge
										
										//나이계산
										const today = new Date();
									    const birthDate = new Date(ptAge);
									    let age = today.getFullYear() - birthDate.getFullYear();
									    const monthDifference = today.getMonth() - birthDate.getMonth();
									    
									    if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
									        age--;
									    }
										
										const tableDiv = document.createElement('div');
										if(loginPt.ptNo == jmPt.ptNo){
											tableDiv.className = "tableDivMe";
										}else{
											tableDiv.className = "tableDiv";
										}
										tableDiv.style.width = "700px";
										tableDiv.style.marginLeft = "60px";
										
										const tableDivInnerHTML=`
											<table class="table pt">
												<thead>
												    <tr>
												      <th scope="col" style="width:160px;" >이름</th>
												      <th colspan="3" scope="col">${jmPt.ptName}</th>
												    </tr>
												  </thead>
												  <tbody>
												    <tr>
												      <th>성별</th>
												      <td>${jmPt.ptGender == 'F' ? '여성':'남성'}</td>
												      <th>나이</th>
												      <td>${age}</td>
												    </tr>
												    <tr>
												      <th>키</th>
												      <td>${jmPt.ptHeight}cm</td>
												      <th>몸무게</th>
												      <td>${jmPt.ptWeight}kg</td>
												    </tr>
												     <tr>
												      <th>질환</th>
												      <td colspan="3">${jmPt.disease == undefined ? '-' : jmPt.disease}</td>
												    </tr>					
												  	<tr>
												     <th>중증도</th>
												      <td colspan="3">${jmPt.diseaseLevel == undefined ? '-' : jmPt.diseaseLevel}</td>
												    </tr>
												    <tr>
												      <th>요청사항</th>
												      <td colspan="3">${jmPt.ptRequest == 	undefined ? '-' : jmPt.ptRequest}</td>
												    </tr>										    
												    <tr>
												      <th colspan="2">그룹 개설 회원</th>
												      <td colspan="2">${jmMatMatptInfo.ptNo == jmPt.ptNo ? 'Y' : 'N'}</td>
												    </tr>
												</tbody>
											</table>`;	
									
										tableDiv.innerHTML = tableDivInnerHTML;
										ptDiv.append(tableDiv);						
										
										//참여자 퇴장 사용하는 시 선택 참여자 버튼 만들기 
										const walkoutPtDiv = document.getElementById('walkoutPtDiv');
										walkoutPtDiv.innerHTML = '';
										if(jmMatMatptInfo.ptNo != jmPt.ptNo){
											const inputDiv = document.createElement('div');
											inputDiv.className ="col";
			
											walkoutPtDivInner = `
												<input type="checkbox" class="btn-check" name="ptNo" id="${jmPt.ptNo}" value="${jmPt.ptNo}" autocomplete="off">
												<label class="btn btn-outline-secondary" for="${jmPt.ptNo}">${jmPt.ptName}</label>`;
												
											inputDiv.innerHTML = walkoutPtDivInner;
											walkoutPtDiv.append(inputDiv);
										}
										
										
										//공동간병 버튼 기능
										if(loginPt == jmMatMatptInfo.ptNo && jmPts.length > 1){
											document.getElementById('walkout').style.display = "block";
										}
									
										$('.outMatNo').val(jmMatMatptInfo.matNo);
										$('.outMatMode').val(jmMatMatptInfo.matMode);
										$('.outHospitalName').val(jmMatMatptInfo.hospitalName);
										$('.outHospitalAddress').val(jmMatMatptInfo.hospitalAddress);
										
										//참여 취소하기 -> 개설자는 인원에 따라 참여 멤이 있으면 취소 불가능
										document.getElementById('outJmButton').addEventListener('click', ()=>{
											
											const outJoinMatching = document.getElementById('outJoinMatching');
											if(jmMatMatptInfo.ptNo == loginPt.ptNo && jmPts.length > 1){
												document.getElementById('joinLeaderMsg').style.display = "block";
											}else{
												document.getElementById('joinLeaderMsg').style.display = "none";
												outJoinMatching.submit();
											}										
										});	
										
										document.getElementById('walkoutJmButton').addEventListener('click', ()=>{
											const walkoutJoinMatching = document.getElementById('walkoutJoinMatching');
											const walkoutrMsg = document.getElementById('walkoutrMsg')
											const checkedCheckbox = document.querySelectorAll('input[name="ptNo"]:checked');
											
											walkoutrMsg.innerText = "";
											
											if(checkedCheckbox.length == 1){
												document.getElementById('walkoutrMsg').style.display = "none";
												walkoutJoinMatching.submit();
											}else if(checkedCheckbox.length > 1){
												walkoutrMsg.style.display = "block";
												walkoutrMsg.innerText = "퇴장시킬 참여자는 한 명만 선택할 수 있습니다."
											}else{
												walkoutrMsg.style.display = "block";
												walkoutrMsg.innerText = "퇴장시킬 참여자를 선택해주세요."
											}								
										});
									}
								},
								error : data => {
									console.log(data)
								}										
							});
						}
									
					})
					
				}
				
				
				//매칭 신청
				const matOks = document.querySelectorAll('.matOk');
				const modalBody = document.querySelector('#modalBody');
				let modalMatNo = '';
				let modaMemberNo = '';
				
				/*<![CDATA[*/
				const myMatchingMat = /*[[${myMatchingMat}]]*/'[]';
				/*]]>*/
				
				if(matOks){
					for(const matOk of matOks){
						matOk.addEventListener('click', function(){
							modalMatNo = this.parentElement.parentElement.parentElement.querySelector('.matNo').innerHTML;
							modaMemberNo = this.parentElement.parentElement.parentElement.querySelector('.memberNo').innerHTML;
							let modalBodyInner = '';						
							for(const mat of myMatchingMat){
								if(modalMatNo = mat.matNo)
								modalBody.innerHTML = mat.memberName + '님의 매칭 신청을 승낙하시겠습니까?'	
							}
							$('#matOkModal').modal('show');
							
						});
					}
				}
	
				
				document.querySelector('#requestMatchingOk').addEventListener('click', ()=>{
					location.href='matchingApproveP.mc?matNo='+ modalMatNo + '&memberNo=' + modaMemberNo;
				});
				
						
				
				
				//매칭 취소			
				const matCans = document.querySelectorAll('.matCan');
				const modalBody2 = document.querySelector('#modalBody2');
				modalBody2.innerHTML = '';
				
				/*<![CDATA[*/
				const myRequestMatC = /*[[${myRequestMatC}]]*/'[]';
				/*]]>*/
				
				if(matCans){
					for(const matCan of matCans){
						matCan.addEventListener('click', function(){
							modalMatNo = this.parentElement.parentElement.parentElement.querySelector('.matNo').innerHTML;
							modaMemberNo = this.parentElement.parentElement.parentElement.querySelector('.memberNo').innerHTML;				
							for(const mat of myRequestMatC){
								if(modalMatNo = mat.matNo)
								modalBody2.innerHTML = mat.memberName + '님에게 보낸 매칭 신청을 취소하시겠습니까?'	
							}
							$('#matCancelModal').modal('show');
							
						});
					}
				}
				
				document.querySelector('#matCancel').addEventListener('click', ()=>{
					location.href='matchingCancelP.mc?matNo='+ modalMatNo + '&memberNo=' + modaMemberNo;
				});
			
				
				//후기보기 버튼
				reviewButton();
				
				startChat();
		
			
			}
			
			//후기보기 버튼
			const reviewButton =()=>{
				const reviewButtons = document.querySelectorAll('.reviewButton');
				for(const reviewButton of reviewButtons){
					if(reviewButton){
						reviewButton.addEventListener('click', function(){
							
							const matNo = this.closest('.accordion-item').querySelector('.matNo').innerHTML;
							const memberNo = this.closest('.accordion-item').querySelector('.memberNo').innerHTML;
							const from = this.closest('.accordion-item').querySelector('.from').innerHTML;
							
							location.href='reviewDetail.mc?matNo=' + matNo + '&memberNo=' + memberNo + '&from=' + from;
							
						})
					}
				}
			}
			
						
			//채팅하기 버튼
	 		const startChat =()=>{
				const startChatButtons = document.querySelectorAll('.startChat');
				for(const startChatButton of startChatButtons){
					if(startChatButton){
						startChatButton.addEventListener('click', function(){
							
							const matNo = this.closest('.accordion-item').querySelector('.matNo').innerHTML;
							const caregiverMemberNo = this.closest('.accordion-item').querySelector('.memberNo').innerHTML;
							location.href = "/createAndGetChat.ch?matNo=" + matNo +'&caregiverMemberNo=' + caregiverMemberNo ;
							
							 
							
						})
					}
				}
			} 
				
		
		</script>
	</th:block>
	</div>
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	
</body>
</html>