<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/publicMatching2.css}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>
<body>
	<div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
	<main class="inner-content d-flex justify-content-center">
		<form class="w-50 text-center" action="publicMatchingApply.mc" method="post">		
			<div class="publicMatching-wrap text-center">
				<div class="w-100">
					<a href="home.do"><img class="logo-image mb-4" src="image/logo-removebg.png" width="300"></a>
					<h1 class="h3 mb-2 fw-bold text-center">공개 매칭 신청</h1>
					<div class="page-num mb-3">
						<img src="image/icon/1page.png"></img>
						<img src="image/icon/2page-color-green.png"></img>
					</div>
					<div class="mb-5">
						<p><em>*</em> 아래 정보는 기존에 입력한 공개 매칭 설정 정보들입니다.<br>
						   <em>*</em> 아래 정보를 바탕으로 공개 매칭방이 생성됩니다. 정확하게 입력해주세요
						</p>
					</div>
				</div>
				
				<div class="icon-wrap d-flex justify-content-center mb-3">
					<div class="icon-container d-flex flex-column" data-letue="overDay" onclick="selectIcon(this)">
						   <img width="50" height="50" src="https://img.icons8.com/ios/50/calendar--v1.png" alt="calendar--v1"/>
						   	<strong>기간제 간병</strong>
						    <p class="fs-6">24시간 이상의<br>간병이 필요해요.</p>
					</div>
					<div class="icon-container d-flex flex-column" data-letue="underDay" onclick="selectIcon(this)">
	  						<img width="50" height="50" src="https://img.icons8.com/ios/50/time--v1.png" alt="time--v1"/>
	  						<strong>시간제 간병</strong>
					   	 	<p class="fs-6">24시간 미만의<br>간병이 필요해요</p>
					</div>
				</div>
				
				<div id="overDayInput" class="input-field hidden">
			        <div class="d-flex">
			            <label for="overDayStart">시작 날짜 및 시간:&nbsp;&nbsp;&nbsp;</label>
			            <input type="text" id="overDayStart" name="overDayStart" readonly>
			            <input type="hidden" id="beginDt" name="beginDt">
			            <input type="hidden" id="beginTime" name="beginTime">
			       
			        </div>
			        <div class="d-flex mt-3">
			            <label for="overDayEnd">종료 날짜 및 시간:&nbsp;&nbsp;&nbsp;</label>
			            <input type="text" id="overDayEnd" name="overDayEnd" readonly>
			            <input type="hidden" id="endDt" name="endDt">
			            <input type="hidden" id="endTime" name="endTime">
			        </div>
			        <div id="overDaySummary" class="summary">
			            시작 날짜와 종료 날짜를 선택해주세요
			        </div>
			    </div>
				
			    
			    <div id="underDayInput" class="input-field hidden">
			        <div class="d-flex">
			            <label for="underDayPicker">간병 날짜 선택:&nbsp;&nbsp;&nbsp;</label>
			            <input type="text" id="underDayPicker" name="selectedDays" readonly>
			            <input type="hidden" id="selectedFirst" name="beginDt">
			            <input type="hidden" id="selectedLast" name="endDt">
			        </div>
			        <div class="time-picker d-flex mt-3">
			            <label for="underDayStartTime">시작 시간:&nbsp;&nbsp;&nbsp;</label>
			            <input type="time" id="underDayStartTime" name="beginTime">
			            <label for="underDayEndTime">&nbsp;&nbsp;&nbsp;종료 시간:&nbsp;&nbsp;&nbsp;</label>
			            <input type="time" id="underDayEndTime" name="endTime">
			        </div>
			        <div id="underDaySummary" class="summary">
			            원하시는 날과 시간을 선택해주세요
			        </div>
    		 </div> 
		</div>
			 <div class="wantMoney-section d-flex flex-column justify-content-center">
			 	<div class="instruction-text">
			        <p class="fw-bold fs-5"><img width="50" height="50" src="https://img.icons8.com/ios/50/get-cash--v2.png" alt="get-cash--v2"/>&nbsp;&nbsp;원하시는 금액을 입력해주세요<br>
			        <span class="multiple-selection-note ms-5">
			        	<em class="fs-6">작성하시는 금액은 하루일당 기준이며 <br>최종 금액은 매칭된 간병인과의 협의를 통해 결정됩니다.</em>
			        </span>
			    </div>
				<div class="form-floating d-flex mb-3 w-50" id="money-input">
					<input type="number" class="form-control" id="money" name="money">
					<label for="money">일당</label><p class="mt-3 ms-2">원</p>
				</div>
			 </div>
			 <div class="symptom-selection-container">
			    <div class="instruction-text">
			        <p class="fw-bold fs-5"><img width="48" height="48" src="https://img.icons8.com/color/48/treatment-plan.png" alt="treatment-plan"/>&nbsp;&nbsp;환자에게 해당되는 증상을 선택해주세요<br>
			        <span class="multiple-selection-note"><em>(중복 선택 가능)</em></span>
			    </div>
			    <div class="symptom-buttons">
			        <div class="row mb-3">
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="21">치매</button>
			            </div>
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="22">섬망</button>
			            </div>
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="23">욕창</button>
			            </div>
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="24">하반신 마비</button>
			            </div>
			        </div>
  			        <div class="row mb-3">
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="25">전신 마비</button>
			            </div>
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="26">와상 환자</button>
			            </div>
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="27">기저귀 케어</button>
			            </div>
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="28">의식 없음</button>
			            </div>
			        </div>
   			        <div class="row mb-3">
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="29">석션</button>
			            </div>
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="30">피딩</button>
			            </div>
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="31">소변줄</button>
			            </div>
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="32">장루</button>
			            </div>
			        </div>
   			        <div class="row mb-3">
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="33">투석</button>
			            </div>
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="34">전염성 질환</button>
			            </div>
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="35">파킨슨</button>
			            </div>
			            <div class="col-3">
			                <button type="button" class="btn-radio" data-symptom="36">정신 질환</button>
			            </div>
			        </div>
		        </div>
		        <input type="hidden" id="selectedSymptoms" name="selectedSymptoms" value="">
	        </div>
		        <div class="mobility-button d-flex flex-column mt-5">
				    <div class="instruction-text">
				        <p class="fw-bold fs-5"><img width="48" height="48" src="https://img.icons8.com/color/48/walking--v1.png" alt="walking--v1"/>&nbsp;&nbsp;환자의 거동 상태를 선택해주세요</p>
				    </div>
				    <div class="row mb-3">
				        <div class="col-3">
				            <button type="button" class="btn-radio mobility-option" data-symptom="40">자가 보행</button>
				        </div>
				        <div class="col-3">
				            <button type="button" class="btn-radio mobility-option" data-symptom="41">거동 불가</button>
				        </div>
				        <input type="hidden" id="selectedMobility" name="selectedMobility">
				    </div>
				</div>
				<div class="gender-button d-flex flex-column align-items-center w-100 mt-5">
				    <div class="instruction-text">
				        <p class="fw-bold fs-5"><img width="48" height="48" src="https://img.icons8.com/color/48/gender--v1.png" alt="gender--v1"/>&nbsp;&nbsp;선호하는 간병인의 성별을 선택해주세요.</p>
				    </div>
				    <div class="row mb-3 gap-0.5 w-100 d-flex justify-content-center">
				        <div class="col-3">
				            <button type="button" class="btn-radio gender-option" data-symptom="71">남성</button>
				        </div>
				        <div class="col-3">
				            <button type="button" class="btn-radio gender-option" data-symptom="72">여성</button>
				        </div>
				    </div>
				    <div class="col-3 w-50">
			            <button type="button" class="btn-radio gender-option w-50" data-symptom="70">상관 없음</button>
		        	</div>
				    <input type="hidden" id="selectedGender" name="selectedGender">
				</div>
				
				<div class="career-button d-flex flex-column align-items-center text-nowrap mt-5">
				    <div class="instruction-text">
				        <p class="fw-bold fs-5"><img width="64" height="64" src="https://img.icons8.com/cotton/64/scroll--v1.png" alt="scroll--v1"/>&nbsp;&nbsp;선호하는 간병인의 경력을 선택해주세요.</p>
				    </div>
				    <div class="row mb-3 w-100 d-flex justify-content-center">
				        <div class="col-3">
				            <button type="button" class="btn-radio career-option" data-symptom="12">1년 이상</button>
				        </div>
				        <div class="col-3">
				            <button type="button" class="btn-radio career-option" data-symptom="13">3년 이상</button>
				        </div>
				    </div>
				    <div class="row mb-3 w-100 d-flex justify-content-center">
				        <div class="col-3">
				            <button type="button" class="btn-radio career-option" data-symptom="14">5년 이상</button>
				        </div>
				        <div class="col-3">
				            <button type="button" class="btn-radio career-option" data-symptom="11">상관 없음</button>
				        </div>
				    </div>
				    <input type="hidden" id="selectedCareer" name="selectedCareer">
				</div>
				
				<div class="local-button d-flex flex-column align-items-center w-100 mt-5">
				    <div class="instruction-text">
				        <p class="fw-bold fs-5"><img width="50" height="50" src="https://img.icons8.com/ios/50/passport.png" alt="passport"/>&nbsp;&nbsp;선호하는 간병인의 국적을 선택해주세요.</p>
				    </div>
				    <div class="row mb-3 gap-0.5 w-100 d-flex justify-content-center">
				        <div class="col-3">
				            <button type="button" class="btn-radio local-option" data-symptom="73">내국인</button>
				        </div>
				        <div class="col-3">
				            <button type="button" class="btn-radio local-option" data-symptom="74">외국인</button>
				        </div>
				    </div>
				    <div class="col-3 w-50">
			            <button type="button" class="btn-radio local-option w-50" data-symptom="75">상관 없음</button>
		        	</div>
				    <input type="hidden" id="selectedLocal" name="selectedLocal">
				</div>
				<div class="age-button d-flex flex-column align-items-center w-100 mt-5">
				    <div class="instruction-text mb-2">
				        <p class="fw-bold fs-5"><img width="64" height="64" src="https://img.icons8.com/external-flat-wichaiwi/64/external-life-ageing-society-flat-wichaiwi.png" alt="external-life-ageing-society-flat-wichaiwi"/>&nbsp;&nbsp;&nbsp;선호하는 간병인의 연령대를 선택해주세요.</p>
				    </div>
				    <div class="row mb-3 gap-0.5 w-100 d-flex justify-content-center">
				        <div class="col-3">
				            <button type="button" class="btn-radio age-option" data-symptom="81">청년층</button>
				        </div>
				        <div class="col-3">
				            <button type="button" class="btn-radio age-option" data-symptom="82">중년층</button>
				        </div>
				        <div class="col-3">
				            <button type="button" class="btn-radio age-option" data-symptom="83">노년층</button>
				        </div>
				    </div>
				    <div class="col-3 w-50">
			            <button type="button" class="btn-radio age-option w-50" data-symptom="84">상관 없음</button>
		        	</div>
				    <input type="hidden" id="selectedAge" name="selectedAge">
				</div>
				
				
               	<div class="sign-btn mt-5 d-flex justify-content-center">
               		<button type="button" class="previous-btn me-3" th:onclick="history.back();"><span>이전</span></button>
					<button type="submit" class="apply-btn me-3"><span>공개 매칭 신청</span></button>
				</div>		
		</form>
	</main>
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
<script>
$(document).ready(function() {
    // 상수 및 설정
    const LOCALE = 'ko';
    const DATE_FORMAT = {
        fullDateTime: "Y-m-d H:i",
        dateOnly: "Y년 m월 d일",
        timeOnly: "H:i"
    };

    // 증상 버튼 클릭 이벤트
    $('.symptom-buttons .btn-radio').click(function() {
        $(this).toggleClass('selected');
        updateSelectedSymptoms();
    });

    // 선택된 증상 업데이트 함수
    function updateSelectedSymptoms() {
    	
        var selectedSymptoms = $('.symptom-buttons .btn-radio.selected')
            .map(function() {
                return $(this).data('symptom');
            }).get().join(',');
        $('#selectedSymptoms').val(selectedSymptoms);
        console.log('선택된 증상:', typeof(selectedSymptoms));
    }

    // 유틸리티 함수
    function formatDate(date) {
        if (!(date instanceof Date) || isNaN(date)) {
            console.error('Invalid date object:', date);
            return '';
        }
        return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`;
    }

    function checkElementsExist(...ids) {
        const missingElements = ids.filter(id => !document.getElementById(id));
        if (missingElements.length > 0) {
            console.error('Missing elements:', missingElements.join(', '));
            return false;
        }
        return true;
    }
    
    window.selectIcon = function(element) {
        $('.icon-container').removeClass('selected');
        $(element).addClass('selected');
        const selectedValue = $(element).data('letue');
        
        $('#overDayInput, #underDayInput').addClass('hidden');
        
        if (selectedValue === 'overDay') {
            $('#overDayInput').removeClass('hidden');
            resetInputs('under');
        } else if (selectedValue === 'underDay') {
            $('#underDayInput').removeClass('hidden');
            resetInputs('over');
        }
    }


    // 초기화 함수
    function initializeFlatpickr() {
        flatpickr.localize(flatpickr.l10ns[LOCALE]);

        if (!checkElementsExist('overDayStart', 'overDayEnd', 'underDayPicker', 'underDayStartTime', 'underDayEndTime')) {
            alert('페이지 로딩 중 오류가 발생했습니다. 페이지를 새로고침 해주세요.');
            return;
        }

        // 기간제 간병 설정
        const overDayConfig = {
            enableTime: true,
            dateFormat: DATE_FORMAT.fullDateTime,
            minDate: "today",
            locale: LOCALE,
            minuteIncrement: 30,
            onChange: (selectedDates, dateStr, instance) => {
                updateDateTimeFields();
                updateOverDaySummary();
            }
        };
        
        flatpickr("#overDayStart", overDayConfig);
        flatpickr("#overDayEnd", overDayConfig);

        // 시간제 간병 설정
        flatpickr("#underDayPicker", {
            mode: "multiple",
            dateFormat: DATE_FORMAT.dateOnly,
            minDate: "today",
            locale: LOCALE,
            onChange: (selectedDates, dateStr) => {
                updateSelectedDateRange();
                updateUnderDaySummary();
            }
        });

        flatpickr("#underDayStartTime, #underDayEndTime", {
            enableTime: true,
            noCalendar: true,
            dateFormat: DATE_FORMAT.timeOnly,
            minuteIncrement: 30,
            time_24hr: true,
            onChange: updateUnderDaySummary
        });
    }

    // 업데이트 함수
    function updateDateTimeFields() {
        ['overDayStart', 'overDayEnd'].forEach(id => {
            const value = $(`#${id}`).val();
            if (value) {
                const [date, time] = value.split(' ');
                $(`#${id === 'overDayStart' ? 'beginDt' : 'endDt'}`).val(date);
                $(`#${id === 'overDayStart' ? 'beginTime' : 'endTime'}`).val(time);
            }
        });
    }

    function updateSelectedDateRange() {
        if (!checkElementsExist('underDayPicker', 'selectedFirst', 'selectedLast')) {
            console.error('Required elements for date range update are missing.');
            return;
        }

        const underDayPicker = document.getElementById('underDayPicker');
        const selectedFirst = document.getElementById('selectedFirst');
        const selectedLast = document.getElementById('selectedLast');
        
        console.log("underDayPicker value:", underDayPicker.value);

        if (underDayPicker.value) {
            const dates = underDayPicker.value.split(',').map(date => date.trim());
            console.log("Parsed dates:", dates);

            if (dates.length > 0) {
                const parsedDates = dates.map(date => {
                    const match = date.match(/(\d{4})년\s*(\d{1,2})월\s*(\d{1,2})일/);
                    if (match) {
                        const [, year, month, day] = match;
                        return new Date(year, parseInt(month) - 1, parseInt(day));
                    }
                    console.error('Invalid date format:', date);
                    return null;
                }).filter(date => date !== null);

                console.log("Parsed date objects:", parsedDates);

                if (parsedDates.length > 0) {
                    selectedFirst.value = formatDate(new Date(Math.min(...parsedDates)));
                    selectedLast.value = formatDate(new Date(Math.max(...parsedDates)));
                } else {
                    console.error('No valid dates found');
                    selectedFirst.value = selectedLast.value = '';
                }
            } else {
                console.log('No dates selected');
                selectedFirst.value = selectedLast.value = '';
            }
        } else {
            console.log('underDayPicker is empty');
            selectedFirst.value = selectedLast.value = '';
        }

        console.log("Final selectedFirst:", selectedFirst.value);
        console.log("Final selectedLast:", selectedLast.value);
    }

    function updateOverDaySummary() {
        const start = $("#overDayStart")[0]._flatpickr.selectedDates[0];
        const end = $("#overDayEnd")[0]._flatpickr.selectedDates[0];
        
        if (start && end) {
            if (end <= start) {
                $('#overDaySummary').html('<span class="error-message">종료 시간은 시작 시간 이후여야 합니다.</span>');
                return;
            }
            
            const diffTime = Math.abs(end - start);
            const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));
            const diffHours = Math.floor((diffTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const diffMinutes = Math.floor((diffTime % (1000 * 60 * 60)) / (1000 * 60));
            
            let result = '선택한 기간: ';
            if (diffDays > 0) result += `${diffDays}일 `;
            if (diffHours > 0) result += `${diffHours}시간 `;
            if (diffMinutes > 0) result += `${diffMinutes}분`;
            
            $('#overDaySummary').text(result.trim());
        } else {
            $('#overDaySummary').text('날짜와 시간을 선택해주세요.');
        }
    }

    function updateUnderDaySummary() {
        const startTime = $('#underDayStartTime').val();
        const endTime = $('#underDayEndTime').val();
        const selectedDates = $("#underDayPicker")[0]._flatpickr.selectedDates;
        
        let timeDiff = 0;
        if (startTime && endTime) {
            let start = new Date(`2000-01-01T${startTime}`);
            let end = new Date(`2000-01-01T${endTime}`);
            
            if (end <= start) {
                end.setDate(end.getDate() + 1);
            }
            
            timeDiff = (end - start) / (1000 * 60 * 60);
        }

        let summaryText = `선택한 기간: 총 ${selectedDates.length}일`;
        if (timeDiff > 0) {
            summaryText += `, 하루 ${timeDiff}시간`;
        }

        $('#underDaySummary').text(summaryText);
    }

    // 이벤트 핸들러
    function setupSingleSelection(className, hiddenInputId) {
        $(`.${className}`).on('click', function() {
            $(`.${className}`).removeClass('selected');
            $(this).addClass('selected');
            $(`#${hiddenInputId}`).val($(this).data('symptom'));
            console.log(`선택된 ${hiddenInputId}:`, $(`#${hiddenInputId}`).val());
        });
    }

    function handleIconClick() {
        $('.icon-container').on('click', function() {
            $('.icon-container').removeClass('selected');
            $(this).addClass('selected');
            const selectedValue = $(this).data('letue');
            
            $('#overDayInput, #underDayInput').addClass('hidden');
            
            if (selectedValue === 'overDay') {
                $('#overDayInput').removeClass('hidden');
                resetInputs('under');
            } else if (selectedValue === 'underDay') {
                $('#underDayInput').removeClass('hidden');
                resetInputs('over');
            }
        });
    }

    function handleFormSubmit() {
        $('form').on('submit', function(e) {
            e.preventDefault();
            const selectedCareType = $('.icon-container.selected').data('letue');
            
            $('#overDayInput input, #underDayInput input').prop('disabled', false);
            if (selectedCareType === 'overDay') {
                $('#underDayInput input').prop('disabled', true);
            } else if (selectedCareType === 'underDay') {
                $('#overDayInput input').prop('disabled', true);
            }

            updateSelectedSymptoms();

            if (!$('#selectedMobility').val()) { // 거동 검증
                alert('거동 상태를 선택해주세요.');
                return false;
            }

            if (!$('#selectedGender').val()) { // 성별 검증
                alert('선호하는 간병인의 성별을 선택해주세요.');
                return false;
            }
            
            if (!$('#selectedCareer').val()) {  // 경력 선택 검증 추가
                alert('선호하는 간병인의 경력을 선택해주세요.');
                return false;
            }
            if (!$('#selectedLocal').val()) {  // 경력 선택 검증 추가
                alert('선호하는 간병인의 국적을 선택해주세요.');
                return false;
            }
            if (!$('#selectedAge').val()) {  // 경력 선택 검증 추가
                alert('선호하는 간병인의 연령대를 선택해주세요.');
                return false;
            }

            this.submit();
        });
    }

    function resetInputs(type) {
        if (type === 'over') {
            // 기간제 간병 입력 초기화
            $('#overDayStart, #overDayEnd').val('');
            $('#beginDt, #endDt, #beginTime, #endTime').val('');
            $('#overDaySummary').text('날짜와 시간을 선택해주세요.');
        } else if (type === 'under') {
            // 시간제 간병 입력 초기화
            $('#underDayPicker').val('');
            $('#selectedFirst, #selectedLast').val('');
            $('#underDayStartTime, #underDayEndTime').val('');
            $('#underDaySummary').text('날짜와 시간을 선택해주세요.');
        }
    }

    // 초기화 및 이벤트 바인딩
    initializeFlatpickr();
    setupSingleSelection('mobility-option', 'selectedMobility');
    setupSingleSelection('gender-option', 'selectedGender');
    setupSingleSelection('career-option', 'selectedCareer');
    setupSingleSelection('local-option', 'selectedLocal');
    setupSingleSelection('age-option', 'selectedAge');
    handleIconClick();
    handleFormSubmit();

    // 초기 업데이트
    updateDateTimeFields();
    updateSelectedDateRange();
});
</script>
</body>
</html>