<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/reviewDetail.css}" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
	<div th:replace="~{common/navbar :: navbar}"></div>
	<main class="container ">
		<div class="row m-4">
			<div class="m-4 h1 d-flex justify-content-between" style="max-width:1150px; border-bottom:5px solid #133B5C;">
				<a href="home.do" class="logo">든든케어<img class="logoImage m-1"th:src="@{/image/mainLogoVer2.png}"></a>
				
				<div>간병인 정보</div>
			</div>
			<div class="col-8 m-3">
				<div class="row justify-content-md-center">
					<div align="center" class="col-4 m-3 p-3 " >
			      		<img id="profile-image" src="image/icon_profile.png"/>
			      		<hr>
			      		<div class="h2" style="color:#133B5C"><b>[[${caregiverIntro.memberName}]]님</b></div>
			      			<div style="display:none" th:text="${memberNo}" class="memberNo"></div>	
			      		<div align="center">
							<button th:if="${matNo == null && beforePage == null}" type="button" class="m-4 btn-maincolor" id="requestMatModal">매칭 신청하기</button>
							<button th:if="${matNo != null && beforePage == 'want' && leader == 'Y'}" type="button" class="m-4 btn-maincolor" id="cancellMatModal">매칭 신청 취소</button>
							<button th:if="${matNo != null && beforePage == 'wanted' && leader == 'Y'}" type="button" class="m-4 btn-maincolor" id="matOkModal">매칭 승낙하기</button>	
							<button th:if="${matNo != null && beforePage == 'myInfoMatchingHistoryP'}" type="button" class="m-4 btn-outline-maincolor" id="reviewWriteButton">후기 작성하기</button>		
						</div>		      		
		      		</div>
		      		<div class="col-7 m-3 p-3  justify-content-md-center" style="border-left:4px solid #FCDAB7; border-right:4px solid #FCDAB7;">
		      				      		
			      		<div class="row m-2 p-4">
			      			&nbsp;&nbsp;&nbsp;&nbsp;
			      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">
								<button th:if="${1 <= avgReviewScore}" class="btn-star btn-icon-star-left" value="1"></button>
								<button th:if="${2 <= avgReviewScore}" class="btn-star-right btn-icon-star-right" value="2"></button>
			      			</div>
			      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">
								<button th:if="${3 <= avgReviewScore}" class="btn-star btn-icon-star-left" value="3"></button>
								<button th:if="${4 <= avgReviewScore}" class="btn-star-right btn-icon-star-right" value="4"></button>
			      			</div>
			      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">
								<button th:if="${5 <= avgReviewScore}" class="btn-star btn-icon-star-left" value="5"></button>
								<button th:if="${6 <= avgReviewScore}" class="btn-star-right btn-icon-star-right" value="6"></button>
			      			</div>
			      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">
								<button th:if="${7 <= avgReviewScore}" class="btn-star btn-icon-star-left" value="7"></button>
								<button th:if="${8 <= avgReviewScore}" class="btn-star-right btn-icon-star-right" value="8"></button>
			      			</div>
			      			<div class="col icon-star" style="width:46px; height:46px;padding:0px;">
								<button th:if="${9 <= avgReviewScore}" class="btn-star btn-icon-star-left" value="9"></button>
								<button th:if="${10 <= avgReviewScore}" class="btn-star-right" value="10"></button>
			      			</div>
			      				
			      		</div>
			      		
			      		<div class="d-flex justify-content-between p-1" style="margin-top:-10px">
							<span>&nbsp;&nbsp;&nbsp;&nbsp;총 후기 ([[${reviewCount}]]개)</span>			      		
							<span th:if="${avgReviewScore != 0}">평점 : [[${avgReviewScore}]]점&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>	
							<span th:if="${avgReviewScore == 0}">정보가 없습니다.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>		      		
			      		</div>
			      		
			      		<div class="col-11 m-3 p-3 " style="border-top:1px solid #FCDAB7; border-bottom:1px solid #FCDAB7;">
			      			<h6>
			      				<b>나이 :</b> [[${caregiverIntro.age}]]세&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				      			<th:block th:if="${caregiverIntro.memberGender} == 'M'">
				      			<b>성별 :</b> 남성&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				      			</th:block>
				      			<th:block th:if="${caregiverIntro.memberGender} == 'F'">
				      			<b>성별 :</b> 여성&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				      			</th:block>			      			
			      				<b>국적 :</b> [[${caregiverIntro.memberNational}]]</h6>
			      			<h6><b>경력 :</b> [[${caregiverInfoList.career}]]년</h6>
			      			<th:block th:if="${caregiverInfoList.license != null and caregiverInfoList.license.size() > 0}">
				      				<span class="h6 "><b>자격증 : </b></span>
				      			<th:block th:each="license : ${caregiverInfoList.license}">
				      				<span class="h6">[[${license}]]</span>
				      			</th:block>
			      			</th:block>
			      			<th:block th:if="${caregiverInfoList.license == null or caregiverInfoList.license.size() == 0}">
						        <span> <b>자격증:</b> 없음</span>
						    </th:block>
			      			<div class="h6"><b>적정 1일 돌봄 비용 :</b> [[${caregiverIntro.minMoney}]]원 ~ [[${caregiverIntro.maxMoney}]]원</div>
			      			<h6><b>공동간병 참여 여부 :</b> [[${caregiverIntro.careJoinStatus =='Y' ? '참여':'미참여'}]]</h6>
			      			<hr>
			      			<h6	 align="center"><b>자기소개</b></h6> 
			      			<h6>[[${caregiverIntro.careIntro}]]</h6>
			      		</div>
			      		
		      		</div>
	      		</div>
			</div>
			<div class="col-3 m-3 p-2 text-center" >
				<div class="row m-3 text-center" align="center" style="color:#133B5C; border-bottom:2px solid #FCDAB7"><h2><b>매칭 기록</b></h2></div>
				<h3 th:if="${serviceList.isEmpty()}">기록이 없습니다.</h3>
				<div th:unless="${serviceList.isEmpty()}" class="m-3 p-2" style="border-bottom:1px solid #dee2e6" id="count-section">
					<canvas class="my-4 w-100" id="matchingRecord" width="900" height="250"></canvas>
						
				</div>
			</div>
			
			
			<!-- Modal -->
			<div class="modal fade" tabindex="-1" role="dialog" id="modalChoice">
				<div class="modal-dialog modal-dialog-centered" role="document">
		    		<div class="modal-content rounded-3 shadow">
		    		 <form id="writeReviewForm" method="post">
		    			<div align="center" class="m-2 mt-2 h2" id="modalScore" style="margin-top:30px;">10</div>
			    			<div align="center" id="reviewScore" class="d-flex justify-content-center m-3" >
			    				<div class="icon-star" style="width:46px; height:46px;padding:0px;">
									<button type="button" class="btn-star btn-icon-star-left-modal" value="1"></button>
									<button type="button" class="btn-star-right btn-icon-star-right-modal "value="2"></button>
				      			</div>
			    				<div class="icon-star" style="width:46px; height:46px;padding:0px;">
									<button type="button" class="btn-star btn-icon-star-left-modal"value="3"></button>
									<button type="button" class="btn-star-right btn-icon-star-right-modal"value="4"></button>
				      			</div>
			    				<div class="icon-star" style="width:46px; height:46px;padding:0px;">
									<button type="button" class="btn-star btn-icon-star-left-modal"value="5"></button>
									<button type="button" class="btn-star-right btn-icon-star-right-modal"value="6"></button>
				      			</div>
			    				<div class="icon-star" style="width:46px; height:46px;padding:0px;">
									<button type="button" class="btn-star btn-icon-star-left-modal"value="7"></button>
									<button type="button" class="btn-star-right btn-icon-star-right-modal"value="8"></button>
				      			</div>
			    				<div class="icon-star" style="width:46px; height:46px;padding:0px;">
									<button type="button" class="btn-star btn-icon-star-left-modal" value="9"></button>
									<button type="button" class="btn-star-right btn-icon-star-right-modal"value="10"></button>
				      			</div>
			    			</div>
		    			<div align="center">별을 클릭하세요</div>
						<div class="m-4 review-content"contenteditable=true></div>		    				
		      			<div class="modal-footer  p-0">
		      				<div class="d-flex justify-content-evenly">
               				 <input type="hidden" name="matNo" id="hiddenMatNo" th:value=${matNo}>		
               				 <input type="hidden" name="memberNo" id="hiddenCaregiverNo" th:value=${memberNo}>		
		      				 <input type="hidden" name="reviewScore" id="hiddenScore" value="">
               				 <input type="hidden" name="reviewContent" id="hiddenReview">		
			      				<button type="button" class="btn btn-success" id="modalReviewWrite">후기남기기</button>
			      				<button type="button" class="btn btn-light"data-bs-dismiss="modal">취소</button>
		      				</div>
		      			</div>
			    		</form>
		      				
		    		</div>
		  		</div>	
			</div>
			
		</div>
		<div align="center">
		<div align="right" style="max-width:700px; color:#133B5C;">
			<h3><b>[[${reviewList.size()}]]개의 후기가 있습니다</b></h3>
		</div>
		<div class="row m-4 testBorder" style="max-width:700px"th:each="rList:${reviewList}"><!-- each -->
			<div class="col m-2">
				<div align="left" class="p-3">
					<span class="h5" >[[${rList.ptName}]]님이 쓰신 후기</span><img src="/image/heart.gif" width="20" height="20">
				</div>
			</div>
			<div class="col" style="margin-left:24px">
				<div align="center"  class="d-flex justify-content-left" style="min-width:600px;">
	      			<div align="left"class="icon-star-review">
						<button th:if="${1 == rList.reviewScore}" class="btn-star btn-icon-star-review-half"></button>
						<button th:if="${1 < rList.reviewScore}" class="btn-star btn-icon-star-review"></button>
	      			</div>
	      			<div align="left"class="icon-star-review">
						<button th:if="${3 == rList.reviewScore}" class="btn-star btn-icon-star-review-half"></button>
						<button th:if="${3< rList.reviewScore}" class="btn-star btn-icon-star-review"></button>
	      			</div>
	      			<div align="left"class="icon-star-review">
						<button th:if="${5 == rList.reviewScore}" class="btn-star btn-icon-star-review-half"></button>
						<button th:if="${5 < rList.reviewScore}" class="btn-star btn-icon-star-review"></button>
	      			</div>
	      			<div align="left"class="icon-star-review">
						<button th:if="${7 == rList.reviewScore}" class="btn-star btn-icon-star-review-half"></button>
						<button th:if="${7 < rList.reviewScore}" class="btn-star btn-icon-star-review"></button>
	      			</div>
	      			<div align="left"class="icon-star-review">
						<button th:if="${9 == rList.reviewScore}" class="btn-star btn-icon-star-review-half"></button>
						<button th:if="${9 < rList.reviewScore}" class="btn-star btn-icon-star-review"></button>
	      			</div>
	      			<span >([[${rList.reviewScore}]])</span>
	      			
    			</div>
		    </div>
			<div align="right"class="col m-4 " style="border-bottom:2px solid lightgray;">
				<span>작성날짜 : [[${rList.reviewUpdateDate}]]</span>
			</div>
			<div>	</div>
			<div align="left"class="col m-4 ">
				<div class="p-2" style="background:rgba(252,218,183,0.6); border-radius:5px; ">[[${rList.reviewContent}]]</div>
			</div>
		</div>
		<div class="sign-btn d-flex justify-content-center mx-auto" style="weight:300px; margin-bottom:100px;">
			<button type="button" onclick="history.go(-1)" class="signUp-btn mt-4 justify-content-md-center" id="backButton"><span>이전으로</span></button>		
		</div>
	</div>
	
	</main> 
	
	
	<!-- 매칭 신청 모달 -->	
	<div class="modal fade" id="matCheckN" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h3 class="modal-title fw-bold fs-5" id="exampleModalLabel">매칭 신청</h3>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body" style="margin:30px;">
	        <h4 class="h4 mb-4 fw-bold">
	        	[[${caregiverIntro.memberName}]]님과의 매칭을 신청하시겠습니까?
	        </h4>
	        <h5 class="h5 mb-1">아래 버튼을 누르면 매칭 신청 페이지로 이동합니다.<br>매칭 신청 후 상대가 매칭 신청을 승낙하고, 입금을 완료하면 매칭이 성사됩니다.</h5>	        
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-dndn" id="requestMatching">매칭 신청</button>
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	
	<!-- 매칭 승낙 모달 -->	
	<div class="modal fade" id="matOk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h3 class="modal-title fw-bold fs-5" id="exampleModalLabel">매칭 승낙</h3>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body" style="margin:30px;">
	        <h4 class="h4 mb-4 fw-bold">
	        	[[${caregiverIntro.memberName}]]님의 매칭 신청을 승낙하시겠습니까?
	        </h4>
	        <h5 class="h5 mb-1">아래 버튼을 누르면 매칭 신청 승낙이 완료됩니다.<br>입금을 완료하면 매칭이 성사됩니다.</h5>	        
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-dndn" style="background:#1D2D50" id="requestMatchingOk">매칭 승낙</button>
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>	
	
		<!-- 이미 해당 매칭방에 매칭 신청을 한 경우 -->	
	<div class="modal fade" id="matCheckY" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h3 class="modal-title fw-bold fs-5" id="exampleModalLabel2">매칭 신청</h3>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body" style="margin:30px;">
	        <h5 class="h5 mb-3">
	        	해당 건은 이미 매칭 신청이 완료되었습니다. 
	        </h5> 
	         <h5 class="h5 mb-3">
	        	동일한 상대에게 2번 이상 매칭 신청을 할 수 없습니다. 
	        </h5>    
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	
	<!-- 매칭 신청 취소 모달 -->	
	<div class="modal fade" id="matCanModal" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h3 class="modal-title fw-bold fs-5" id="exampleModalLabel3">매칭 신청 취소</h3>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body" style="margin:30px;">
	        <h4 class="h4 mb-4 fw-bold">
	        	[[${caregiverIntro.memberName}]]님에게 보낸 매칭 신청을 취소하시겠습니까?
	        </h4>
	        <h5 class="h5 mb-1">아래 버튼을 누르면 매칭 신청이 취소됩니다.<br>한 번 취소한 매칭 신청은 회복이 불가능합니다.</h5>	        
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-dndn" id="matCan">매칭 신청 취소</button>
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
    <div class="chatFixedBtn" th:replace="~{common/chatFixedBtn.html :: chatFixedBtn}"></div>
    <div class="matFixedBtn" th:replace="~{common/matFixedBtn :: matFixedBtn}"></div>
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
	<script th:inline="javascript">
	
		const reviewWriteButton = document.getElementById('reviewWriteButton')
		if(reviewWriteButton){
			reviewWriteButton.addEventListener('click',()=>{
				$('#modalChoice').modal('show');	
			})
		}
		
		const reviewScore = document.getElementById('reviewScore');
		const bts = reviewScore.querySelectorAll('button');
		for(bt of bts){
				bt.addEventListener('click',function(){
					document.getElementById('modalScore').innerText = this.value;
					
					for(let i = 0 ; i < this.value ; i++){	//색칠하기
						if(i % 2 == 0){
							if(!bts[i].classList.contains('btn-icon-star-left-modal')){
								bts[i].classList.add('btn-icon-star-left-modal');
							}
							
						}else{
							if(!bts[i].classList.contains('btn-icon-star-right-modal')){
								console.log('체크')
								console.log(i)
								bts[i].classList.add('btn-icon-star-right-modal');
							}
						}
					}
					for(let i = 9 ; i >= this.value ; i--){ //색지우기
						if(i % 2 == 0){
							if(bts[i].classList.contains('btn-icon-star-left-modal')){
								bts[i].classList.remove('btn-icon-star-left-modal');
								
							}
							
						}else{
							if(bts[i].classList.contains('btn-icon-star-right-modal')){
								bts[i].classList.remove('btn-icon-star-right-modal');
								
							}
						}
					}
				})
		}
		    
		
		document.getElementById('modalReviewWrite').addEventListener('click', function() {
			const reviewScoreDiv = document.getElementById('reviewScore');
			const reviewScore = document.getElementById('modalScore').innerText
			console.log(reviewScore)
			
			document.getElementById('hiddenScore').value = reviewScore;
				
			const reviewContent = document.querySelector('.review-content').innerText;
	   		document.getElementById('hiddenReview').value = reviewContent;
	        
	    	const form = document.getElementById('writeReviewForm');
	        form.action = 'writeReview.mc';
	       	form.submit();
	    });
	
		
		
		window.onload =() =>{
			
			/*<![CADATA[*/
			const matNo = /*[[${matNo}]]*/'matNo'
			/*]]>*/
			

			/*<![CADATA[*/
			const memberNo = /*[[${memberNo}]]*/'memberNo'
				/*]]>*/
							
			//남희 : 매칭 신청
			const requestMatModal = document.querySelector('#requestMatModal');
			if(requestMatModal){
				requestMatModal.addEventListener('click', ()=>{									
					$('#matCheckN').modal('show');	

				});
			}
				document.querySelector('#requestMatching').addEventListener('click', ()=>{
					location.href = 'publicMatching.mc?memberNoC=' + memberNo;
				});
			
			
			//남희 : 매칭 승낙
			const matOkModal = document.querySelector('#matOkModal');
			if(matOkModal){
				matOkModal.addEventListener('click', ()=>{
					$('#matOk').modal('show');	
				});
			}
			document.querySelector('#requestMatchingOk').addEventListener('click', ()=>{
				location.href = 'matchingApproveP.mc?matNo=' + matNo + '&memberNo=' + memberNo;
			});
			
						
						
			//남희 : 매칭 신청 취소
			const cancellMatModal = document.querySelector('#cancellMatModal');
			if(cancellMatModal){
				cancellMatModal.addEventListener('click', ()=>{
					$('#matCanModal').modal('show');	
				});
			}
			document.querySelector('#matCan').addEventListener('click', ()=>{
				location.href = 'matchingCancelP.mc?matNo=' + matNo + '&memberNo=' + memberNo;
			});
				
			// 매칭 통계
			
			/*<![CADATA[*/
			const serviceList = /*[[${serviceList}]]*/'null'
				/*]]>*/
			console.log(serviceList)
			
			const service = [];
			for(let i=0; i < serviceList.length; i++){
				if(serviceList[i].service != null){
					service.push(serviceList[i].service)
				}
			}
				console.log(service)
			
			const serviceCount = [];
			for(let i=0; i< serviceList.length; i++){
				serviceCount.push(serviceList[i].serviceCount)
			}
				console.log(serviceCount)		
				
				
			const matchingDoughnut = document.getElementById('matchingRecord')
			const matchingDoughnutChart = new Chart(matchingDoughnut, {
			    type: 'doughnut',
			    data: {
			        labels: service,
			        datasets: [{
			            data: serviceCount,
			            backgroundColor: [ 		
								'orange', 'skyblue', 'green'
			            	],
			            borderColor: [
			                	'black'
			                ],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        plugins: {
			            legend: {
			                display: true,
			                position: 'top'
			            },
			           
			        }
			    }
		});
		
		}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	</script>
	


</body>
</html>