<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/reviewDetail.css}" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
	<div th:replace="~{common/navbar :: navbar}"></div>
	<main class="container whdrb testBorder">
		<div class="row m-4 sssss">
			<div class="m-4 h1">간병사 <span style="color:#8dd986">정보</span></div>
			
			<div class="col m-4 testBorder">
				<div class="row">
					<div align="center"class="col m-3 testBorder" >
			      		<img id="profile-image" src="image/icon_profile.png"/>
			      		<div class="h3">OOO님</div>
			      		<div class="h6">경력 14년, 내국인</div>
		      		</div>
		      		<div class="col m-3 testBorder">
			      		<span>아아</span>
		      		</div>
	      		</div>
			</div>
			<div class="col m-4 testBorder">
			확인
			</div>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			<!-- 종규 -->
			<!-- 재영 -->
			

			
		</div>
		<div class="row m-4 wodud testBorder">
			<div class="col m-4 testBorder">아아</div>
		</div>
	
	</main>
</body>
</html>