@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size:20px;
}


.wrap{padding-bottom:140px;}

.title-content{margin-top: 80px; margin-bottom: 10px;}
.title2-content{margin-top: 10px; margin-bottom: 10px;}

.tableDiv{
	display: inline-block;
	width:700px;
	margin : 10px auto;
	margin-bottom :40px; 
	font-size:16px; 
	border: 1px solid lightgray;
	border-radius: 15px;
	padding: 20px;
}




.sign-btn button {
	height:70px;
	font-size:24px;
	font-weight: 600;
	border-radius:25px;
	border:none;
	margin-top:70px;
}

.signIn-btn {
	background:#8dd986;
	color:white;
	padding: 0 40px;
	weight: 600px;
	margin: 0 50px;
}

.signUp-btn{
	padding: 0 40px;
	weight: 600px;
	margin: 0 50px;
}



.logo-image {
	margin-left:0px;
}


iframe {
            width: 2000px;
            height: 2000px;
            position: absolute;
            top: -250%;
            left: -245%;
            border: none;
        }
        
#map-size {
            width: 500px;
            height: 350px;
            border: 1px solid #ccc;
            overflow: hidden;
            position: relative;
            left: 16.7%;
        }
