@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



#h4{margin: 80px auto;}

.info{margin-bottom:5px; font-size:20px;}


#pInput_label, #cInput_label{font-size:35px;
							margin: 50px auto;
							padding-top:40px;
							height:200px;
							width:350px;
							}

#pInput_label{margin-right:100px;}

#msg{font-size:20px;}

#erollsucdiv{margin-top:50px;
			margin-bottom: 50px;}




#block{width: 30px;}

.inner-content {
    font-family: 'Pretendard-Regular';
    flex-grow: 1;
    min-width: 1200px;
    margin-top: 100px;
    padding-bottom: 100px; /* footer와의 간격 */
}

.logo-image {
	margin-left:70px;
}


.sign-btn button {
	height:60px;
	font-size:18px;
	border-radius:25px;
	border:none;
}

.signIn-btn {
	background:#8dd986;
	color:white;
}

.icon-section {
	 list-style: none;
}
.icon-section li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
