@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.form-floating {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

strong {
	text-decoration:underline;
	text-underline-offset:3px;
}

.findIdResult-wrap {
	border: 1px solid lightgray;
	color:gray;
}
.findIdResult-wrap li {
	margin-left:10px;
}

.form-floating.find-id {
    display: flex;
    align-items: center;
    margin-bottom: 3px !important;
}


.inner-content {
    font-family: 'Pretendard-Regular';
    flex-grow: 1;
    min-width: 1200px;
    margin-top: 100px;
    padding-bottom: 100px; /* footer와의 간격 */
}

.logo-image {
	margin-left:70px;
}



.signIn-btn {
	height:60px;
	font-size:18px;
	border-radius:25px;
	border:none;
	background:#8dd986;
}

.signIn-btn a {
	text-decoration:none;
	color:white;
}

.findPwd-btn a {
	text-decoration:none;
	color:black;
}

.findPwd-btn {
	height:60px;
	font-size:18px;
	border-radius:25px;
	border:none;
}

.findPwd-btn {
	text-decoration:none;
}

.icon-section {
	 list-style: none;
}
.icon-section li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}