@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.form-floating {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-floating.find-id {
    display: flex;
    align-items: center;
    margin-bottom: 3px !important;
}

.form-floating input {
	flex: 1;
    min-width: 0;
}

.form-floating button {
    white-space: nowrap;
}

.findPwd-input .placeholder-div,
.findPwd-input .requestAuthCode,
.findPwd-input .checkAuthCode {
    width: 100px; /* 버튼의 너비에 맞게 조정 */
    flex-shrink: 0; /* 크기 고정 */
    margin-left: 10px;
    height:50px;
}



.inner-content {
    font-family: 'Pretendard-Regular';
    flex-grow: 1;
    min-width: 1200px;
    margin-top: 100px;
    padding-bottom: 100px; /* footer와의 간격 */
}

.logo-image {
	margin-left:70px;
}

.find-pwd a {
	text-decoration:underline;
	text-underline-offset:3px;
	color:black;
	font-size:14px;
	color:black;
}

.find-pwd {
	margin-bottom:15px;
	margin-left:10px;
}

.findPwd-input {
	padding:10px;
}

.requestAuthCode {
	height:60px;
	font-size:15px;
	border-radius:25px;
	border:none;
	color:black;
	padding:10px;
}
.checkAuthCode {
	height:60px;
	font-size:15px;
	border-radius:25px;
	border:none;
	background:#8dd986;
	color:white;
	padding:10px;
}

.signIn-btn {
	height:60px;
	font-size:18px;
	border-radius:25px;
	border:none;
	background:#8dd986;
	color:white;
}

.find-section a {
	text-decoration:none;
	color:black;
}

.icon-section {
	 list-style: none;
}
.icon-section li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}