@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

#footer-section {
	background-color:white;
	color: #333;
	padding-top:25px;
	padding-bottom:10px;
	font-family: 'Pretendard-Regular';
    display: flex; 
    flex-direction: column;
    flex-shrink: 0;
    height: auto; /* 높이를 자동으로 조정 */
    min-height: 100px; /* 최소 높이 설정 */
    border-top:solid #8dd986 1px;
}

.inner {
    display: flex;
    flex-wrap: nowrap;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px 0;  /* 상하 패딩 추가 */
}

.footer-logo {
    flex: 0 0 100px;  /* 150px에서 줄임 */
    margin-bottom: 10px;  /* 20px에서 줄임 */
    margin-right: 30px;  /* 50px에서 줄임 */
}

#footer-logo {
    width: 100px;  /* 150px에서 줄임 */
    height: auto;  /* 높이를 자동으로 조정 */
}

.footer-column {
    flex: 1 1 150px;  /* 200px에서 줄임 */
    margin: 0 5px 10px;  /* 마진 줄임 */
    min-width: 120px;  /* 150px에서 줄임 */
    line-height: 1.5;  /* 1.5에서 줄임 */
}

.footer-column h3 {
    font-size: 20px;  /* 25px에서 줄임 */
    margin-bottom: 14px;  /* 15px에서 줄임 */
    text-decoration:underline;
    text-underline-offset:7px;
    text-decoration-color:#8dd986;
}

.footer-column p {
    font-size: 14px;  /* 25px에서 줄임 */
    margin-bottom: 5px;  /* 15px에서 줄임 */
    
}

.footer-column h4 {
    margin-left: 50px;  /* 70px에서 줄임 */
    margin-bottom: 10px;  /* 12px에서 줄임 */
    font-size: 16px;  /* 폰트 크기 줄임 */
}

.footer-column h6 {
    font-size: 16px;  /* 18px에서 줄임 */
    margin-bottom: 10px;  /* 20px에서 줄임 */
    margin-top: 5px;  /* 20px에서 줄임 */
    white-space:nowrap;
}

.footer-bottom {
    padding-top: 5px;  /* 10px에서 줄임 */
    font-size: 14px;  /* 16px에서 줄임 */
}