@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

#footer-section {
	background-color:white;
	color: #333;
	padding-top:25px;
	padding-bottom:10px;
	font-family: 'Pretendard-Regular';
    display: flex; 
    flex-direction: column;
    flex-shrink: 0;
    height: auto; /* 높이를 자동으로 조정 */
    min-height: 100px; /* 최소 높이 설정 */
    border-top:solid #133B5C 2px;
}

.inner {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin-top:0;
    margin-bottom:0;
    margin-left:300px;
    justify-content: space-between;
    padding: 10px 0;  /* 상하 패딩 추가 */
}

.column-wrap {
	width: calc(100% - 350px);
}

.footer-logo {
	width:200px;
    margin-bottom: 10px;  /* 20px에서 줄임 */
}

.footer-column {
    flex: 1 1 150px;  /* 200px에서 줄임 */
    margin: 0 5px 10px;  /* 마진 줄임 */
    min-width: 120px;  /* 150px에서 줄임 */
    line-height: 1.5;  /* 1.5에서 줄임 */
    
}

.footer-logo {
	width: 300px; /* 원하는 너비로 조정 */
    height: 100px; /* 원하는 높이로 조정 */
    margin-bottom: 10px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 추가 */
}

#footer-logo {
    max-width: 100%;
    max-height: 100%;
    width: auto; /* 추가 */
    height: auto; /* 추가 */
    object-fit: contain; /* 추가: 이미지 비율 유지 */
}

.footer-column h3 {
    font-size: 23px;  /* 25px에서 줄임 */
    margin-bottom: 14px;  /* 15px에서 줄임 */
    text-decoration:underline;
    text-underline-offset:7px;
    text-decoration-color:#133B5C;
}

.footer-column p {
    font-size: 14px;  /* 25px에서 줄임 */
    margin-bottom: 5px;  /* 15px에서 줄임 */
    
}

.footer-column h4 {
    margin-left: 50px;  /* 70px에서 줄임 */
    margin-bottom: 10px;  /* 12px에서 줄임 */
    font-size: 16px;  /* 폰트 크기 줄임 */
}

.footer-column h6 {
    font-size: 16px;  /* 18px에서 줄임 */
    margin-bottom: 10px;  /* 20px에서 줄임 */
    margin-top: 5px;  /* 20px에서 줄임 */
    white-space:nowrap;
}

.footer-bottom {
    padding-top: 5px;  /* 10px에서 줄임 */
    font-size: 14px;  /* 16px에서 줄임 */
}