@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.wrap{padding-bottom:100px;}



.title-content{margin-top: 100px; margin-bottom: 10px;}
.title2-content{margin-top: 10px; margin-bottom: 10px;}

#gmInfo{width:900px; margin : 0 auto;}

.tableDiv{
	display : inline-block; width:550px;
	margin : 20px; 
	font-size:18px; 
	border: 1px solid lightgray;
	border-radius: 15px;
	padding: 20px;
}

.tableDivMe{
	display : inline-block; width:550px;
	margin : 20px; 
	font-size:18px; 
	border: 2px solid #1D2D50;
	border-radius: 15px;
	padding: 20px;
}




.sign-btn button {
	height:90px;
	font-size:26px;
	font-weight: 600;
	border-radius:15px;
	border:none;
}

.signIn-btn {
	background:#1E5F74;
	color:white;
	margin-left:50px;
	padding: 0 30px;
}
.logo-image {
	margin-left:0px;
}


