@charset "UTF-8";
#contents {
	display:grid; grid-template-columns: 1fr 1280px 1fr;
}
#upperContents {
	display:grid; grid-template-columns: 1fr 1fr;
}

#tagBtnDiv>div {
	/* display:grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; grid-template-rows: 100px; */
	margin-right:20px;
} 

.autoMatching tr {height: 40px;}
.autoMatching th {height: 50px;}

/* table 효과 */
.autoMatching {box-shadow: 0 2px 3px lightgray;}

/* 일감목록에서 제목행에 대한 스타일 속성*/
#lowerContentsTitle{
	display:grid; grid-template-columns: 1fr 1fr;
}

.bg-color{
	--bs-bg-opacity: 1;
	background-color:#1E5F74 !important;
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1) !important;
     border:none !important;
	
}

.bg-color2{
	
	
}

.btn-success{
	background-color:#1D2D50 !important;
	/* --bs-btn-bg:#E1e5F74 !important; */
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1) !important;
     border:none !important;
}

.btn-outline-maincolor{
	color:#1E5F74;
	border-radius: 5px;
	border:2px solid #1E5F74;
	padding:2px;
	background:white;
	font-weight:bold;
	font-size:20px;
	
}
.btn-outline-maincolor:hover{
	color:white;
	background-color:#FCDAB7;
	border:2px solid #1E5F74;
	transition: all 0.3s ease;
}

#subBtnDiv{
	margin-top:24px;
	margin-bottom:24px;
}

.subBtn{
	margin:4px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular' !important;
}

.card{
	margin-bottom:24px !important;
}