@charset "UTF-8";
#contents {
	display:grid; grid-template-columns: 1fr 1280px 1fr;
}
#upperContents {
	display:grid; grid-template-columns: 1fr 1fr;
}

#tagBtnDiv {
	display:grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* grid-template-rows: 100px; */
} 

.autoMatching tr {height: 40px;}
.autoMatching th {height: 50px;}

/* table 효과 */
.autoMatching {box-shadow: 0 2px 3px #8dd986;}

/* 일감목록에서 제목행에 대한 스타일 속성*/
#lowerContentsTitle{
	display:grid; grid-template-columns: 1fr 1fr;
}

