@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* .inner-content {
    font-family: 'Pretendard-Regular';
    flex-grow: 1;
    min-width: 1200px;
    margin-top: 100px;
    padding-bottom: 100px; footer와의 간격
}

.logo-image {
	margin-left:70px;
}


.sign-btn button {
	height:60px;
	font-size:18px;
	border-radius:25px;
	border:none;
}

.signIn-btn {
	background:#8dd986;
	color:white;
}

.icon-section {
	 list-style: none;
}
.icon-section li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.kakao {
    background: url(../image/icon_kakao.svg) no-repeat center center;
    margin-bottom:5px;
    cursor:pointer;
}

.naver {
    background: url(../image/icon_naver.svg) no-repeat center center;
    margin-bottom:5px;
    cursor:pointer;
}

.google {
    background: url(../image/icon_google.svg) no-repeat center center;
    margin-bottom:5px;
    cursor:pointer;
} */




.container{
		position: relative;
		min-width:1280px;
		margin: 0 auto;
		margin-top: 50px;
		font-family: 'Pretendard-Regular';
		
}
.testBorder{
	border:1px solid #dee2e6;
	border-radius: 5px;
}

.myInfo-Border{
	border:1px solid #dee2e6;
	font-family: 'Pretendard-Regular';
	border-radius: 5px;
}

.myInfo-Border-maincolor{
	border-radius: 5px;
	border:1px solid #8dd986;
}


#profile-image {
   width: 100px; /* 원하는 크기로 설정 */
   height: 100px; /* 원하는 크기로 설정 */
   border-radius: 50%; /* 이미지를 동그랗게 만듦 */
   object-fit: cover; /* 이미지 비율을 유지하며 잘라냄 */
   border:3px solid #8dd986;
}

.myInfo-btn{
	width:150px;
	background-color: #8dd986;
	border:1px solid #8dd986;
	color:white;
	border-radius: 5px;
	padding:5px;
	cursor: pointer;
	
}

.btn-outline-maincolor-2{
	color:#8dd986;
	border-radius: 5px;
	width:160px;
	border:1px solid #8dd986;
	padding:5px;
	margin:8px;
	background:white;
	cursor: pointer;
}


.btn-outline-maincolor{
	color:#8dd986;
	border-radius: 5px;
	border:1px solid #8dd986;
	padding:2px;
	background:white;
	
}

.btn-outline-maincolor:hover{
	color:white;
	border-radius: 5px;
	border:1px solid #8dd986;
	padding:2px;
	background:#8dd986;
	
}



.btn-maincolor{
	color:white;
	border-radius: 5px;
	border:1px solid #8dd986;
	padding:2px;
	background:#8dd986;
	cursor: pointer;
}

.myInfo-title{
	border-bottom:2px solid #8dd986;
}

.reviewDetail{
	cursor: pointer;
}

.selectUpdateDiv{
	position: absolute;
	overflow: auto;
	height:100px;
	min-width:80px;
	background:white;
	border:1px solid #8dd986;
	border-radius:5px;
	z-index:1;
}

.select-hidden{
	display : none;
}

.select-block{
	display : block;
	cursor: pointer;	
}

.select-block>div:hover{
	background:#8dd986;
}

#matchingNow>div:hover{
	font-weight: bold;
	cursor: pointer;
}
#matchingLimit>div:hover{
	font-weight: bold;
	cursor: pointer;
}

.review-content{
	height:00px;
	overflow:hidden;
	
	transition: height 0.2s;
}

.show{
	height:200px;
	border-top: 1px solid #8dd986;
}