@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* .inner-content {
    font-family: 'Pretendard-Regular';
    flex-grow: 1;
    min-width: 1200px;
    margin-top: 100px;
    padding-bottom: 100px; footer와의 간격
}

.logo-image {
	margin-left:70px;
}


.sign-btn button {
	height:60px;
	font-size:18px;
	border-radius:25px;
	border:none;
}

.signIn-btn {
	background:#8dd986;
	color:white;
}

.icon-section {
	 list-style: none;
}
.icon-section li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.kakao {
    background: url(../image/icon_kakao.svg) no-repeat center center;
    margin-bottom:5px;
    cursor:pointer;
}

.naver {
    background: url(../image/icon_naver.svg) no-repeat center center;
    margin-bottom:5px;
    cursor:pointer;
}

.google {
    background: url(../image/icon_google.svg) no-repeat center center;
    margin-bottom:5px;
    cursor:pointer;
} */




.container{
		position: relative;
		min-width:1280px;
		margin: 0 auto;
		margin-top: 0px;
		font-family: 'Pretendard-Regular';
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.testBorder{
	border:1px solid #1E5F74;
	border-radius: 5px;
}

.myInfo-Border{
	border:1px solid #dee2e6;
	font-family: 'Pretendard-Regular';
	border-radius: 5px;
}

.myInfo-Border-maincolor{
	border-radius: 5px;
	border:1px solid lightgray;
}


#profile-image {
   width: 100px; /* 원하는 크기로 설정 */
   height: 100px; /* 원하는 크기로 설정 */
   border-radius: 50%; /* 이미지를 동그랗게 만듦 */
   object-fit: cover; /* 이미지 비율을 유지하며 잘라냄 */
   border:2px solid #1E5F74;
}

.profile-image {
   width: 100px; /* 원하는 크기로 설정 */
   height: 100px; /* 원하는 크기로 설정 */
   border-radius: 50%; /* 이미지를 동그랗게 만듦 */
   object-fit: cover; /* 이미지 비율을 유지하며 잘라냄 */
   border:3px solid #1E5F74;
}

.myInfo-btn{
	width:150px;
	background-color: #1E5F74;
	border:1px solid #1E5F74;
	color:white;
	border-radius: 5px;
	padding:5px;
	cursor: pointer;
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
	
}

.btn-outline-maincolor-2{
	color:#1E5F74;
	border-radius: 5px;
	width:160px;
	border:1px solid #1E5F74;
	padding:5px;
	background:white;
	cursor: pointer;
	text-align: center;
}


.btn-outline-maincolor{
	color:#1E5F74;
	border-radius: 5px;
	border:1px solid #1E5F74;
	padding:2px;
	background:white;
	margin:8px;
}

.btn-outline-maincolor:hover{
	color:white;
	border-radius: 5px;
	border:1px solid #1E5F74;
	padding:2px;
	background:#1E5F74;
	
}

/*켈린더*/
.fc{max-width:550px !important; min-height:330px !important; }

.btn-maincolor{
	color:white;
	border-radius: 5px;
	border:1px solid #1E5F74;
	padding:5px;
	background:#1E5F74;
	cursor: pointer;
	width:160px;
	text-align:center;
}

.myInfo-title{
	background: #133B5C 25%;
	width:400px;
	color:white !important;
	padding:6px;
}

.reviewDetail{
	cursor: pointer;
}

.selectUpdateDiv{
	position: absolute;
	overflow: auto;
	height:150px;
	min-width:100px;
	background:white;
	border:1px solid #1E5F74;
	border-radius:5px;
	z-index:1;
}

.selectUpdateDiv2{
	position: absolute;
	overflow: auto;
	height:80px;
	min-width:100px;
	background:white;
	border:1px solid #1E5F74;
	border-radius:5px;
	z-index1;
}

.select-hidden{
	display : none;
}

.select-block{
	display : block;
	cursor: pointer;	
}

.select-block>div:hover{
	background:#1E5F74;
	color:white;
}

#matchingNow>div:hover{
	font-weight: bold;
	cursor: pointer;
}
#matchingLimit>div:hover{
	font-weight: bold;
	cursor: pointer;
}

.review-content{
	height:00px;
	overflow:hidden;
	
	transition: height 0.2s;
}

.show{
	height:200px;
	border-top: 1px solid #8dd986;
	z-index : 10;
}

/* 별*/

.btn-icon-star-review{
	background-image:url(../image/icon_star2.svg);
	background-size: 140px 140px;
	padding:0px;
	margin-left:0px;
	margin-top:-1px;
	color:red;
	background-repeat: no-repeat;
	z-index:1;
	min-width:32px;	
	min-height:32px;	
}

.btn-icon-star-review-half{
	background-image:url(../image/icon_star2.svg);
	background-size: 140px 140px;
	padding:0px;
	margin-left:0px;
	margin-top:-1px;
	background-repeat: no-repeat;
	max-width:17px;
	min-height:32px;
}

.icon-star-review{
	background-image:url(../image/icon_star.svg);
	background-size: 140px 140px;
	padding:0px;
	width:32px; height:32px;
}

.btn-star{
	background: transparent;
	border:0px solid black;
	width:20px;
	height:20px;
	padding:0;
	margin-left:0px;
	margin-right:-1.5px;
	background-repeat: no-repeat;
}

/*남희님 css 훔치기*/
.btn-outline {	
	background: white;
	color: #1D2D50;
	border: 2px solid #1D2D50;
	width: 190px;
	border-radius: 10px; 
	text-align: center;
	padding: 8px;
}

.btn-outline:hover, .btn-outline:focus{
	color: white;
	background: #1D2D50;
}

/* .btn-check가 체크된 상태에서 .btn-outline 스타일 */
.btn-check:checked + .btn-outline {
	color: white;
	background: #1D2D50;
}

.title-info{
	background:#FCDAB7;
}

table th{
	font-size:20px;
	padding:8px;
	border-right:1px solid lightgray;
	border-top:6px solid white;
	border-bottom:6px solid white;
}

