@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size:20px;
}


.wrap{padding-bottom:140px;}

.title-content{margin-top: 80px; margin-bottom: 10px;}
.title2-content{margin-top: 10px; margin-bottom: 10px;}

.tableDiv{
	display: inline-block;
	width:700px;
	margin : 10px auto;
	margin-bottom :40px; 
	font-size:16px; 
	border: 1px solid lightgray;
	border-radius: 15px;
	padding: 20px;
}
		
.accordion-button{
	font-size:20px; 
}




.logo-image {
	margin-left:0px;
}



.btn-dndn{	
	color: white !important;
	background-color: #1D2D50 !important;
	border: none;
	width: 200px;
	height: 40px;
	border-radius: 10px; 
	text-align: center;
	padding: 8px;
}


.accordion-button:active, .accordion-button:focus, .accordion-button:click {
	box-shadow : none !important;
	background-color: white !important;
}

.accordion-button{
	box-shadow : none !important;
	background-color: white !important;
}













