/* #mainContainer {display:grid; grid-template-columns:1fr 700px 80px 500px 1fr; grid-template-rows:500px;} */
/* #upperLeftContents {display:grid; grid-template-columns:100%; grid-template-rows: 100px 200px 200px;} */
#patientBtn {display: grid; grid-template-cloumns:1fr 1fr 1fr;}
#upperContents {display: grid; grid-template-columns:1fr 700px 80px 500px 1fr; grid-template-rows: 500px;}
#container div:nth-child(2) {display:grid; grid-template-columns: 100%; grid-template-rows: 200px;}        
#underContents {display:grid; grid-template-columns:1fr 500px 80px 700px 1fr; grid-template-rows: 700px;}
/* #cardDiv {display:grid; grid-template-columns: 350px 350px; grid-template-rows: 200px;} */
/* #findWorkList {border: 2px solid black;} */
#upperContentsBtn div:nth-child(2) {display:grid; grid-template-columns: 1fr 600px 1fr; grid-template-rows: 100px;}

/* 대빵 버튼 */
button {
    margin: 20px;
  }
.custom-btn {
    width: 232px;
    height: 80px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    display:inline;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    /* transition: all 0.3s ease; */
    position: relative;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-14 {
  /* background: rgb(255,151,0); */
  background: #1E5F74;
  border: none;
  z-index: 1;
  font-size:20px;
  font-weight:bold;
}
.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-image: linear-gradient(315deg, #FCDAB7 0%, #FCDAB7 74%);
  background-color: #eaf818;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
 transition: all 0.3s ease;
}
.btn-14:hover {
  color: #000;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-14:active {
  top: 2px;
}
 
/* Card */
.card {
    margin-bottom: 24px;
    /* box-shadow: 0 2px 3px #e4e8f0; */
    box-shadow: 0 2px 3px lightgray;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff0f2;
    border-radius: 1rem;
}
.avatar-md {
    height: 4rem;
    width: 4rem;
}
.rounded-circle {
    border-radius: 50%!important;
}
.img-thumbnail {
    padding: 0.25rem;
    background-color: #f1f3f7;
    border: 1px solid #eff0f2;
    border-radius: 0.75rem;
}
.avatar-title {
    align-items: center;
    background-color: #3b76e1;
    color: #fff;
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 100%;
}
.bg-soft-primary {
    background-color: rgba(59,118,225,.25)!important;
}
a {
    text-decoration: none!important;
}
.badge-soft-danger {
    color: #f56e6e !important;
    background-color: rgba(245,110,110,.1);
}
.badge-soft-success {
    color: #63ad6f !important;
    background-color: rgba(99,173,111,.1);
}
.mb-0 {
    margin-bottom: 0!important;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.75rem;
}

/* table 효과 */
.mainTable {box-shadow: 0 2px 3px lightgray;}


/* 페이징 버튼 효과 */
.page-link {
  color: #333 !important;  
  background-color: #1E5F74;
  border-color: green;
}

.page-item.active .page-link {
 z-index: 1;
 color: #333 !important;
 font-weight:bold;
 background-color: #1E5F74;
  border-color: green;
 
}

.page-link:focus, .page-link:hover {
  color: #333 !important;
  background-color: #8dd986; 
  border-color: green;
}

.btn-select{
	background-color:#1E5F74;
	border: 0;
	color:white;
	width:40%;
	height:40px;
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
}

.btn-select-info{
	background-color:#8dd986;
	border: 0;
	color:white;
	width:40%;
	height:40px;
	border-radius:7px;
}

.testBorder{
	border:1px solid #dee2e6;
	border-radius: 5px;
}

.btn-test{
	background:black;
	color: black;
	border:3px solid yellow;
}
.testDiv{
	position: absolute;
	border-radius: 3px;
}
/* .carousel-indicators [data-bs-target]{ */
/* 	background-color:yellow; */
/* } */

/* 캘린더 이벤트의 정보를 보는 모달박스 */
.workInfo {
	display:grid; grid-template-columns: 1fr 1fr;
}


#profile-image {
   width: 60px; /* 원하는 크기로 설정 */
   height: 60px; /* 원하는 크기로 설정 */
   border-radius: 50%; /* 이미지를 동그랗게 만듦 */
   object-fit: cover; /* 이미지 비율을 유지하며 잘라냄 */
   border:3px solid #1E5F74;
}

.profile-image {
   width: 60px; /* 원하는 크기로 설정 */
   height: 60px; /* 원하는 크기로 설정 */
   border-radius: 50%; /* 이미지를 동그랗게 만듦 */
   object-fit: cover; /* 이미지 비율을 유지하며 잘라냄 */
   border:2px solid #1E5F74;
}

.matCard{
	min-height:501px;
	border:1px solid lightgray;
	margin-top:24px
}

.btn-success{
	background-color:#1D2D50 !important;
	/* --bs-btn-bg:#E1e5F74 !important; */
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1) !important;
     border:none !important;
}


/* 리뷰에나오는별쓰자*/

.btn-star{
	background: transparent;
	border:0px solid black;
	width:20px;
	height:20px;
	padding:0;
	margin-left:0px;
	margin-right:-1.5px;
	background-repeat: no-repeat;
}

.btn-icon-star-review{
	background-image:url(../image/icon_star2.svg);
	background-size: 60px 60px;
	padding:0px;
	margin-left:0px;
	background-repeat: no-repeat;
}

.btn-icon-star-review-half{
	background-image:url(../image/icon_star2.svg);
	background-size: 60px 60px;
	padding:0px;
	margin-left:0px;
	background-repeat: no-repeat;
	width:11px;
}

.icon-star-review{
	background-image:url(../image/icon_star.svg);
	background-size: 60px 60px;
	padding:0px;
	width:16px; height:16px;
}

/*잘 수정해보자. 결제 할구간이야*/
.pay-content{
	height:00px;
	overflow:hidden;
	z-index: 2;
}

.showPay{
	position: absolute;
	background:white;
	height:200px;
	width:700px;
	border: 1px solid #1E5F74;
	z-index : 2;
	overflow: auto;
}

.selectUpdateDiv{
	position: absolute;
	overflow: auto;
	height:200px;
	min-width:80px;
	background:white;
	border:1px solid #1E5F74;
	border-radius:5px;
	z-index:1;
}

#viewPayList{
	margin:16px;
	margin-bottom:0px;
	border-bottom:2px solid #1E5F74;
}


.signUp-btn{
	padding: 0 40px;
	weight: 600px;
	margin: 0 50px;
}

.sign-btn button {
	height:70px;
	font-size:24px;
	font-weight: 600;
	border-radius:25px;
	border:none;
	margin-top:70px;
}


}
/* 캘린더 이벤트의 정보를 보는 모달박스 */
.eventInfo {
	display:grid; grid-template-columns: 1fr 1fr;
}

.card-title {
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분에 ... 표시 */
    width:96px;
}

.newIcon{
	font-style:italic;
	font-size:12px;
	color:red;
	font-weight:bold;
	box-shadow: 0 1px 1px yellow;
}

.resultPay{
	border-top:2px solid #1E5F74;
	padding:24px;
}

/*남희님 css 훔치기*/
.btn-outline {	
	color: #1D2D50;
	border: 2px solid #1D2D50;
	width: 190px;
	border-radius: 10px; 
	text-align: center;
	padding: 8px;
}

.btn-outline:hover, .btn-outline:focus{
	color: white;
	background: #1D2D50;
}