@charset "UTF-8";

@font-face {
    font-family: 'ChosunKg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.top {
	height:500px;
}
.top h1{
  	font-family: 'ChosunKg';
    display: block;
    margin-bottom: 10px; /* 원하는 간격으로 조절 가능 */
    color:white;
    font-weight: 400;
    line-height: 1.5;
    font-size:4.5rem;
}