<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>간병인 메인페이지</title>
    <link href="css/caregiverMain.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <style>
    	.fc{width:500px !important; height:500px !important; } 
    </style>
</head>
<body>
	<div th:replace="~{common/navbar :: navbar}"></div>
	
	<div id="wrap">
	
		<div id="upperContents">
			<div><!-- 왼쪽 공백 --></div>
			<div id="upperLeftContents">
				<div><!-- AI 매칭 : 가로 700, 세로 200 -->
					<table class="table mainTable">
	                 <thead>
	                     <tr>
	                         <th colspan="5">나와 딱 맞는 일감을 찾아드려요.</th>
	                         <th class="text-center">
	                        	<img src="image/icon/refresh.png" id="refreshChoice" style="width:30px; height:30px;">
	                        </th>
	                     </tr>
	                 </thead>
	                 <tbody>
	                     <tr class="text-center" th:if="${completeList}" th:each="l : ${completeList}">
	                         <td>[[${l.ptName}]]</td>
	                         <td>[[${l.ptGender == 'M' ? '남성' : '여성'}]]</td>
	                         <td>[[${l.ptRealAge}]]</td>
	                         <td>[[${l.ptAddress}]]</td>
	                         <td>[[${l.ptDisease}]]</td>
	                         <td>[[${l.money}]]</td>
	                     </tr>
	                 </tbody>
	            </table>
				</div>
				<div id="upperContentsBtn" class="align-middle text-center"><!-- 메뉴판 -->
					<div></div>
					<table>
	                    <tr>
	                        <td><button class="custom-btn btn-14">내 정보</button></td>
	                        <td><button class="custom-btn btn-14">간병 정보</button></td>
	                        <td><button class="custom-btn btn-14">커뮤니티</button></td>
	                    </tr>
	                </table>
	                <div></div>
				</div>
			</div>
			<div><!-- 공백 --></div>
			<div id="calendar"></div>
			<div><!-- 오른쪽 공백 --></div>
		</div>
		
	    <br/><br/>
	
	    <!-- 아래쪽 컨텐츠-->
	    <div id="underContents">
	        <div><!--왼쪽 공백--></div>
	                
	        <!-- 남희 좌측 하단 -->
	        <div><!--매칭정보 : 가로 500, 세로 700-->
	            <table class="table mainTable">
	                <thead>
	                    <tr style="padding:10px;">
	                        <th colspan="5" class="align-middle">[[${loginUserName}]]님과의 매칭을 원하는 분들이 있습니다.</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr class="align-middle text-center" th:each="matPt : ${requestMatPt}">
	                    	<td style="display:none" th:text="${matPt.matNo}"></td>
	                        <td colspan="4" class="align-middle">[[${matPt.ptName}]]님([[${matPt.ptRealAge}]]세 [[${matPt.ptGender =='M' ? '남':'여' }]])이 매칭을 원하고 있어요</td>
	                        <td><button class="btn btn-success workInfo two">정보보기</button></td>
	                    </tr>
	                    <tr class="align-middle text-center">더보기</tr>
	                </tbody>
	            </table>
	        </div>
	        <div><!--공백 --></div>
	        
	        
	        
	        
	        <!-- 남희 우측 하단 -->
	        <div id="findWorkList" class="text-center"><!--대상검색 : 가로 700, 세로 700-->
				<h5>조건 검색을 활용해 원하는 환자 정보를 확인하시려면 더보기를 눌러주세요.</h5>
	            <button type="button" class="btn btn-link" onclick="location.href='moreWorkInfo.me'">더 보기</button>			
				<div id="carouselExampleIndicators" class="carousel slide">
					<div class="carousel-indicators">
					  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">					
						<div class="carousel-item active" th:if="${matMatptInfoPtList1 != null}">
							<div class="row row-cols-md-2 g-2 ptDiv">
	               				<div class="col-sm-6" th:each="mat : ${matMatptInfoPtList1}" th:if="${ mat.ptCount == 1 || (mat.ptCount > 1 && mat.groupLeader == 'Y')}">
	               					<div style="display:none" th:text="${mat.matNo}"></div>
	                   				<div class="card h-95 w-80">
	                   					<div class="card-body">
	                     					<h6 class="card-title" style="font-weight:700">
	                       						<span th:if="${mat.ptCount == 1}">[[${mat.ptName}]]</span>
	                       						<span th:if="${mat.ptCount > 1}">[[${mat.ptName}]] 외</span>&nbsp;&nbsp;&nbsp;
	                       						<img th:if="${mat.ptCount > 1}" src="image/icon/users.png"/>
	                       						<img th:if="${mat.ptCount == 1 && mat.service =='병원돌봄'}" src="image/icon/hospital.png"/>
	                       						<img th:if="${mat.ptCount == 1 && mat.service =='가정돌봄'}"  src="image/icon/home.png"/>
	                       						<span>[[${mat.service}]]</span>
	                      					</h6>
	                      					<p class="card-text">
	                       						<span>[[${mat.beginDt}]]</span>
	                       						<span>~</span>
	                       						<span>[[${mat.endDt}]]</span>
	                      					</p>
	                      					<p class="card-text" th:if="${mat.ptCount == 1}">
	                       						<span th:text="${mat.ptGender == 'M' ? '남성' : '여성'}"></span>&nbsp;&nbsp;
	                       						<span>[[${mat.ptRealAge}]]세</span>	                        	
	                      					</p>
	                      					<p class="card-text">
	                       						<span>[[${mat.matAddressMin}]]</span>                        	
	                      					</p>
	                      					<p class="card-text" th:if="${mat.ptCount > 1 }">
	                     						<span>[[${mat.hospitalName}]]</span> 
	                      					</p>		                       	
	                       					<button class="btn btn-success workInfo">정보 보기</button>
										</div>
									</div>
								</div>
	                		</div>
						</div>
						
						<div class="carousel-item" th:if="${matMatptInfoPtList2 != null}">
							<div class="row row-cols-md-2 g-2 ptDiv">
	               				<div class="col-sm-6" th:each="mat : ${matMatptInfoPtList2}" th:if="${ mat.ptCount == 1 || (mat.ptCount > 1 && mat.groupLeader == 'Y')}">
	               					<div style="display:none" th:text="${mat.matNo}"></div>
	                   				<div class="card h-95 w-80">
	                   					<div class="card-body">
	                     					<h6 class="card-title">	                     						
	                       						<span th:if="${mat.ptCount == 1}">[[${mat.ptName}]]</span>
	                       						<span th:if="${mat.ptCount > 1}">[[${mat.ptName}]] 외</span>&nbsp;&nbsp;
	                       						<img th:if="${mat.ptCount > 1}"  src="image/icon/users.png"/>
	                       						<img th:if="${mat.ptCount == 1 && mat.service =='병원돌봄'}" src="image/icon/hospital.png"/>
	                       						<img th:if="${mat.ptCount == 1 && mat.service =='가정돌봄'}"  src="image/icon/home.png"/>
	                      					</h6>
	                      					<p class="card-text">
	                       						<span>[[${mat.beginDt}]]</span>
	                       						<span>~</span>
	                       						<span>[[${mat.endDt}]]</span>
	                      					</p>
	                      					<p class="card-text" th:if="${mat.ptCount == 1}">
	                       						<span th:text="${mat.ptGender == 'M' ? '남성' : '여성'}"></span>
	                       						<span>[[${mat.ptRealAge}]]세</span>	                        	
	                      					</p>
	                      					<p class="card-text">
	                       						<span>[[${mat.matAddressMin}]]</span>                        	
	                      					</p>
	                      					<p class="card-text" th:if="${mat.ptCount > 1}">
	                     						<span>[[${mat.hospitalName}]]</span> 
	                      					</p>		                       	
	                       					<button class="btn btn-success workInfo">정보 보기</button>
										</div>
									</div>
								</div>
	                		</div>
						</div>
						
						<div class="carousel-item" th:if="${matMatptInfoPtList3 != null}">
							<div class="row row-cols-md-2 g-2 ptDiv">
	               				<div class="col-sm-6" th:each="mat : ${matMatptInfoPtList3}" th:if="${ mat.ptCount == 1 || (mat.ptCount > 1 && mat.groupLeader == 'Y')}">
	               					<div style="display:none" th:text="${mat.matNo}"></div>
	                   				<div class="card h-95 w-80">
	                   					<div class="card-body">
	                     					<h6 class="card-title">
	                       						<span th:if="${mat.ptCount == 1}">[[${mat.ptName}]]</span>
	                       						<span th:if="${mat.ptCount > 1}">[[${mat.ptName}]] 외</span>&nbsp;&nbsp;
	                       						<img th:if="${mat.ptCount > 1}"  src="image/icon/users.png"/>
	                       						<img th:if="${mat.ptCount == 1 && mat.service =='병원돌봄'}" src="image/icon/hospital.png"/>
	                       						<img th:if="${mat.ptCount == 1 && mat.service =='가정돌봄'}"  src="image/icon/home.png"/>
	                      					</h6>
	                      					<p class="card-text">
	                       						<span>[[${mat.beginDt}]]</span>
	                       						<span>~</span>
	                       						<span>[[${mat.endDt}]]</span>
	                      					</p>
	                      					<p class="card-text" th:if="${mat.ptCount == 1}">
	                       						<span th:text="${mat.ptGender == 'M' ? '남성' : '여성'}"></span>
	                       						<span>[[${mat.ptRealAge}]]세</span>	                        	
	                      					</p>
	                      					<p class="card-text">
	                       						<span>[[${mat.matAddressMin}]]</span>                        	
	                      					</p>
	                      					<p class="card-text" th:if="${mat.ptCount > 1}">
	                     						<span>[[${mat.hospitalName}]]</span> 
	                      					</p>		                       	
	                       					<button class="btn btn-success workInfo">정보 보기</button>
										</div>
									</div>
								</div>
	                		</div>
						</div>
										
			 		</div>		 	
			    	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			  	  		<span class="carousel-control-prev-icon" ></span>
			    		<span style="background:skyblue; color:black;">Previous</span>
			 		</button>
			    	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
			    		<span style="background:skyblue; color:black;">Next</span>
			  		</button>
				</div>
	        </div>
	       	<div><!--오른쪽 공백--></div>
		</div>
	
	
	    
	    <!-- 사이드 버튼 -->
	    <div id="myPresentMatching">
	        <a class="navbar-brand align-middle" href="#">
	            <img src="image/icon/deal.png">
	            나의 매칭 현황
	        </a>
	    </div>
	    
	    
	    <!-- 매칭 신청 성공 시 모달 -->
			<div class="modal fade" id="matSuccesseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered modal-lg">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h3 class="modal-title fw-bold fs-5" id="exampleModalLabel">매칭 신청 완료</h3>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body" style="margin:30px;">
			        <h4 class="h4 mb-4 fw-bold" th:if="${matPtCount > 1 }">
			        	[[${matPtName}]]님 등 [[${matPtCount}]]명의 공동간병 매칭 신청이 완료되었습니다. 
			        </h4>
			        <h4 class="h4 mb-4 fw-bold" th:if="${matPtCount == 1}">
			        	[[${matPtName}]]님과의 매칭 신청이 완료되었습니다.
			        </h4>	
			         <h5 class="h5 mb-1 fw-bold">아래 버튼을 누르면 매칭 신청이 완료됩니다.<br>상대가 매칭 신청을 승낙하고, 입금을 완료하면 매칭이 성사됩니다. </h5>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
   
   
   
    </div>
    
    
    <th:block th:replace="~{common/footer :: footer}"></th:block>
    
    <script th:inline="javascript">
    
   //남희 오류때문에 주석처리중
    	/*<![CDATA[*/
/*    	document.addEventListener('DOMContentLoaded', function() {
        	var calendarEl = document.getElementById('calendar');
              	var request = $.ajax({
        		url: 'caregiverCalendarEvent.me',
//      		data: {memberNo : /*[[${session.loginUser.memberNo}]]*/    /*    0},   */
//        	})
        	
/*      	request.done(function(data) {
        		var calendar = new FullCalendar.Calendar(calendarEl, {
  		          initialView: 'dayGridMonth',
  		          events : data,
  		          eventColor: '#8dd986',
  		          eventClick: function(info) {
  		        	    alert('Event: ' + info.event.title + '\n' + '금액: ' + '80,000원\n' + '장소 :' + '세브란스 병원' );
  		        	  }
  		        });
  		        calendar.render();
        	})*/
        	
/*        	var calendar = new FullCalendar.Calendar(calendarEl, {
          		initialView: 'dayGridMonth'
        	});
        	calendar.render();
      	});
    	/*]]>*/
   	
    	
    	
    	/*<![CDATA[*/
    	window.onload = () => {
    		// 자동추천 새로고침 비동기 요청 (시작)
    		const refreshChoice = document.querySelector('#refreshChoice');
    		refreshChoice.addEventListener('mouseenter', function() {
    			this.style.cursor= 'pointer';
    		})
    		
    		refreshChoice.addEventListener('click', function() {
    			if(/*[[${completeList}]]*/'arrList' != null) {
    				const tbody = this.parentElement.parentElement.parentElement.nextElementSibling;
    				
    				$.ajax({
	    				url: 'refreshChoice.me',
	    				data: {memberNo : /*[[${session.loginUser.memberNo}]]*/0},
	    				success: data => {
	    					// 새로 추천받은 목록으로 교체(시작)
	    					tbody.innerText = '';
	    					for(let d of data) {
	    						const tr = document.createElement('tr');
	    						const td0 = document.createElement('td');
	    						td0.innerText = d.ptName;
	    						const td1 = document.createElement('td');
	    						td1.innerText = d.ptGender == 'M' ? '남성' : '여성';
	    						const td2 = document.createElement('td');
	    						td2.innerText = d.ptRealAge;
	    						const td3 = document.createElement('td');
	    						td3.innerText = d.ptAddress;
	    						const td4 = document.createElement('td');
	    						td4.innerText = d.ptDisease;
	    						const td5 = document.createElement('td');
	    						td5.innerText = d.money;
	    						
	    						tr.append(td0);
	    						tr.append(td1);
	    						tr.append(td2);
	    						tr.append(td3);
	    						tr.append(td4);
	    						tr.append(td5);
	    						// 새로 추천받은 목록으로 교체(끝)
	    					}
	    				},
	    				error: data => {
	    					console.log('에러')
	    				}
	    			})
    			} else {
    				alert('추천 후보가 존재하지 않습니다.');
    			}
    		})
    		// 자동추천 새로고침 비동기 요청 (끝)
    		
    		
 
    		
//남희 작업중 주석 처리
    		// 일감 목록에서 모달창으로 정보 보기(시작)
/*    		const infoBtnList = document.querySelectorAll('.workInfo');
    		for(let btn of infoBtnList) {
    			btn.addEventListener('click', () => {
    				$('.modal').modal('show');
    			})
    		}
    		// 일감 목록에서 모달창으로 정보 보기(끝)
    		
    		// 일감 목록 모달창에서 자세한 정보 보기(시작)
    		const detailInfo = document.querySelector('#detailInfo');
    		detailInfo.addEventListener('click', () => {
    			// location.href = '';
    			   			
    		})
    		// 일감 목록 모달창에서 자세한 정보 보기(끝)   		
    	}
    	/*]]>*/
    	 	
    
	   		 //정보보기 버튼 클릭	
	  		const workInfos = document.querySelectorAll('.workInfo');    	
	    	for(const workInfo of workInfos){
	        	workInfo.addEventListener('click', function(){
	        		let matNo = '';
	        		if(this.className.includes('two')){
	        			matNo = this.parentElement.parentElement.firstElementChild.innerHTML;
	        		}else{
	        			matNo = this.parentElement.parentElement.previousElementSibling.innerHTML;
	        		}
	        		
	        		if(matNo){
	        			location.href = 'goCaregiverPtInfo.mc?matNo='+ matNo;
	        		}
	        	});
	    	} 
	    	
	    	
	    	const matPtName = /*[[${matPtName}]]*/
	    	const matPtCount = /*[[${matPtCount}]]*/
	    	
	    	if(matPtName != null && matPtCount != null){
	    		$('#matSuccesseModal').modal('show');
	    	}
	    	
	    	
	    	
	    	
	    	

    	}
    	
    	
    	
    </script>    
</body>
</html>