<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/enroll.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
	<div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
	<main class="inner-content d-flex justify-content-center">
		<form action="enroll.me" method="post" id="enrollForm">
			<div class="login-wrap">
				<a href="home.do"><img class="logo-image mb-4 w-75" src="image/logo-removebg.png" width="150"></a>
				<h1 class="h3 mb-3 fw-bold mb-5 text-center">회원가입</h1>
				<h5 class="h5 mb-3 fw-bold mb-5">아래 내용은 필수입력 사항입니다.</h5>
				<div class="login-input">
				
					<p class="info">성별을 선택해 주세요.</p>
					<div class="form-floating mb-4">
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="memberGender" id="menInput" th:value="M">
						  <label class="form-check-label" for="menInput">남성</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="memberGender" id="womenInput" th:value="F">
						  <label class="form-check-label" for="womenInpu">여성</label>
						</div>
					</div>
					
					<p class="info">생년월일을 입력해주세요.</p>
					<div class="form-floating mb-4 ">
						<input type="date" class="form-control" id="ageInput" name="memberAge">
					</div>
					
					<p class="info">연락처를 입력해주세요.</p>
					<p style="font-size:16px" class="info">연락처는 -를 제외하고 입력해주세요.</p>
					<div class="form-floating mb-4 ">
						<input type="tel" class="form-control" id="telInput" name="memberPhone">
						<label for="telInput">전화번호</label>
					</div>
										
										
					<p class="info">주소를 입력해주세요.</p>
					<p style="font-size:16px" class="info">주소는 반드시 도로명 주소를 선택/입력해주세요.</p>
					<div class="form-floating mb-1" >
						<button type="button" onclick="sample4_execDaumPostcode()" class="signIn-btn" style="border:none;">주소 검색</button>
					</div>
					<div class="form-floating mb-1" >
   						<input type="text" class="form-control" id="sample4_postcode" name="postcode">
   						<label for="sample4_postcod">우편번호</label>
					</div>
					<div class="form-floating mb-1">
						<input type="text" class="form-control" id="sample4_roadAddress" name="roadAddress">
						<label for="sample4_roadAddress">도로명주소</label>
					</div>
					<div class="form-floating mb-4">
						<input type="text" class="form-control" id="sample4_detailAddress" name="detailAddress">
						<label for="sample4_detailAddress">상세주소</label>						
					</div>		
					
					
					<p class="info">이메일을 입력해주세요.</p>
					<div class="form-floating mb-4 ">
						<div class="row g-3">
						  <div class="col-md-6">
						    <input type="text" class="form-control" id="emailInput" name="memberEmail" placeholder="이메일">
						  </div>
						  <div class="col-md-1">@</div>
						  <div class="col-md-4">
						    <select id="inputState" class="form-select" name="emailDomain">
							    <option selected>선택해주세요.</option>
							    <option th:selected="${emailDomain eq 'naver.com' }">naver.com</option>
							    <option th:selected="${emailDomain eq 'hanmail.net' }">hanmail.net</option>
								<option th:selected="${emailDomain eq 'gmail.com' }">gmail.com</option>
								<option th:selected="${emailDomain eq 'nate.com' }">nate.com</option>								
						    </select>
						  </div>
						</div>
					</div>
					
					
					
					
					
					
					
					
					
								
					
				</div>
			</div>
			<div class="sign-btn d-flex flex-column">
				<button type="button" class="signIn-btn mt-4" id="nextButton"><span>다음</span></button>
			</div>
			<div class="sns-section d-flex flex-column justify-content-center mt-3 fs-5">
				<p class="text-center">다음으로 넘어가<br>회원가입을 계속 진행해주세요.</p>
			</div>
		</form>
	</main>
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	<script th:inline="javascript" src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script th:inline="javascript">

		
		const nextButton = document.getElementById('nextButton');
		const form = document.getElementById('enrollForm');
		nextButton.addEventListener('click', ()=>{
			location.href="enroll3View.me"
		})
		
				
		
		function sample4_execDaumPostcode() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var roadAddr = data.roadAddress; // 도로명 주소 변수
	                var extraRoadAddr = ''; // 참고 항목 변수
	
	                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                    extraRoadAddr += data.bname;
	                }
	                // 건물명이 있고, 공동주택일 경우 추가한다.
	                if(data.buildingName !== '' && data.apartment === 'Y'){
	                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	                }
	
	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                document.getElementById('sample4_postcode').value = data.zonecode;
	                document.getElementById("sample4_roadAddress").value = roadAddr;

	                
	            }
	        }).open();
    	}
		

	
	</script>
		
		
</body>
</html>