<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/enroll.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
	<div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
	<main class="inner-content d-flex justify-content-center">
		<form action="enroll2View.me" method="post" id="enrollForm">
			<input name="member" th:value="${m}" type="hidden">
			<div class="login-wrap">
				<a href="home.do"><img class="logo-image mb-4 w-75" src="image/logo-removebg.png" width="150"></a>
				<h1 class="h3 mb-3 fw-bold mb-5 text-center">회원가입</h1>
				
				<div class="login-input">
					<h5 class="h5 mb-1 fw-bold mb-1">회원가입이 완료되었습니다. </h5>
					<h5 class="h5 mb-3 fw-bold mb-1">이제부터 입력매칭 서비스 이용을 위한 정보를 입력해주세요.</h5>
					<h5 class="h5 mb-3 fw-bold mb-1">아래 정보 입력 버튼을 누르면 매칭 서비스 정보 입력 페이지로 이동합니다.</h5>
					<h5 class="h5 mb-3 fw-bold mb-1">매칭 서비스 정보 입력은 이후에도 가능하며, 이미 입력한 내용은 언제든지 수정 가능합니다.</h5>
				</div>				
			</div>
			
			<div class="sign-btn d-flex flex-column">
				<p class="text-center ifCheck" style="font-size:20px"> </p>
				<button type="submit" class="signIn-btn mt-4" id="nextButton"><span>정보 입력</span></button>
				<button type="button" class="signUp-btn mt-2" id="homeButton"><span>홈으로</span></button>
			</div>
							
			
		</form>
	</main>
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	
	
	<script th:inline="javascript">
		
		window.onload=()=>{
			const homeButton = document.getElementById('homeButton');
			homeButton.addEventListener('click', ()=>{
				location.href = "home.do"
			});	
		}

	
	
	
	
	
	</script>
		
		
</body>
</html>