<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/findId.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
	<div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
	<main class="inner-content d-flex justify-content-center">
		<form action="findIdResult.me" method="post">
			<div class="findId-wrap">
				<a href="home.do"><img class="logo-image mb-4 w-75" src="image/logo-removebg.png" width="150"></a>
				<h1 class="h3 mb-3 fw-bold text-center">아이디 찾기</h1>
				<div class="text-center mb-5">본인의 이름과 휴대폰 번호로 아이디를 찾을 수 있습니다.</div>
				
				<div class="login-input">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingInput" name="memberId">
						<label for="floatingInput">아이디를 입력해주세요</label>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control" id="floatingPassword" name="memberPwd">
						<label for="floatingPassword">핸드폰 번호를 입력해주세요</label>
					</div>
				</div>
				<div class="find-pwd d-flex justify-content-end mt-2"><a th:href="@{findPwd.me}">비밀번호 찾기</a></div>	
			</div>
			<div class="sign-btn d-flex flex-column">
				<button type="submit" class="signIn-btn mt-4 "><span>아이디 찾기</span></button>
			</div>
		</form>
	</main>
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	<script>
	</script>
		
</body>
</html>