	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/login.css}" rel="stylesheet" type="text/css"/>
<!-- 네이버 -->
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<!-- 카카오 -->
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js"
  integrity="sha384-TiCUE00h649CAMonG018J2ujOgDKW/kVWlChEuu4jK2vxfAAD0eZxzCKakxg55G4" crossorigin="anonymous"></script>
<script>
  Kakao.init('aa531f371cb3a46353f94fc53e8a26b2'); // 사용하려는 앱의 JavaScript 키 입력
</script>
</head>
<body>
	<div class="navbar" th:replace="~{common/navbar.html :: navbar}"></div>
	<main class="inner-content d-flex justify-content-center">
		<form action="login.me" method="post">
			<div class="login-wrap">
				<a href="home.do"><img class="logo-image mb-4 w-75" src="image/logo-removebg.png" width="150"></a>
				<h1 class="h3 mb-3 fw-bold mb-5 text-center">[[${session.tempMemberCategory == 'P' ? '환자/보호자' : '간병인' }]] 로그인</h1>				
				<div class="login-input">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingInput" name="memberId">
						<label for="floatingInput">아이디</label>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control" id="floatingPassword" name="memberPwd">
						<label for="floatingPassword">비밀번호</label>
					</div>
					
				</div>
					<div class="find-section d-flex justify-content-end mt-2">
						<a th:href="@{findId.me}">아이디 찾기 |</a>
						<a th:href="@{findPwd.me}">&nbsp;비밀번호 찾기</a>
					</div>			
			</div>
			<div class="sign-btn d-flex flex-column">
				<button type="submit" class="signIn-btn mt-4"><span>로그인</span></button>
				<button type="button" class="signUp-btn mt-2" id="enrollButton"><span>회원가입</span></button>
			</div>
			<div class="sns-section d-flex flex-column justify-content-center mt-5 fs-5">
				<p class="text-center">SNS계정으로 <br> DnDnCare를 편하게 이용하세요</p>
				<ul class="icon-section d-flex justify-content-evenly">
					<li>    
						<a id="kakao-login-btn"  href="javascript:loginWithKakao()">
						  <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="180"
						    alt="카카오 로그인 버튼" />
						</a>
       				</li>
       				<li>    
						<div id="naver_id_login"></div>
        					<use xlink:href="../image/icon_naver.svg#icon"></use>
       				</li>
					
				</ul>
			</div>
		</form>
	</main>
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	<script>
		//네이버
		var naver_id_login = new naver_id_login("m2tmMPCHBBaFCdz1OOkT", "http://localhost:8096/callback.lo");
	  	var state = naver_id_login.getUniqState();
	  	naver_id_login.setButton("green", 55);
	  	naver_id_login.setDomain("http://localhost:8096/patient.me");
	  	naver_id_login.setState(state);
	  	//naver_id_login.setPopup();
	  	naver_id_login.init_naver_id_login();
	  	console.log(naver_id_login);
	
	  	
	  	//카카오 시작
	  	function loginWithKakao() {
			  Kakao.Auth.authorize({
		      redirectUri: 'http://localhost:8096/kakao.lo'
		    });
		  } 
	  	
		document.addEventListener('DOMContentLoaded', function() { // DOMContentLoaded => 페이지 로딩될때 다른거 기다리지 않고 바로 되게하는 것 굳이 필요하진않음
		    document.getElementById('google').addEventListener('click', handleGoogleLogin);
		});
		
		function handleKakaoLogin() {
		    console.log('카카오 로그인 시도');
		    // 카카오 로그인 로직 구현
		}
		
		
		function handleGoogleLogin() {
		    console.log('구글 로그인 시도');
		    // 구글 로그인 로직 구현
		} 
		
		const enrollButton = document.getElementById("enrollButton")
		enrollButton.addEventListener('click', ()=>{
			location.href="enroll1View.me"
		})

	</script>
		
</body>
</html>