<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="css/moreCaregiverInfo.css" rel="stylesheet" type="text/css"/>
	<title>간병인 찾기 상세페이지</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</head>
<body>
	<div th:replace="~{common/navbar :: navbar}">></div>
	
	<div id="contents">
		<div><!-- 왼쪽 공백 --></div>
		<div><!-- 컨텐츠 --> 
			<div class="">
				<span class="badge rounded-pill bg-primary" style="font-size: 25px;">나와 딱 맞는 간병인을 찾아드려요.</span>
				<img src="image/icon/refresh.gif" width="40px;" height="40px"/>	
			</div>
			
			<br/>
			
			<div id="upperContents"><!-- 자동매칭 -->
				<table class="table table-hover autoMatching" style="border-right: 1px solid gray;">
                	<thead>
                    	<tr class="text-center">
                        	<th>성함</th>
                        	<th>성별</th>
                        	<th>나이</th>
                        	<th>지역</th>
                        	<th>경력</th>
                        	<th>돌봄비</th>
                     	</tr>
                 	</thead>
                 	<tbody>
                    	<tr class="text-center">
                        	<td>개나리님</td>
	                        <td>남성</td>
	                        <td>50</td>
	                        <td>서울시 종로구</td>
	                        <td>1년이하</td>
	                        <td>80,000원</td>
                     	</tr>
                     	<tr class="text-center">
	                        <td>개나리님</td>
	                        <td>남성</td>
	                        <td>50</td>
	                        <td>서울시 종로구</td>
	                        <td>3년이하</td>
	                        <td>80,000원</td>
	                    </tr>
	                    <tr class="text-center">
	                        <td>개나리님</td>
	                        <td>남성</td>
	                        <td>50</td>
	                        <td>서울시 종로구</td>
	                        <td>5년이하</td>
	                        <td>80,000원</td>
	                    </tr>
	                    <tr class="text-center">
	                        <td>개나리님</td>
	                        <td>남성</td>
	                        <td>50</td>
	                        <td>서울시 종로구</td>
	                        <td>5년이상</td>
	                        <td>80,000원</td>
	                    </tr>
	                    <tr class="text-center">
	                        <td>개나리님</td>
	                        <td>남성</td>
	                        <td>50</td>
	                        <td>서울시 종로구</td>
	                        <td>없음</td>
	                        <td>80,000원</td>
	                    </tr>
                 	</tbody>
             	</table>
				
				<table class="table table-hover autoMatching">
                	<thead>
                    	<tr class="text-center">
                        	<th>성함</th>
                        	<th>성별</th>
                        	<th>나이</th>
                        	<th>지역</th>
                        	<th>경력</th>
                        	<th>돌봄비</th>
                     	</tr>
                 	</thead>
                 	<tbody>
                    	<tr class="text-center">
                        	<td>개나리님</td>
	                        <td>남성</td>
	                        <td>50</td>
	                        <td>서울시 종로구</td>
	                        <td>없음</td>
	                        <td>80,000원</td>
                     	</tr>
                     	<tr class="text-center">
	                        <td>개나리님</td>
	                        <td>남성</td>
	                        <td>50</td>
	                        <td>서울시 종로구</td>
	                        <td>1년이하</td>
	                        <td>80,000원</td>
	                    </tr>
	                    <tr class="text-center">
	                        <td>개나리님</td>
	                        <td>남성</td>
	                        <td>50</td>
	                        <td>서울시 종로구</td>
	                        <td>3년이하</td>
	                        <td>80,000원</td>
	                    </tr>
	                    <tr class="text-center">
	                        <td>개나리님</td>
	                        <td>남성</td>
	                        <td>50</td>
	                        <td>서울시 종로구</td>
	                        <td>5년이하</td>
	                        <td>80,000원</td>
	                    </tr>
	                    <tr class="text-center">
	                        <td>개나리님</td>
	                        <td>남성</td>
	                        <td>50</td>
	                        <td>서울시 종로구</td>
	                        <td>5년이상</td>
	                        <td>80,000원</td>
	                    </tr>
                 	</tbody>
             	</table>
			</div>
			
			<br/>
			
			<div id="lowerContents"><!-- 검색목록 -->
				<div style="position: sticky; top: 0px; z-index: 10; background:white; ">
					<div id="lowerContentsTitle">
						<div><span class="badge rounded-pill bg-primary" style="font-size: 25px;">간병인 목록</span></div>
						<div class="text-end">
							<button type="button" class="btn btn-light" id="goClear">검색조건 초기화하기</button>
							<button type="button" class="btn btn-light goSearch">검색하기</button>
						</div>
					</div>
					<br/>
					<div id="tagBtnDiv"> <!-- 각 태그의 value값이 ON/OFF인지에 따라서 어떤 검색조건을 선택하였는지 확인가능함 -->
						<div>
							<button type="button" class="btn btn-light mainBtn" id="allTagBtn">태그 전체</button>
						</div>
						<div>
							<button type="button" class="btn btn-light mainBtn" id="serviceChoice">서비스경력</button>
						</div>
						<div>
							<button type="button" class="btn btn-light mainBtn" id="shareChoice">공동 간병</button>
						</div>
						<div>
							<button type="button" class="btn btn-light mainBtn" id="areaChoice">지역</button>
						</div>
						<div>
							<button type="button" class="btn btn-light mainBtn" id="genderChoice">성별</button>
						</div>
						<div>
							<button type="button" class="btn btn-light mainBtn" id="ageChoice">연령</button>
						</div>
						<div>
							<button type="button" class="btn btn-light mainBtn" id="diseaseChoice">질환경험</button>
						</div>
						<div>
							<button type="button" class="btn btn-light mainBtn" id="costChoice">돌봄비</button>
						</div>
						<div>
							<button type="button" class="btn btn-light mainBtn" id="careerChoice">경력</button>
						</div>
						<div>
							<button type="button" class="btn btn-light mainBtn" id="licenseChoice">자격증</button>
						</div>
					</div>
					<div id="subBtnDiv"> <!-- 세부 버튼들 놓을 공간 -->
						<!-- 서비스 유형에 대한 세부 버튼 -->
						<button type="button" class="btn btn-light subBtn subServiceBtn" style="display:none;">병원돌봄</button>
						<button type="button" class="btn btn-light subBtn subServiceBtn" style="display:none;">가정돌봄</button>
						<button type="button" class="btn btn-light subBtn subServiceBtn" style="display:none;">동행서비스</button>
						<!-- 성별 유형에 대한 세부 버튼 -->
						<button type="button" class="btn btn-light subBtn subShareBtn" style="display:none;">개인</button>
						<button type="button" class="btn btn-light subBtn subShareBtn" style="display:none;">공동</button>
						<!-- 지역에 대한 세부 버튼 -->
						<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">전국</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">서울</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">부산</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">대구</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">인천</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">광주</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">대전</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">울산</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">경기도</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">강원도</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">충청북도</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">충청남도</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">전라북도</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">전라남도</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">경상북도</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">경상남도</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">제주</button>
		    			<button type="button" class="btn btn-light subBtn subAreaBtn" style="display:none;">세종</button>
						<!-- 성별에 대한 세부 버튼 -->
						<button type="button" class="btn btn-light subBtn subGenderBtn" style="display:none;">남성</button>
						<button type="button" class="btn btn-light subBtn subGenderBtn" style="display:none;">여성</button>
						<!-- 연령에 대한 세부 버튼 -->
						<button type="button" class="btn btn-light subBtn subAgeBtn" style="display:none;">청년</button>
						<button type="button" class="btn btn-light subBtn subAgeBtn" style="display:none;">중년</button>
						<button type="button" class="btn btn-light subBtn subAgeBtn" style="display:none;">장년</button>
						<!-- 질병에 대한 세부 버튼 -->
						<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">치매</button>
						<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">섬망</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">욕창</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">하반신 마비</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">전신 마비</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">와상환자</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">기저귀 케어</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">의식 없음</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">석션</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">피딩</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">소변줄</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">장루</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">투석</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">전염성 질환</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">파킨슨</button>
		    			<button type="button" class="btn btn-light subBtn subDisBtn" style="display:none;">정신질환</button>
						<!-- 비용에 대한 세부 버튼 -->
		    			<button type="button" class="btn btn-light subBtn subCostBtn" style="display:none;">~30,000원</button>
		    			<button type="button" class="btn btn-light subBtn subCostBtn" style="display:none;">~50,000원</button>
		    			<button type="button" class="btn btn-light subBtn subCostBtn" style="display:none;">~80,000원</button>
						<button type="button" class="btn btn-light subBtn subCostBtn" style="display:none;">~100,000원</button>
						<!-- 경력에 대한 세부 버튼 -->
						<button type="button" class="btn btn-light subBtn subCareerBtn" style="display:none;">없음</button>
		    			<button type="button" class="btn btn-light subBtn subCareerBtn" style="display:none;">1년미만</button>
		    			<button type="button" class="btn btn-light subBtn subCareerBtn" style="display:none;">1~3년</button>
		    			<button type="button" class="btn btn-light subBtn subCareerBtn" style="display:none;">3~5년</button>
		    			<button type="button" class="btn btn-light subBtn subCareerBtn" style="display:none;">5년이상</button>
		    			<!-- 자격증에 대한 세부 버튼 -->
		    			<button type="button" class="btn btn-light subBtn subLicenseBtn" style="display:none;">간병사</button>
		    			<button type="button" class="btn btn-light subBtn subLicenseBtn" style="display:none;">요양보호사</button>
		    			<button type="button" class="btn btn-light subBtn subLicenseBtn" style="display:none;">간호조무사</button>
					</div>
				</div>
				
				<div class="row row-cols-md-4 g-2" id="root">
	                <!-- 간병 일감목록을 무한스크롤로 출력할 공간 -->
	            </div>
			</div>
		<div><!-- 오른쪽 공백 --></div>
		</div>
	</div>
	
	<div th:replace="~{common/footer :: footer}"></div>
	
	<!-- 태그 전체를 취사선택할 수 있는 모달창 -->
	<div class="modal" tabindex="-1" id="allTagModal">
		<div class="modal-dialog">
			<div class="modal-content">
		   		<div class="modal-header">
		    		<div class="modal-title">
		    			<div><span class="badge rounded-pill bg-primary" style="font-size: 20px;">태그 전체</span></div>
		    		</div>
		    		<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
		   		</div>
		    	<div class="modal-body" id="searchBtnDiv">
		    		<form id="searchForm" action="searchPatientList.me" method="post">
		    			<div><span class="badge rounded-pill bg-warning">서비스 유형</span><span class="badge rounded-pill bg-info">복수선택 가능</span></div><br/>
		    			<button type="button" class="btn btn-light searchBtn searchServiceBtn" name="service" value="병원돌봄/OFF">병원돌봄</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchServiceBtn" name="service" value="가정돌봄/OFF">가정돌봄</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchServiceBtn" name="service" value="동행서비스/OFF">동행서비스</button>
		    			 
		    			<br/><br/>
		    			
		    			<div><span class="badge rounded-pill bg-warning">공동간병 유형</span><span class="badge rounded-pill bg-info">복수선택 가능</span></div><br/>
		    			<button type="button" class="btn btn-light searchBtn searchShareBtn" name="share" value="personal/OFF">개인간병</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchShareBtn" name="share" value="share/OFF">공동간병</button>
		    			
		    			<br/><br/>
		    			
		    			<div><span class="badge rounded-pill bg-warning">지역 선택</span><span class="badge rounded-pill bg-danger">단일선택</span></div><br/>
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="전국/OFF">전국</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="서울/OFF">서울</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="부산/OFF">부산</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="대구/OFF">대구</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="인천/OFF">인천</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="광주/OFF">광주</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="대전/OFF">대전</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="울산/OFF">울산</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="경기도/OFF">경기도</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="강원도/OFF">강원도</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="충청북도/OFF">충청북도</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="충청남도/OFF">충청남도</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="전라북도/OFF">전라북도</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="전라남도/OFF">전라남도</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="경상북도/OFF">경상북도</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="경상남도/OFF">경상남도</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="제주/OFF">제주</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAreaBtn" name="area" value="세종/OFF">세종</button>
		    			
		    			<div><span class="badge rounded-pill bg-warning">성별 선택</span><span class="badge rounded-pill bg-info">복수선택 가능</span></div><br/>
		    			<button type="button" class="btn btn-light searchBtn searchGenderBtn" name="gender" value="남성/OFF">남성</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchGenderBtn" name="gender" value="여성/OFF">여성</button>
		    			
		    			<br/><br/>
		    			
		    			<div><span class="badge rounded-pill bg-warning">연령 선택</span><span class="badge rounded-pill bg-info">복수선택 가능</span></div><br/>
		    			<button type="button" class="btn btn-light searchBtn searchAgeBtn" name="age" value="청년/OFF">청년</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAgeBtn" name="age" value="중년/OFF">중년</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchAgeBtn" name="age" value="장년/OFF">장년</button>
		    			
		    			<br/><br/>
		    			
		    			<div><span class="badge rounded-pill bg-warning">질환 선택</span><span class="badge rounded-pill bg-info">복수선택 가능</span></div><br/>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="치매/OFF">치매</button>
						<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="섬망/OFF">섬망</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="욕창/OFF">욕창</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="하반신 마비/OFF">하반신 마비</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="전신 마비/OFF">전신 마비</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="와상환자/OFF">와상환자</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="기저귀 케어/OFF">기저귀 케어</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="의식 없음/OFF">의식 없음</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="석션/OFF">석션</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="피딩/OFF">피딩</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="소변줄/OFF">소변줄</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="장루/OFF">장루</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="투석/OFF">투석</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="전염성 질환/OFF">전염성 질환</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="파킨슨/OFF">파킨슨</button>
		    			<button type="button" class="btn btn-light searchBtn searchDisBtn" name="disease" value="정신질환/OFF">정신질환</button>
					
						<br/><br/>
		    			
		    			<div><span class="badge rounded-pill bg-warning">경력 선택</span><span class="badge rounded-pill bg-info">복수선택 가능</span></div><br/>
		    			<button type="button" class="btn btn-light searchBtn searchCareerBtn" name="career">없음</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchCareerBtn" name="career">1년미만</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchCareerBtn" name="career">1~3년</button>&nbsp;&nbsp;
						<button type="button" class="btn btn-light searchBtn searchCareerBtn" name="career">3~5년</button>&nbsp;&nbsp;
						<button type="button" class="btn btn-light searchBtn searchCareerBtn" name="career">5년이상</button>
						<br/><br/>
	
						<div><span class="badge rounded-pill bg-warning">자격증 선택</span><span class="badge rounded-pill bg-info">복수선택 가능</span></div><br/>
		    			<button type="button" class="btn btn-light searchBtn searchLicenseBtn" name="license">간병사</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchLicenseBtn" name="license">요양보호사</button>&nbsp;&nbsp;
						<button type="button" class="btn btn-light searchBtn searchLicenseBtn" name="license">간호조무사</button>
						<br/><br/>
	
						<div><span class="badge rounded-pill bg-warning">돌봄비 선택</span><span class="badge rounded-pill bg-danger">단일선택</span></div><br/>
		    			<button type="button" class="btn btn-light searchBtn searchCostBtn" name="cost" value="3/OFF">~30,000원</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchCostBtn" name="cost" value="5/OFF">~50,000원</button>&nbsp;&nbsp;
		    			<button type="button" class="btn btn-light searchBtn searchCostBtn" name="cost" value="8/OFF">~80,000원</button>&nbsp;&nbsp;
						<button type="button" class="btn btn-light searchBtn searchCostBtn" name="cost" value="10/OFF">~100,000원</button>
						
						<br/><br/>
		    			
		    		</form>
		    	</div>
		    	<div class="modal-footer">
	    			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:200px;">Close</button>
	    			<button type="button" class="btn btn-primary goSearch" style="width:200px;">검색하기</button>
		    	</div>
		  	</div>
		</div>
	</div>
	
	<script>
		window.onload = () => {
			// 일감목록의 태그 버튼 클릭시 하위 버튼을 보여주는 기능 (시작)
			const allSubBtnList = document.querySelectorAll('.subBtn');	// 임의의 세부 태그 버튼
			const allSearchBtnList = document.querySelectorAll('.searchBtn');
			const allMainBtnList = document.querySelectorAll('.mainBtn'); // 임의의 주요 태그 버튼
			
			// == 서비스 유형 선택 ==
			const subServiceBtnList = document.querySelectorAll('.subServiceBtn'); // 서비스 유형에 대한 세부 태그버튼
			document.querySelector('#serviceChoice').addEventListener('click', function() {
				if(this.className.includes('btn-light')) {
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let a of allSubBtnList) {
						a.style.display = 'none';
					}
					
					this.classList.remove('btn-light');
					this.classList.add('btn-success');
					
					for(let s of subServiceBtnList) {
						s.style.display = 'inline';
					}
				} else {
					this.classList.remove('btn-success');
					this.classList.add('btn-light');
					
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let s of subServiceBtnList) {
						s.style.display = 'none';
					}
				}
			})
			
			// == 공동 간병 여부 ==
			const subShareBtnList = document.querySelectorAll('.subShareBtn');// 공동 간병에 대한 세부 태그버튼	
			document.querySelector('#shareChoice').addEventListener('click', function() {
				if(this.className.includes('btn-light')) {
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let a of allSubBtnList) {
						a.style.display = 'none';
					}
					
					this.classList.remove('btn-light');
					this.classList.add('btn-success');
					
					for(let s of subShareBtnList) {
						s.style.display = 'inline';
					}
				} else {
					this.classList.remove('btn-success');
					this.classList.add('btn-light');
					
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let s of subShareBtnList) {
						s.style.display = 'none';
					}
				}
			})
			
			// == 지역 선택 ==
			const subAreaBtnList = document.querySelectorAll('.subAreaBtn');
			document.querySelector('#areaChoice').addEventListener('click', function() {
				if(this.className.includes('btn-light')) {
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let a of allSubBtnList) {
						a.style.display = 'none';
					}
					
					this.classList.remove('btn-light');
					this.classList.add('btn-success');
					
					for(let s of subAreaBtnList) {
						s.style.display = 'inline';
					}
				} else {
					this.classList.remove('btn-success');
					this.classList.add('btn-light');
					
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let s of subAreaBtnList) {
						s.style.display = 'none';
					}
				}
			})
			
			
			// == 성별 버튼 ==
			const subGenderBtnList = document.querySelectorAll('.subGenderBtn');	
			document.querySelector('#genderChoice').addEventListener('click', function() {
				if(this.className.includes('btn-light')) {
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let a of allSubBtnList) {
						a.style.display = 'none';
					}
					
					this.classList.remove('btn-light');
					this.classList.add('btn-success');
					
					for(let s of subGenderBtnList) {
						s.style.display = 'inline';
					}
				} else {
					this.classList.remove('btn-success');
					this.classList.add('btn-light');
					
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let s of subGenderBtnList) {
						s.style.display = 'none';
					}
				}
			})
			
			// == 연령 버튼 == 
			const subAgeBtnList = document.querySelectorAll('.subAgeBtn');
			document.querySelector('#ageChoice').addEventListener('click', function() {
				if(this.className.includes('btn-light')) {
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let a of allSubBtnList) {
						a.style.display = 'none';
					}
					
					this.classList.remove('btn-light');
					this.classList.add('btn-success');
					
					for(let s of subAgeBtnList) {
						s.style.display = 'inline';
					}
				} else {
					this.classList.remove('btn-success');
					this.classList.add('btn-light');
					
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let s of subAgeBtnList) {
						s.style.display = 'none';
					}
				}
			})
			
			// == 질환 버튼 ==
			const subDisBtnList = document.querySelectorAll('.subDisBtn');
			document.querySelector('#diseaseChoice').addEventListener('click', function() {
				if(this.className.includes('btn-light')) {
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let a of allSubBtnList) {
						a.style.display = 'none';
					}
					
					this.classList.remove('btn-light');
					this.classList.add('btn-success');
					
					for(let s of subDisBtnList) {
						s.style.display = 'inline';
					}
				} else {
					this.classList.remove('btn-success');
					this.classList.add('btn-light');
					
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let s of subDisBtnList) {
						s.style.display = 'none';
					}
				}
			})
			
			
			// == 중증도 ==
			const subCareerBtnList = document.querySelectorAll('.subCareerBtn');
			document.querySelector('#careerChoice').addEventListener('click', function() {
				if(this.className.includes('btn-light')) {
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let a of allSubBtnList) {
						a.style.display = 'none';
					}
					
					this.classList.remove('btn-light');
					this.classList.add('btn-success');
					
					for(let s of subCareerBtnList) {
						s.style.display = 'inline';
					}
				} else {
					this.classList.remove('btn-success');
					this.classList.add('btn-light');
					
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let s of subCareerBtnList) {
						s.style.display = 'none';
					}
				}
			})	
			
			// == 자격증 버튼 ==
			const subLicenseBtnList = document.querySelectorAll('.subLicenseBtn');
			document.querySelector('#licenseChoice').addEventListener('click', function() {
				if(this.className.includes('btn-light')) {
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let a of allSubBtnList) {
						a.style.display = 'none';
					}
					
					this.classList.remove('btn-light');
					this.classList.add('btn-success');
					
					for(let s of subLicenseBtnList) {
						s.style.display = 'inline';
					}
				} else {
					this.classList.remove('btn-success');
					this.classList.add('btn-light');
					
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let s of subLicenseBtnList) {
						s.style.display = 'none';
					}
				}
			})	
			
			// == 비용 버튼 == 
			const subCostBtnList = document.querySelectorAll('.subCostBtn');
			document.querySelector('#costChoice').addEventListener('click', function() {
				if(this.className.includes('btn-light')) {
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let a of allSubBtnList) {
						a.style.display = 'none';
					}
					
					this.classList.remove('btn-light');
					this.classList.add('btn-success');
					
					for(let s of subCostBtnList) {
						s.style.display = 'inline';
					}
				} else {
					this.classList.remove('btn-success');
					this.classList.add('btn-light');
					
					for(let m of allMainBtnList) {
						if(m != this && m.className.includes('btn-success')) {
							m.classList.remove('btn-success');
							m.classList.add('btn-light');
						}
					}
					
					for(let s of subCostBtnList) {
						s.style.display = 'none';
					}
				}
			})
			
			// 일감목록의 태그 버튼 클릭시 하위 버튼을 보여주는 기능 (끝)
			
			
			// 클릭 이벤트 상호작용 : 대표태그의 하위 버튼 <-> 검색조건의 하위 버튼 (시작)
			// == 서비스 유형의 하위 버튼 ==
			const searchServiceBtnList = document.querySelectorAll('.searchServiceBtn');
			for(let i = 0; i< subServiceBtnList.length; i++) {
				// 대표 태그의 하위 버튼을 클릭 => 검색 조건의 하위 버튼
				subServiceBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						searchServiceBtnList[i].classList.remove('btn-light');					
						searchServiceBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						searchServiceBtnList[i].classList.remove('btn-success');					
						searchServiceBtnList[i].classList.add('btn-light');
					}
				})
				// 검색 조건의 하위 버튼 => 대표 태그의 하위 버튼
				searchServiceBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						subServiceBtnList[i].classList.remove('btn-light');					
						subServiceBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						subServiceBtnList[i].classList.remove('btn-success');					
						subServiceBtnList[i].classList.add('btn-light');
					}
				})
			}
			// == 공동 유형의 하위 버튼 ==
			const searchShareBtnList = document.querySelectorAll('.searchShareBtn');
			for(let i = 0; i< subShareBtnList.length; i++) {
				// 대표 태그의 하위 버튼을 클릭 => 검색 조건의 하위 버튼 
				subShareBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						searchShareBtnList[i].classList.remove('btn-light');					
						searchShareBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						searchShareBtnList[i].classList.remove('btn-success');					
						searchShareBtnList[i].classList.add('btn-light');
					}
				})
				// 검색 조건의 하위 버튼 => 대표 태그의 하위 버튼
				searchShareBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						subShareBtnList[i].classList.remove('btn-light');					
						subShareBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						subShareBtnList[i].classList.remove('btn-success');					
						subShareBtnList[i].classList.add('btn-light');
					}
				})
			}
			// == 지역 유형의 하위 버튼 ==
			const searchAreaBtnList = document.querySelectorAll('.searchAreaBtn');
			for(let i = 0; i< subAreaBtnList.length; i++) {
				// 대표 태그의 하위 버튼을 클릭 => 검색 조건의 하위 버튼
				subAreaBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						for(let sub of subAreaBtnList) {
							sub.classList.remove('btn-success');					
							sub.classList.add('btn-light');
						}
						for(let search of searchAreaBtnList) {
							search.classList.remove('btn-success');					
							search.classList.add('btn-light');
						}
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						searchAreaBtnList[i].classList.remove('btn-light');					
						searchAreaBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						searchAreaBtnList[i].classList.remove('btn-success');					
						searchAreaBtnList[i].classList.add('btn-light');
					}
				})
				// 검색 조건의 하위 버튼 => 대표 태그의 하위 버튼
				searchAreaBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						for(let sub of subAreaBtnList) {
							sub.classList.remove('btn-success');					
							sub.classList.add('btn-light');
						}
						for(let search of searchAreaBtnList) {
							search.classList.remove('btn-success');					
							search.classList.add('btn-light');
						}
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						subAreaBtnList[i].classList.remove('btn-light');					
						subAreaBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						subAreaBtnList[i].classList.remove('btn-success');					
						subAreaBtnList[i].classList.add('btn-light');
					}
				})
			}
			// == 성별 유형의 하위 버튼 == 
			const searchGenderBtnList = document.querySelectorAll('.searchGenderBtn');
			for(let i = 0; i< subGenderBtnList.length; i++) {
				// 대표 태그의 하위 버튼을 클릭 => 검색 조건의 하위 버튼
				subGenderBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						searchGenderBtnList[i].classList.remove('btn-light');					
						searchGenderBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						searchGenderBtnList[i].classList.remove('btn-success');					
						searchGenderBtnList[i].classList.add('btn-light');
					}
				})
				// 검색 조건의 하위 버튼 => 대표 태그의 하위 버튼
				searchGenderBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						subGenderBtnList[i].classList.remove('btn-light');					
						subGenderBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						subGenderBtnList[i].classList.remove('btn-success');					
						subGenderBtnList[i].classList.add('btn-light');
					}
				})
			}	
			// == 연령 유형의 하위 버튼 ==
			const searchAgeBtnList = document.querySelectorAll('.searchAgeBtn');
			for(let i = 0; i< subAgeBtnList.length; i++) {
				// 대표 태그의 하위 버튼을 클릭 => 검색 조건의 하위 버튼
				subAgeBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						searchAgeBtnList[i].classList.remove('btn-light');					
						searchAgeBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						searchAgeBtnList[i].classList.remove('btn-success');					
						searchAgeBtnList[i].classList.add('btn-light');
					}
				})
				// 검색 조건의 하위 버튼 => 대표 태그의 하위 버튼
				searchAgeBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						subAgeBtnList[i].classList.remove('btn-light');					
						subAgeBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						subAgeBtnList[i].classList.remove('btn-success');					
						subAgeBtnList[i].classList.add('btn-light');
					}
				})
			}
			// == 질환 유형의 하위 버튼 ==
			const searchDisBtnList = document.querySelectorAll('.searchDisBtn');
			for(let i = 0; i< subDisBtnList.length; i++) {
				// 대표 태그의 하위 버튼을 클릭 => 검색 조건의 하위 버튼
				subDisBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						searchDisBtnList[i].classList.remove('btn-light');					
						searchDisBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						searchDisBtnList[i].classList.remove('btn-success');					
						searchDisBtnList[i].classList.add('btn-light');
					}
				})
				// 검색 조건의 하위 버튼 => 대표 태그의 하위 버튼
				searchDisBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						subDisBtnList[i].classList.remove('btn-light');					
						subDisBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						subDisBtnList[i].classList.remove('btn-success');					
						subDisBtnList[i].classList.add('btn-light');
					}
				})
			}
			// == 경력 유형의 하위 버튼 ==
			const searchCareerBtnList = document.querySelectorAll('.searchCareerBtn');
			for(let i = 0; i< subCareerBtnList.length; i++) {
				// 대표 태그의 하위 버튼을 클릭 => 검색 조건의 하위 버튼
				subCareerBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						searchCareerBtnList[i].classList.remove('btn-light');					
						searchCareerBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						searchCareerBtnList[i].classList.remove('btn-success');					
						searchCareerBtnList[i].classList.add('btn-light');
					}
				})
				// 검색 조건의 하위 버튼 => 대표 태그의 하위 버튼
				searchCareerBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						subCareerBtnList[i].classList.remove('btn-light');					
						subCareerBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						subCareerBtnList[i].classList.remove('btn-success');					
						subCareerBtnList[i].classList.add('btn-light');
					}
				})
			}
			// == 자격증 여부 유형의 하위 버튼 == 
			const searchLicenseBtnList = document.querySelectorAll('.searchLicenseBtn');
			for(let i = 0; i< subLicenseBtnList.length; i++) {
				// 대표 태그의 하위 버튼을 클릭 => 검색 조건의 하위 버튼
				subLicenseBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						searchLicenseBtnList[i].classList.remove('btn-light');					
						searchLicenseBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						searchLicenseBtnList[i].classList.remove('btn-success');					
						searchLicenseBtnList[i].classList.add('btn-light');
					}
				})
				// 검색 조건의 하위 버튼 => 대표 태그의 하위 버튼
				searchLicenseBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						subLicenseBtnList[i].classList.remove('btn-light');					
						subLicenseBtnList[i].classList.add('btn-success');
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						subLicenseBtnList[i].classList.remove('btn-success');					
						subLicenseBtnList[i].classList.add('btn-light');
					}
				})
			}
			// == 돌봄비 유형의 하위 버튼 ==	
			const searchCostBtnList = document.querySelectorAll('.searchCostBtn');
			for(let i = 0; i< subCostBtnList.length; i++) {
				// 대표 태그의 하위 버튼을 클릭 => 검색 조건의 하위 버튼
				subCostBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						for(let sub of subCostBtnList) {
							sub.classList.remove('btn-success');					
							sub.classList.add('btn-light');
						}
						for(let search of searchCostBtnList) {
							search.classList.remove('btn-success');					
							search.classList.add('btn-light');
							search.value = search.value.split('/')[0] + '/OFF'; // '서비스명/OFF'
						}
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						searchCostBtnList[i].classList.remove('btn-light');					
						searchCostBtnList[i].classList.add('btn-success');
						searchCostBtnList[i].value = searchCostBtnList[i].value.split('/')[0] + '/ON'; // '서비스명/ON'
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						searchCostBtnList[i].classList.remove('btn-success');					
						searchCostBtnList[i].classList.add('btn-light');
						searchCostBtnList[i].value = searchCostBtnList[i].value.split('/')[0] + '/OFF'; // '서비스명/OFF'
					}
				})
				// 검색 조건의 하위 버튼 => 대표 태그의 하위 버튼
				searchCostBtnList[i].addEventListener('click', function() {
					if(this.className.includes('btn-light')) {
						for(let sub of subCostBtnList) {
							sub.classList.remove('btn-success');					
							sub.classList.add('btn-light');
						}
						for(let search of searchCostBtnList) {
							search.classList.remove('btn-success');					
							search.classList.add('btn-light');
							search.value = search.value.split('/')[0] + '/OFF'; // '서비스명/OFF'
						}
						this.classList.remove('btn-light');					
						this.classList.add('btn-success');
						subCostBtnList[i].classList.remove('btn-light');					
						subCostBtnList[i].classList.add('btn-success');
						this.value = this.value.split('/')[0] + '/ON'; // '서비스명/ON'
					} else if(this.className.includes('btn-success')) {
						this.classList.remove('btn-success');					
						this.classList.add('btn-light');
						subCostBtnList[i].classList.remove('btn-success');					
						subCostBtnList[i].classList.add('btn-light');
						this.value = this.value.split('/')[0] + '/OFF'; // '서비스명/OFF'
					}
				})
			}	
			// 클릭 이벤트 상호작용 : 대표태그의 하위 버튼 <-> 검색조건의 하위 버튼 (끝)
			
			// 태그 조건으로 검색하기 (시작)
			const goSearchBtnList = document.querySelectorAll('.goSearch');
			let form = document.querySelector('#searchForm');
			const searchConditionObj = {}; // 검색조건을 모두 담을 객체 선언 및 초기화
			for(let go of goSearchBtnList) {
				go.addEventListener('click', e => {
					e.preventDefault(); // 기본 이벤트 제어
					let searchExist = false;
					// *** 검색 조건 저장하기 (시작) ***
					// == 서비스 검색 조건을 저장 ==
					let tempService = '';
					for(let i = 0; i < searchServiceBtnList.length; i++) {
						if(searchServiceBtnList[i].className.includes('btn-success')) {
							tempService += searchServiceBtnList[i].innerText + '/';
							searchExist = true;
						}
					}
					tempService = tempService.substring(0, tempService.length-1);
					searchConditionObj.service = tempService;
					
					// == 공동간병 검색 조건을 저장 ==
					let tempShare = '';
					for(let i = 0; i < searchShareBtnList.length; i++) {
						if(searchShareBtnList[i].className.includes('btn-success')) {
							tempShare += searchShareBtnList[i].innerText + '/';
							searchExist = true;
						}
					}
					tempShare = tempShare.substring(0, tempShare.length-1);
					searchConditionObj.share = tempShare;
					
					// == 지역 검색 조건을 저장 ==
					let tempArea = '';
					for(let i = 0; i < searchAreaBtnList.length; i++) {
						if(searchAreaBtnList[i].className.includes('btn-success')) {
							tempArea = searchAreaBtnList[i].innerText;
							searchExist = true;
						}
					}
					searchConditionObj.area = tempArea;
					
					// == 성별 검색 조건을 저장 ==
					let tempGender = '';
					for(let i = 0; i < searchGenderBtnList.length; i++) {
						if(searchGenderBtnList[i].className.includes('btn-success')) {
							tempGender += searchGenderBtnList[i].innerText + '/';
							searchExist = true;
						}
					}
					tempGender = tempGender.substring(0, tempGender.length-1);
					searchConditionObj.gender = tempGender;
					
					// == 연령 검색 조건을 저장 ==
					let tempAge = '';
					for(let i = 0; i < searchAgeBtnList.length; i++) {
						if(searchAgeBtnList[i].className.includes('btn-success')) {
							tempAge += searchAgeBtnList[i].innerText + '/';
							searchExist = true;
						}
					}
					tempAge = tempAge.substring(0, tempAge.length-1);
					searchConditionObj.age = tempAge;
					
					// == 질환 검색 조건을 저장 == 
					let tempDisease = '';
					for(let i = 0; i < searchDisBtnList.length; i++) {
						if(searchDisBtnList[i].className.includes('btn-success')) {
							tempDisease += searchDisBtnList[i].innerText + '/';
							searchExist = true;
						}
					}
					tempDisease = tempDisease.substring(0, tempDisease.length-1);
					searchConditionObj.disease = tempDisease;
					
					// == 경력 검색 조건을 저장 ==
					let tempCareer = '';
					for(let i = 0; i < searchCareerBtnList.length; i++) {
						if(searchCareerBtnList[i].className.includes('btn-success')) {
							tempCareer += searchCareerBtnList[i].innerText + '/';
							searchExist = true;
						}
					}
					tempCareer = tempCareer.substring(0, tempCareer.length-1);
					searchConditionObj.career = tempCareer;
					
					// == 자격증 검색 조건을 저장 ==
					let tempLicense = '';
					for(let i = 0; i < searchLicenseBtnList.length; i++) {
						if(searchLicenseBtnList[i].className.includes('btn-success')) {
							tempLicense += searchLicenseBtnList[i].innerText + '/';
							searchExist = true;
						}
					}
					tempLicense = tempLicense.substring(0, tempLicense.length-1);
					searchConditionObj.license = tempLicense;
						
					// == 돌봄비 검색 조건을 저장 ==	
					let tempCost = '';
					for(let i = 0; i < searchCostBtnList.length; i++) {
						if(searchCostBtnList[i].className.includes('btn-success')) {
							tempCost = searchCostBtnList[i].innerText;
							searchExist = true;
						}
					}
					searchConditionObj.cost = tempCost;	
					// *** 검색 조건 저장하기 (끝) ***	
					
					// *** 비동기 방식으로 검색결과 요청하기 (시작)***
					if(searchExist) { // 검색 조건이 하나라도 있을 때를 의미함
						root.innerHTML = ''; // 기존의 목록출력을 모두 지운다.
						searchAjax(ajaxSearchPage); // 새로운 목록을 불러온다.
					} else { // 검색 조건이 하나도 없을 때를 의미함
						ajaxNoSearchPage = 1;
						root.innerHTML = ''; // 기존의 목록출력을 모두 지운다.
						noSearchAjax(ajaxNoSearchPage);
					}
					// *** 비동기 방식으로 검색결과 요청하기 (끝) ***
				})
			}
			// 태그 조건으로 검색하기 (끝)
			
			// 목록요청용 페이지 변수 선언
			let ajaxSearchPage = 1; 
			let ajaxNoSearchPage = 1;
			let searchFlag = false;
			
			
			// *** 비동기 방식으로 검색결과 요청하는 ajx함수 정의 (시작) ***
			let searchAjax = (page) => {
				$.ajax({
					url: 'searchCaregiverList.me?page='+page,
					type: 'post',
					data : {condition : JSON.stringify(searchConditionObj)},
					success: data => {
						console.log(data);
						
						for(let count of data) {
							root.innerHTML += '<div class="col-sm-6">\
	            				<div class="card h-95 w-80">\
	    							<div class="card-body">\
	        						<h6 class="card-title">\
	            						<span style="background:skyblue; color:blue;">ㅇㅇㅇ 님</span>&nbsp;&nbsp;\
	            						<span style="background:lightgrey;">성별</span>&nbsp;&nbsp;\
	            						<span style="background:lightgrey;">나이</span>&nbsp;&nbsp;\
	       							</h6>\
				                    <p class="card-text">\
				                    	<span>서울시 도봉구 (검색결과)</span>\
				                   	</p>\
				                    <button class="btn btn-success workInfo">정보 보기</button>\
			                		</div>\
	   							</div>\
								</div>';
						}
						ajaxSearchPage++;
						searchFlag = true;
					},
					error: data => {
						console.log('error');
					}
				})
			}
			// *** 비동기 방식으로 검색결과 요청하는 ajax함수 정의 (끝) ***
			
			
			// *** 비동기 방식으로 임의결과 요청하는 ajax함수 정의 (시작) ***
			let noSearchAjax = (page) => {
				$.ajax({
					url: 'moreCaregiverInfo.me?page='+page,
					type: 'post',
					data : {},
					success: data => {
						console.log(data);
						
						for(let count of data) {
							root.innerHTML += '<div class="col-sm-6">\
	            				<div class="card h-95 w-80">\
	    							<div class="card-body">\
	        						<h6 class="card-title">\
	            						<span style="background:skyblue; color:blue;">ㅇㅇㅇ 님</span>&nbsp;&nbsp;\
	            						<span style="background:lightgrey;">성별</span>&nbsp;&nbsp;\
	            						<span style="background:lightgrey;">나이</span>&nbsp;&nbsp;\
	       							</h6>\
				                    <p class="card-text">\
				                    	<span>서울시 도봉구 (모든결과)</span>\
				                   	</p>\
				                    <button class="btn btn-success workInfo">정보 보기</button>\
			                		</div>\
	   							</div>\
								</div>';
						}
						ajaxNoSearchPage++;
						searchFlag = false;
					},
					error: data => {
						console.log('error');
					}
				})
			}
			
			// 화면 처음로드시에 띄울 임의 검색결과 목록
			noSearchAjax(ajaxNoSearchPage);
			
			// 검색조건 초기화하기
			document.querySelector('#goClear').addEventListener('click', () => {
				for(let sub of allSubBtnList) {
					if(sub.className.includes('btn-success')) {
						sub.classList.remove('btn-success');
						sub.classList.add('btn-light');
					}
				}
				for(let sub of allSearchBtnList) {
					if(sub.className.includes('btn-success')) {
						sub.classList.remove('btn-success');
						sub.classList.add('btn-light');
					}
				}
			
			
			})
			
			
			
			
			
			
			
			
			// 일감목록 검색 결과를 출력하는 무한스크롤 (시작)
			// (1) 초기 데이터 출력 == page가 1인 상태
			/* let currentPage = 1; // 현재 로드된 페이지의 번호를 나타내는 변수. 초기값은 1로 설정.
			let isFetching = false; // 데이터를 가져오는 중인지 여부를 나타내는 변수. 초기값은 false로 설정.
			let hasMore = true; // 가져올 더 많은 데이터가 있는지 여부를 나타내는 변수. 초기값은 true로 설정.
			
			let root = document.querySelector('#root'); // 검색결과를 출력할 div요소에 접근한다.
			
			async function fetchData() {
				isFetching = true; // 데이터를 가져오는 중이라는 표현
				//let response = await fetch(`https://jsonplaceholder.typicode.com/posts?_page=${currentPage}`);
				let response = await fetch(`http://localhost:8096/workInfoTest.me?page=${currentPage}`);
				let data = await response.json();
			    console.log(data);
			    
			    isFetching = false; // 데이터를 가져오고 있지 않는 중이라는 표현
			    
			    if (data.length === 0) {
			        hasMore = false;
			        return
			    } */
			 	// DB에 삽입된 데이터가 없기 때문에 임의로 6개를 뿌리자
			 	/*	반복적으로 넣어야할 요소
				 	<div class="col-sm-6">
	                    <div class="card h-95 w-80">
	                    	<div class="card-body">
	                        	<h6 class="card-title">
		                        	<span style="background:skyblue; color:blue;">MM월 dd일 HH시</span>&nbsp;&nbsp;
		                        	<span style="background:lightgrey;">성별</span>&nbsp;&nbsp;
		                        	<span style="background:lightgrey;">나이</span>&nbsp;&nbsp;
		                        	<img src="image/icon/hospital.png"/>
	                       		</h6>
	                        <p class="card-text">
	                        	<span>병원명</span>
	                       	</p>
	                        <button class="btn btn-success workInfo">정보 보기</button>
	                    	</div>
	                    </div>
	                </div>
			 	*/
			    /* for(let post of data) { // 가져온 데이터를 화면에 뿌리는 코드
			        root.innerHTML += '<div class="col-sm-6">\
	                    				<div class="card h-95 w-80">\
                							<div class="card-body">\
                    						<h6 class="card-title">\
                        						<span style="background:skyblue; color:blue;">MM월 dd일 HH시</span>&nbsp;&nbsp;\
                        						<span style="background:lightgrey;">성별</span>&nbsp;&nbsp;\
                        						<span style="background:lightgrey;">나이</span>&nbsp;&nbsp;\
                        						<img src="image/icon/hospital.png"/>\
                   							</h6>\
						                    <p class="card-text">\
						                    	<span>병원명</span>\
						                   	</p>\
						                    <button class="btn btn-success workInfo">정보 보기</button>\
					                		</div>\
               							</div>\
           							</div>';
			    }
			    currentPage++;
			} */
			
			window.addEventListener('scroll', () => {
				/* if(isFetching || !hasMore) {
					return;
				} */
				
				if((window.innerHeight + window.scrollY) >= document.body.scrollHeight - 300) {
					if(searchFlag == false) {
						noSearchAjax(ajaxNoSearchPage);
					} else {
						searchAjax(ajaxSearchPage);
					}
				}
			})
			
			//fetchData(); // 처음 페이지 로드시에 1페이지에 해당하는 검색결과를 가져온다.
			// 일감목록 검색 결과를 출력하는 무한스크롤 (끝)
			
			// 태그 전체 모달창 출력
			document.querySelector('#allTagBtn').addEventListener('click', () => {
				$('#allTagModal').modal('show');
			})
			
			
			
		}
	</script>
</body>
</html>