<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/myInfo.css}" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

	<style>
		th{
			border-bottom:2px solid #133B5C !important;
			border-top:2px solid #133B5C !important;
			border-right:0px !important;
			color: #133B5C !important;
			font-size : 16px !important;
			padding:2px !important;
		}
	</style>
	
</head>
<body>
	<div th:replace="~{common/navbar :: navbar}"></div>
	
	<div class="container" style="min-height:872px">
		 <div class="row">
			<div class="col">
	     		<div align="center" class="myInfo-Border m-4">
	     			<div class="m-4" style="border-bottom:2px solid #133B5C;"><h1 class="h3 m-4 fw-bold text-center">MY PAGE</h1></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfo.me">내 정보</a></div>
	     			<div class="h4 m-2 p-2" th:if="${session.loginUser.memberCategory == 'P'}"><a class="nav-link my-menu" href="goMyMatchingP.mc?before=myPage">내 매칭 현황</a></div>
	     			<div class="h4 m-2 p-2" th:if="${session.loginUser.memberCategory == 'C'}" ><a class="nav-link my-menu" href="goMyMatchingC.mc?before=myPage">내 매칭 현황</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoMatchingHistory.me">매칭 이력</a></div>
	     			<div class="h4 m-2 p-2" th:if="${session.loginUser.memberCategory == 'C'}"><a class="nav-link my-menu" href="myInfoMatchingReview.me">내 든든지수/후기</a></div>
	     			<div class="h4 m-2 p-2" th:unless="${session.loginUser.memberCategory == 'C'}"><a class="nav-link my-menu" href="myInfoMatchingReview.me">내가 쓴 후기</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoBoardList.me">내가 쓴 게시글</a></div>
	     		</div>
	     		<span class="m-4" style="color:gray;"><button style="background:white; border:0" onclick="location.href='deleteMemberView.me'">탈퇴하기 ▶</button></span>
	    	</div>
	    	
	    	<div class="col">
	      		<div class="row m-4" style="width:950px">
		      		<div class="m-3 h1 menu-name" >내가 쓴 게시글</div>
	      		</div>
	      		<div class="row m-4">
	      			<div class="m-4 col">
					  <button id="myWriteBoardBtn" type="button" class="btn-outline-maincolor-2" onclick="showContent('boards')">내가 쓴 게시글 보기</button>
					  <button id="myWriteReplyBtn" type="button" class="btn-outline-maincolor-2" onclick="showContent('replys')">내가 단 댓글 보기</button>
					  <button id="myLikeBoardBtn" type="button" class="btn-outline-maincolor-2" onclick="showContent('likeBoards')">내가 추천한 글 보기</button>
	      			</div>
	      		</div>
	      		
	      		<div id="boards-section" class="row m-4">
	      			<div class="col m-3">
						<div class="myInfo-Border-maincolor mt-2 mb-3">
							<div class="m-2 d-flex justify-content-between">
								<div class="h2 m-2" >내가 쓴 글</div>
							</div>
      						<table class="m-2" >
      							<tr align="center">
		                            <th width="80">번호</th>
		                            <th width="100">카테고리</th>
		                            <th width="320">제목</th>
		                            <th width="60">추천</th>
		                            <th width="80">지역</th>
		                            <th width="180">작성일</th>
			                        <th width="100">조회수</th>
		                        </tr>
		                        <tr th:if="${!boardList.isEmpty()}" th:each="b:${boardList}" style="border-bottom:1px solid lightgray;">
		                        	<td align="center">[[${b.boardNo}]]</td>
		                        	<td align="center">[[${b.categoryName}]]</td>
		                        	<td class="p-2">[[${b.boardTitle}]]</td>
		                        	<td align="center">[[${boardLikeCounts[b.boardNo]}]]</td>
		                        	<td align="center">[[${b.areaName}]]</td>
		                        	<td align="center">[[${b.boardCreateDate}]]</td>
		                        	<td align="center">[[${b.boardCount}]]</td>
		                        </tr>
		                        <tr th:if="${boardList.isEmpty()}" align="center">
		                        	<td colspan="7">작성한 게시글이 없습니다.</td>
		                        </tr>
      						</table>
						</div>
			      				<!-- 페이지네이션 -->
					                <div class="d-flex justify-content-end align-items-center mb-5">
					                    <nav aria-label="Standard pagination example">
					                        <ul class="pagination mb-3" th:with="loc=${loc}">
					                            <li class="page-item">
					                                <a class="page-link" th:href="@{${loc}(page=${boardPi.currentPage-1})}" aria-label="Previous">
					                                    <span aria-hidden="true">&laquo;</span>
					                                </a>
					                            </li>
					                            <li class="page-item" th:each="p : ${#numbers.sequence(boardPi.startPage, boardPi.endPage)}">
					                                <a class="page-link" th:href="@{${loc}(page=${p})}">[[${ p }]]</a>
					                            </li>
					                            <li class="page-item">
					                                <a class="page-link" th:href="@{${loc}(page=${boardPi.currentPage+1})}" aria-label="Next">
					                                    <span aria-hidden="true">&raquo;</span>
					                                </a>
					                            </li>
					                        </ul>
					                    </nav>
					                </div>
								</div>
				      		</div>
	      		
				      		<div id="replys-section" class="row m-4" style="display: none;">
				      			<div class="col m-3">
									<div style="overflow:hidden;"class="myInfo-Border-maincolor mt-2 mb-3" >
										<div class="m-2 d-flex justify-content-between">
											<div class="h3 m-2">내가 쓴 댓글</div>
										</div>
			      						<table class="m-2">
			      							<tr align="center">
					                            <th width="80">글 번호</th>
					                            <th width="200">글 제목</th>
					                            <th width="400">댓글 내용</th>
					                            <th width="80">추천</th>
					                            <th width="120">작성일</th>
					                        </tr>
					                        <tr th:if="${!replyList.isEmpty()}" th:each="r:${replyList}" style="border-bottom:1px solid lightgray" >
					                        	<td align="center">[[${r.refBoardNo}]]</td>
					                        	<td >[[${r.boardTitle}]]</td>
					                        	<td class="p-2">[[${r.replyContent}]]</td>
					                        	<td align="center">[[${replyLikeCounts[r.replyNo]}]]</td>
					                        	<td align="center">[[${r.replyCreateDate}]]</td>
					                        </tr>
					                        <tr th:if="${replyList.isEmpty()}" align="center">
					                        	<td colspan="5">작성한 댓글이없습니다.</td>
					                        </tr>
			      						</table>
					                </div>
									<div class="d-flex justify-content-end align-items-center mb-5">
					                    <nav aria-label="Standard pagination example">
					                        <ul class="pagination mb-3" th:with="loc=${loc}">
					                            <li class="page-item">
					                                <a class="page-link" th:href="@{${loc}(page=${replyPi.currentPage-1})}" aria-label="Previous">
					                                    <span aria-hidden="true">&laquo;</span>
					                                </a>
					                            </li>
					                            <li class="page-item" th:each="p : ${#numbers.sequence(replyPi.startPage, replyPi.endPage)}">
					                                <a class="page-link" th:href="@{${loc}(page=${p})}">[[${ p }]]</a>
					                            </li>
					                            <li class="page-item">
					                                <a class="page-link" th:href="@{${loc}(page=${replyPi.currentPage+1})}" aria-label="Next">
					                                    <span aria-hidden="true">&raquo;</span>
					                                </a>
					                            </li>
					                        </ul>
					                    </nav>
									</div>
								</div>
				      		</div>
				      		<div id="likeBoards-section" class="row m-4" style="display: none;">
				      			<div class="col m-3">
									<div class="myInfo-Border-maincolor mt-2 mb-3">
										<div class="m-2 d-flex justify-content-between">
											<div class="h3 m-2">내가 좋아요한 글</div>
										</div>
			      						<table class="m-2">
			      							<tr align="center">
					                            <th width="80">번호</th>
					                            <th width="100">카테고리</th>
					                            <th width="320">제목</th>
					                            <th width="60">추천</th>
					                            <th width="80">지역</th>
					                            <th width="180">작성일</th>
						                        <th width="100">조회수</th>
					                        </tr>
					                        <tr th:if="${!likeList.isEmpty()}" th:each="l:${likeList}" style="border-bottom:1px solid lightgray">
					                        	<td align="center">[[${l.boardNo}]]</td>
					                        	<td align="center">[[${l.categoryName}]]</td>
					                        	<td class="p-2">[[${l.boardTitle}]]</td>
					                        	<td align="center">[[${likeLikeCounts[l.boardNo]}]]</td>
					                        	<td align="center">[[${l.areaName}]]</td>
					                        	<td align="center">[[${l.boardCreateDate}]]</td>
					                        	<td align="center">[[${l.boardCount}]]</td>
					                        </tr>
					                        <tr th:if="${likeList.isEmpty()}" align="center">
					                        	<td colspan="7">좋아요한 글이 없습니다.</td>
					                        </tr>
			      						</table>
					                </div>
									<div class="d-flex justify-content-end align-items-center mb-5">
					                    <nav aria-label="Standard pagination example">
					                        <ul class="pagination mb-3" th:with="loc=${loc}">
					                            <li class="page-item">
					                                <a class="page-link" th:href="@{${loc}(page=${likePi.currentPage-1})}" aria-label="Previous">
					                                    <span aria-hidden="true">&laquo;</span>
					                                </a>
					                            </li>
					                            <li class="page-item" th:each="p : ${#numbers.sequence(likePi.startPage, likePi.endPage)}">
					                                <a class="page-link" th:href="@{${loc}(page=${p})}">[[${ p }]]</a>
					                            </li>
					                            <li class="page-item">
					                                <a class="page-link" th:href="@{${loc}(page=${likePi.currentPage+1})}" aria-label="Next">
					                                    <span aria-hidden="true">&raquo;</span>
					                                </a>
					                            </li>
					                        </ul>
					                    </nav>
									</div>
								</div>
				      		</div>
				      	</div>
					</div>
				</div>
			<br/><br/><br/><br/>   	
	<div class="footer" th:replace="~{common/footer.html :: footer}"></div>
	
	<script th:inline="javascript">
		window.onload = () => {
			const menuAtag = document.getElementsByClassName('my-menu');
			const menuName = document.getElementsByClassName('menu-name')[0];
			for (let i of menuAtag) {
				if (i.innerText === menuName.innerText) {
					i.innerHTML = '<span style="border-bottom:2px solid #133B5C; font-weight:bold;">' + i.innerText + '</span>';
				}
			}
			const tds = document.querySelectorAll('td');
			for (const td of tds) {
				td.addEventListener('click', function() {
					const trTds = this.parentElement.querySelectorAll('td');
					const boardId = trTds[0].innerText;
					const currentPage = /*[[${boardPi.currentPage}]]*/ 1;
					location.href = `selectBoard.bo?bId=${boardId}&page=${currentPage}`;
				});
			}
		}
		
		function showContent(type) {
			if (type === 'boards') {
				document.getElementById('boards-section').style.display = 'block';
				document.getElementById('replys-section').style.display = 'none';
				document.getElementById('likeBoards-section').style.display = 'none';
				document.getElementById('myWriteBoardBtn').classList.remove('btn-outline-maincolor-2');
				document.getElementById('myWriteBoardBtn').classList.add('myInfo-btn')
				document.getElementById('myWriteReplyBtn').classList.remove('myInfo-btn');
				document.getElementById('myWriteReplyBtn').classList.add('btn-outline-maincolor-2');
				document.getElementById('myLikeBoardBtn').classList.remove('myInfo-btn');
				document.getElementById('myLikeBoardBtn').classList.add('btn-outline-maincolor-2');
				
			} else if (type === 'replys') {
				document.getElementById('boards-section').style.display = 'none';
				document.getElementById('replys-section').style.display = 'block';
				document.getElementById('likeBoards-section').style.display = 'none';
				document.getElementById('myWriteReplyBtn').classList.remove('btn-outline-maincolor-2');
				document.getElementById('myWriteReplyBtn').classList.add('myInfo-btn')
				document.getElementById('myWriteBoardBtn').classList.remove('myInfo-btn');
				document.getElementById('myWriteBoardBtn').classList.add('btn-outline-maincolor-2');
				document.getElementById('myLikeBoardBtn').classList.remove('myInfo-btn');
				document.getElementById('myLikeBoardBtn').classList.add('btn-outline-maincolor-2');
			} else if (type === 'likeBoards') {
				document.getElementById('boards-section').style.display = 'none';
				document.getElementById('replys-section').style.display = 'none';
				document.getElementById('likeBoards-section').style.display = 'block';
				document.getElementById('myLikeBoardBtn').classList.remove('btn-outline-maincolor-2');
				document.getElementById('myLikeBoardBtn').classList.add('myInfo-btn')
				document.getElementById('myWriteBoardBtn').classList.remove('myInfo-btn');
				document.getElementById('myWriteBoardBtn').classList.add('btn-outline-maincolor-2');
				document.getElementById('myWriteReplyBtn').classList.remove('myInfo-btn');
				document.getElementById('myWriteReplyBtn').classList.add('btn-outline-maincolor-2');
			}
		}
		
		
	</script>
	
</body>
</html>
