<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/myInfo.css}" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<style>
	.btn-star{
		background: transparent;
		border:0px solid black;
		width:20px;
		height:43px;
		padding:0;
		margin-left:0px;
		margin-right:-1.5px;
		background-repeat: no-repeat;
	}
	.btn-icon-star-review{
	background-image:url(../image/icon_star2.svg);
	background-size: 90px 90px;
	padding:0px;
	margin-left:0px;
	background-repeat: no-repeat;	
	}
	
	.btn-icon-star-review-half{
		background-image:url(../image/icon_star2.svg);
		background-size: 90px 90px;
		padding:0px;
		margin-left:0px;
		background-repeat: no-repeat;
		width:11px;
	}
	
	.icon-star-review{
		background-image:url(../image/icon_star.svg);
		background-size: 90px 90px;
		padding:0px;
		width:26px; height:27px;
	}
</style>
</head>
<body>
	<div th:replace="~{common/navbar :: navbar}"></div>
	
	
	
	<div class="container" >
	
		 <div class="row">
			<div class="col" >
				
			
			
	     		<div align="center"class="myInfo-Border m-4">
	     			<div class="m-4" style="border-bottom:2px solid #133B5C;"><h1 class="h3 m-4 fw-bold text-center">MY PAGE</h1></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfo.me">내 정보</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="goMyMatchingC.mc?before=myPage">내 매칭 현황</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoMatchingHistory.me">매칭 이력</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoMatchingReview.me">내 든든지수/후기</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoBoardList.me">내가 쓴 게시글</a></div>
	     		</div>
	     		<span class="m-4" style="color:gray;"><button style="background:white; border:0" onclick="location.href='deleteMemberView.me'">탈퇴하기 ▶</button></span>
	    	</div>
	    	
	    	<div class="col" >
	      		
	      		<div class="row m-4" style="width:950px"> <!-- 여기로규격정햇다 -->
		      		<div class="m-3 h1 menu-name" >내 든든지수/후기</div>
	      		</div>
	      		
	      		<div align="center"class="row m-4" style="width:700px"> <!-- 여기로규격정햇다 -->
		      		<div class="col-2 m-4">
<!-- 			      		<img id="profile-image" src="image/icon_profile.png" onclick="profileImageUpdate()"/> -->
			      		<img class="m-4" style="margin-left:-20px"id="profile-image" th:src="${cg.careImg} ? ${cg.careImg} : icon_profile.png" onclick="profileImageUpdate()"/>
			      		
		      		</div>	
		      		<div class="col-6 m-4" style="" >
		      			<div  style="margin-left:26px;"align="center"  class="m-4 d-flex  justify-content-left align-items-center" >
			      			<div align="left"class="icon-star-review-bg">
								<div th:if="${cg.getAvgReviewScoreDouble > 1}" align="left"class="btn-icon-star-review-bg"></div>
								<div th:if="${cg.getAvgReviewScoreDouble == 1}" align="left"class="btn-icon-star-review-half-bg"></div>
			      			</div>
			      			<div align="left"class="icon-star-review-bg">
								<div th:if="${cg.getAvgReviewScoreDouble > 3}" align="left"class="btn-icon-star-review-bg"></div>
								<div th:if="${cg.getAvgReviewScoreDouble == 3}" align="left"class="btn-icon-star-review-half-bg"></div>
			      			</div>
			      			<div align="left"class="icon-star-review-bg">
								<div th:if="${cg.getAvgReviewScoreDouble > 5}" align="left"class="btn-icon-star-review-bg"></div>
								<div th:if="${cg.getAvgReviewScoreDouble == 5}" align="left"class="btn-icon-star-review-half-bg"></div>
			      			</div>
			      			<div align="left"class="icon-star-review-bg">
								<div th:if="${cg.getAvgReviewScoreDouble > 7}" align="left"class="btn-icon-star-review-bg"></div>
								<div th:if="${cg.getAvgReviewScoreDouble == 7}" align="left"class="btn-icon-star-review-half-bg"></div>
			      			</div>
			      			<div align="left"class="icon-star-review-bg">
								<div th:if="${cg.getAvgReviewScoreDouble > 9}" align="left"class="btn-icon-star-review-bg"></div>
								<div th:if="${cg.getAvgReviewScoreDouble == 9}" align="left"class="btn-icon-star-review-half-bg"></div>
			      			</div>
		    			</div>
		    			<div align="left"class="h3 m-4">내 후기 점수 : [[${cg.getAvgReviewScoreDouble == null ? '0' : cg.getAvgReviewScoreDouble}]]</div>
		      		</div>
		      		<!-- <div class="col m-4" style="max-width:90px">
		      			<div><button class="myInfo-btn m-2" onclick="location.href='updateMemberView.me'"style="height:50px">내 계정 정보 수정하기</button></div>
		      			<div><button class="myInfo-btn m-2" onclick="location.href='updatePwdView.me'"style="height:50px">비밀번호 변경하기</button></div>
		      		</div> -->
	      		</div>
	      		
	      		
	      		
	      		
	      		<div class="row m-4" style="max-width:700px;">
	      			<div align="right" class="m-2">내 후기 ([[${cList.size()}]])</div>
	      			<div class="row m-2" th:if="${!cList.isEmpty()}" th:each="c:${cList}"><!-- 실제 데이터 넣고 for문 돌리기  -->
						<div class="reviewDetail myInfo-Border-maincolor">
							<div class="d-flex justify-content-between">
								<div class="h5 m-1">[[${c.ptName}]]님의 후기</div>
								<img class="tri-btn"width="35" src="image/icon_turnTri.png"/>
							</div>
							<div class="review-content m-1">
								<div align="center"  class="p-2 d-flex justify-content-left" style="min-width:600px;">
					      			<div align="left"class="icon-star-review">
										<button th:if="${1 == c.reviewScore}" class="btn-star btn-icon-star-review-half"></button>
										<button th:if="${1 < c.reviewScore}" class="btn-star btn-icon-star-review"></button>
					      			</div>
					      			<div align="left"class="icon-star-review">
										<button th:if="${3 == c.reviewScore}" class="btn-star btn-icon-star-review-half"></button>
										<button th:if="${3< c.reviewScore}" class="btn-star btn-icon-star-review"></button>
					      			</div>
					      			<div align="left"class="icon-star-review">
										<button th:if="${5 == c.reviewScore}" class="btn-star btn-icon-star-review-half"></button>
										<button th:if="${5 < c.reviewScore}" class="btn-star btn-icon-star-review"></button>
					      			</div>
					      			<div align="left"class="icon-star-review">
										<button th:if="${7 == c.reviewScore}" class="btn-star btn-icon-star-review-half"></button>
										<button th:if="${7 < c.reviewScore}" class="btn-star btn-icon-star-review"></button>
					      			</div>
					      			<div align="left"class="icon-star-review">
										<button th:if="${9 == c.reviewScore}" class="btn-star btn-icon-star-review-half"></button>
										<button th:if="${9 < c.reviewScore}" class="btn-star btn-icon-star-review"></button>
					      			</div>
					      			<div>평점 : [[${c.reviewScore}]]</div>
			      				</div>
				      			<div style="border-top: 2px solid #133B5C">[[${c.reviewContent}]]</div>
							</div>
	      				</div>
	    			</div>
			    	<div th:if="${cList.isEmpty()}" align="center">
			    		<h2>아직 작성된 후기가 없습니다.</h2>
			    	</div>
    			</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		
		window.onload =() =>{
			//좌측메뉴 폰트 굵게,밑줄표시하기
			const menuAtag = document.getElementsByClassName('my-menu');
			const menuName = document.getElementsByClassName('menu-name')[0];
			for(i of menuAtag){
				if(i.innerText == menuName.innerText){
					i.innerHTML= '<span style="border-bottom:2px solid #133B5C; font-weight:bold;">'+i.innerText+'</span>';
				}
			};
			
			const reviewDetails = document.getElementsByClassName('reviewDetail');
			for(i of reviewDetails){
				i.addEventListener('click',function(){
					if(this.children[0].children[1].classList.contains('tri-btn')){
						this.children[0].children[1].src = 'image/icon_tri2.png';
						this.children[0].children[1].classList.remove('tri-btn');
						console.log(this.children[0].nextElementSibling);
						this.children[0].nextElementSibling.classList.toggle('show');
					}else{
						this.children[0].children[1].src = 'image/icon_turnTri.png';
						this.children[0].children[1].classList.add('tri-btn');
						this.children[0].nextElementSibling.classList.toggle('show');
					}
				});
			}
		
			
			
		}
	
			function test(a){
//				this.previousElementSibling.classList.toggle('show');
				a.previousElementSibling.classList.toggle('show');
			};
	</script>
	
</body>
</html>