<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/myInfo.css}" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

	<style>
		th{
			border-bottom:2px solid #133B5C !important;
			border-top:2px solid #133B5C !important;
			border-right:0px !important;
			color: #133B5C !important;
			font-size : 16px !important;
			padding:2px !important;
		}
		
		.btn-success{
			background-color:#1D2D50 !important;
			/* --bs-btn-bg:#E1e5F74 !important; */
			box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
		     7px 7px 20px 0px rgba(0,0,0,.1),
		     4px 4px 5px 0px rgba(0,0,0,.1) !important;
		     border:none !important;
		}
	</style>
	
</head>
<body>
	<div th:replace="~{common/navbar :: navbar}"></div>
	
	
	
	<div class="container" >
	
		 <div class="row">
			<div class="col" >
	     		<div align="center"class="myInfo-Border m-4">
	     			<div class="m-4" style="border-bottom:2px solid #133B5C;"><h1 class="h3 m-4 fw-bold text-center">MY PAGE</h1></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfo.me">내 정보</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoMatchingHistory.me">매칭 이력</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoMatchingReview.me">내가 쓴 후기</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoBoardList.me">내가 쓴 게시글</a></div>
	     		</div>
	     			<span class="m-4" style="color:gray;"><button style="background:white; border:0" onclick="location.href='deleteMemberView.me'">탈퇴하기 ▶</button></span>
	    	</div>
	    	
	    	<div class="col" >
	      		
	      		
	      		<div class="row m-4" style="width:950px"> <!-- 여기로규격정햇다 -->
		      		<div class="m-3 h1 menu-name" >매칭 이력</div>
	      		</div>
	      		
	      		<div class="row m-4">
	      			<div align="center" class="m-4 col">
					  	<div class="h2">내 매칭 현황 및 후기를 작성할 수 있어요!</div>
	      			</div>
	      		</div>
	      		
	      		
	      		
	      		
	      		<div class="row m-4">
	      			<div class="col m-3">
						<div class="myInfo-Border-maincolor mt-2 mb-3">
						
							<div class="m-2 d-flex justify-content-between">
								<div class="h3 m-2">[[${session.loginUser.MemberName}]]님 이용일수/지출</div>
								<div>
									<button id="countDayBtn" class="myInfo-btn btn-sm" style="width:85px;" onclick="showGraph('count')" >이용일</button>
									<button id="countPayBtn" class="btn-outline-maincolor btn-sm" style="width:85px;" onclick="showGraph('pay')">지출</button>
								</div>
							</div>
							
								<div class="m-3 p-2" style="border-bottom:1px solid #dee2e6" id="count-section">
									<canvas class="my-4 w-100" id="useMonthCount" width="900" height="250"></canvas>
									<div>
										<table align="center" class="table table-bordered boarder-dark">
											
											<tr>
												<th id="lastSixMonthsTable"></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
											</tr>
											
										</table>
									</div>
								</div>
								
								<div class="m-3 p-2" style="border-bottom:1px solid #dee2e6; display:none" id="pay-section">
									<canvas class="my-4 w-100" id="sumMonthPay" width="900" height="250"></canvas>
									<div>
									???????
									</div>
								</div>
								
							</div>
						</div>
						
						
						<div class="myInfo-Border-maincolor mt-2 mb-3">
						
							<div class="m-2 d-flex justify-content-between">
								<div class="h3 m-2">[[${session.loginUser.MemberName}]]님 매칭 이력</div>
								<div>
									<button id='matchingWaitBtn' class="myInfo-btn btn-sm" style="width:85px; height:40px;" onclick="showStatus('wait')">매칭중</button>
									<button id='matchingEndBtn' class="btn-outline-maincolor btn-sm" style="width:85px; height:40px;" onclick="showStatus('end')">종료</button>
								</div>
							</div>
							

							<div id="matching" class="m-3 p-2" style="border-bottom:1px solid #dee2e6">
							    <table class="m-2" id="matchingTable">
							        <tr align="center">
							            <th width="340px">간호 시작일</th>
							            <th width="30"></th>
							            <th width="320px">간호 종료일</th>
							            <th width="320px">간병인 정보</th>
							            <th width="320px">일당금액</th>
							            <th width="160px">현재상태</th>
							        </tr>
							        <tr th:each="i : ${mciList}" th:if="${!i.isAfterDate}" class="matching-row" data-mat-confirm="${i.matConfirm}" data-is-after-date="${i.isAfterDate}">
								            <td align="center">[[${i.beginDt}]]일  [[${i.beginTime}]]시</td>
								            <td> ~ </td>
								            <td align="center">[[${i.endDt}]]일 [[${i.endTime}]]시</td>
								            <td align="center">[[${i.memberName}]]</td>
								            <td align="center">[[${#numbers.formatInteger(i.money, 0, 'COMMA')}]]원</td>
								            <td align="center"><span th:if="${i.isBeforeDate}">시작 전</span><span th:if="${!i.isBeforeDate}">진행중</span></td>
								            <input type="hidden" th:id="'hiddenMemberNo' + ${i.memberNo}" name="memberNo" th:value="${i.memberNo}"/>
								            <input type="hidden" th:id="'hiddenMatNo' + ${i.matNo}" name="matNo" th:value="${i.matNo}"/>
							        </tr>
							        
							    </table>
							</div>
							
							<div id="endMatching" class="m-3 p-2" style="border-bottom:1px solid #dee2e6; display:none">
							    <table class="m-2" id="matchingTable" >
							        <tr align="center">
							            <th width="320px">간호 시작일</th>
							            <th width="30"></th>
							            <th width="320px">간호 종료일</th>
							            <th width="200px">간병인 정보</th>
							            <th width="200"> 금액</th>
							            <th></th>
							            <th width="120px">후기 작성</th>
							        </tr>
							        <tr th:if="${i.isAfterDate}" th:each="i : ${mciList}"  class="matching-row">
								            <td>[[${i.beginDt}]]일 [[${i.beginTime}]]시</td>
								            <td> ~ </td>
								            <td>[[${i.endDt}]]일 [[${i.endTime}]]시</td>
								            <td align="center">[[${i.memberName}]]</td>
								            <td align="center">[[${#numbers.formatInteger(i.money, 0, 'COMMA')}]]원</td>
								            <td>
								            <input type="hidden" th:id="'hiddenMemberNo' + ${i.memberNo}" name="memberNo" th:value="${i.memberNo}"/>
								            <input type="hidden" th:id="'hiddenMatNo' + ${i.matNo}" name="matNo" th:value="${i.matNo}"/>
								            </td>
								            <td th:if="${i.matConfirm == 'Y' && i.isAfterDate && i.reviewYn == 0}">
								                <button class="myInfo-btn btn-sm" th:onclick="reviewDetail('myInfoMatchingHistoryP', [[${i.memberNo}]], [[${i.matNo}]])">작성 가능</button>
								            </td>
								            <td th:if="${i.matConfirm == 'Y' && i.isAfterDate && i.reviewYn != 0}">
								                <button class="myInfo-btn-2">작성 완료</button>
								            </td>
							        </tr>
							        
							    </table>
							</div>
						</div>
						
						
	      			</div>
	      		</div>
	      		
	    	</div>
    	</div>
	<div class="chatFixedBtn" th:replace="~{common/chatFixedBtn.html :: chatFixedBtn}"></div>
    <div class="matFixedBtn" th:replace="~{common/matFixedBtn :: matFixedBtn}"></div>
    <th:block th:replace="~{common/footer :: footer}"></th:block>
	
	
	
	 <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
	<script th:inline="javascript">
		 /*<![CDATA[*/
			 
			
		window.onload =() =>{
			const mciList = /*[[${mciList}]]*/
			console.log(mciList)
	        const monthPatient = /*[[${monthPatient}]]*/;
	        console.log(monthPatient)
	        
	        const lastSixMonths = [];
		    const currentDate = new Date();
		    
		    for (let i = 5; i >= 0; i--) {
		        // 새로운 날짜 객체를 생성하여 월을 감소시킴
		        const date = new Date(currentDate.getFullYear(), currentDate.getMonth() - i, 1);
		        const year = date.getFullYear();
		        const month = String(date.getMonth() + 1).padStart(2, '0'); 
		        
		        lastSixMonths.push(`${year}-${month}`);
		    }
		    
		    const lastSixMonthsTableArray = []
		    lastSixMonthsTable = document.getElementById('lastSixMonthsTable')
		    for(let i = 0; i<lastSixMonths.length; i++){
			    lastSixMonthsTableArray.innerHTML = lastSixMonths[i];
			}
		    console.log(lastSixMonths[2])

	       
	        
		    const counts = lastSixMonths.map(month => {
		        const patientData = monthPatient.find(item => item.month == month);
		        return patientData ? patientData.useCount : 0;  // 해당 월에 데이터가 없으면 0으로 채움
		    });
	        
	        const pays = lastSixMonths.map(month =>{
	       		const payData = monthPatient.find(item => item.month == month);
	        	return payData ? payData.antePay : 0;
	        })
	        
			const menuAtag = document.getElementsByClassName('my-menu');
			const menuName = document.getElementsByClassName('menu-name')[0];
			for(i of menuAtag){
				if(i.innerText == menuName.innerText){
					i.innerHTML= '<span style="border-bottom:2px solid #133B5C; font-weight:bold;">'+i.innerText+'</span>';
				}
			};
			
			
			// 이용일수 차트
			const ctx = document.getElementById('useMonthCount');
			const myChart = new Chart(ctx, {
			    type: 'line',
			    data: {
			        labels: lastSixMonths, // x좌표
			        datasets: [{
			            data: counts, // y좌표 (데이터 값)
			            label: '이용일',
			            backgroundColor: 'white', // 배경 색상
			            borderColor: 'skyblue', // 선 색상
			            borderWidth: 3 // 선의 두께
			        }]
			    },
			    options: {
			        scales: {
			            x: {
			                beginAtZero: true
			            },
			            y: {
			                beginAtZero: true
			            }
			        }
			    }
		});
			
			// 사용금액 그래프
			const ctxP = document.getElementById('sumMonthPay');
			const myChartP = new Chart(ctxP, {
			    type: 'line',
			    data: {
			        labels: lastSixMonths, // x좌표
			        datasets: [{
			            data: pays, // y좌표 (데이터 값)
			            label:'결제금액',
			            backgroundColor: 'white', // 배경 색상
			            borderColor: 'skyblue', // 선 색상
			            borderWidth: 3 // 선의 두께
			        }]
			    },
			    options: {
			        scales: {
			            x: {
			                beginAtZero: true
			            },
			            y: {
			                beginAtZero: true
			            }
			        }
			    }
		});
		}
		

		function reviewDetail(beforePage, memberNo, matNo){
			
			location.href = 'reviewDetail.mc?memberNo=' + memberNo + '&matNo='+ matNo+ '&from=' + beforePage;
		}
		
		function showGraph(type) {
			if (type == 'count') {
				document.getElementById('count-section').style.display = 'block';
				document.getElementById('pay-section').style.display = 'none';
				document.getElementById('countDayBtn').classList.add('myInfo-btn')
				document.getElementById('countDayBtn').classList.remove('btn-outline-maincolor');
				document.getElementById('countPayBtn').classList.add('btn-outline-maincolor')
				document.getElementById('countPayBtn').classList.remove('myInfo-btn')
				
			} else if (type == 'pay') {
				document.getElementById('count-section').style.display = 'none';
				document.getElementById('pay-section').style.display = 'block';
				document.getElementById('countDayBtn').classList.remove('myInfo-btn')
				document.getElementById('countDayBtn').classList.add('btn-outline-maincolor');
				document.getElementById('countPayBtn').classList.remove('btn-outline-maincolor')
				document.getElementById('countPayBtn').classList.add('myInfo-btn')
			}
		}
		
		function showStatus(status){
			if(status == 'wait'){
				document.getElementById('matching').style.display = 'block';
				document.getElementById('endMatching').style.display = 'none';
				document.getElementById('matchingWaitBtn').classList.remove('btn-outline-maincolor');
				document.getElementById('matchingWaitBtn').classList.add('myInfo-btn');
				document.getElementById('matchingEndBtn').classList.remove('myInfo-btn');
				document.getElementById('matchingEndBtn').classList.add('btn-outline-maincolor');
				
			} else if(status == 'end'){
				document.getElementById('matching').style.display = 'none';
				document.getElementById('endMatching').style.display = 'block';
				document.getElementById('matchingWaitBtn').classList.add('btn-outline-maincolor');
				document.getElementById('matchingWaitBtn').classList.remove('myInfo-btn');
				document.getElementById('matchingEndBtn').classList.add('myInfo-btn');
				document.getElementById('matchingEndBtn').classList.remove('btn-outline-maincolor');
			}
		}
		/*]]>*/
	</script>
	
</body>
</html>