<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link th:href="@{css/myInfo.css}" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
	<div th:replace="~{common/navbar :: navbar}"></div>
	
	
	
	<div class="container" >
	
		 <div class="row">
			<div class="col" >
	     		<div align="center"class="myInfo-Border m-4">
	     			<div class="m-4" style="border-bottom:2px solid #8dd986;"><h1 class="h3 m-4 fw-bold text-center">MY PAGE</h1></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfo.me">내 정보</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoMatching.me">현재 매칭 정보</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoMatchingHistory.me">매칭 이력</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoMatchingReview.me">내 든든지수/후기</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoBoardList.me">내가 쓴 게시글</a></div>
	     		</div>
	    	</div>
	    	
	    	<div class="col" >
	      		
	      		<div class="row m-4" style="width:950px"> <!-- 여기로규격정햇다 -->
		      		<div class="m-3 h1 menu-name" >내 정보</div>
	      		</div>
	      		<div align="center"class="row m-4" style="border:2px solid #8dd986;width:950px"> <!-- 여기로규격정햇다 -->
		      		<div class="col-2 m-4">
			      		<img id="profile-image" src="image/icon_profile.png"/>
			      		<span><br>프로필 사진</span>
		      		</div>
		      		<div  class="col-3 d-flex align-items-center">
		      			<div>???님! 어서오세요!</div>
		      		</div>
		      		<div class="col-3">
		      			<div >든든 지수 : 88</div>
		      			<img src="image/icon_score.png"/>
		      		</div>
		      		<div  class="col-3 d-flex align-items-center m-2">
		      			<div><button class="myInfo-btn" style="height:100px">공개 구인 신청하기</button></div>
		      		</div>
	      		</div>
	      		
	      		<div class="row m-4">

	      			<div class="col m-3">
						<div class="myInfo-Border-maincolor mt-2 mb-3">
							<div class="m-2 d-flex justify-content-between">
								<div class="h3 myInfo-title">간병인 정보</div>
								<button class="myInfo-btn btn-sm" style="width:85px; height:40px;">수정하기</button>
							
							</div>
	      						<table class="d-flex justify-content-center m-2">
	      						<tr>
	      							<td width="60"> 성별</td>
	      							<td width="60">이재용</td>
	      							<td width="40">연령</td>
	      							<td width="120">1950-25-68</td>
	      							<td width="40">지역</td>
	      							<td width="40">서울</td>
	      							<td width="40"></td>
	      						</tr>
	      						<tr>
	      							<td>경력</td>
	      							<td colspan="1">없음</td>
	      							<td colspan="3">
		      							<select style="width:90px;border:1px solid #8dd986;"class="form-control" >
											<option> 없 음</option>
											<option>1년 미만</option>
											<option>1년~2년</option>
											<option>2년~3년</option>
											<option>3년~5년</option>
											<option>5년~10년</option>
											<option>10년이상</option>
										</select>
									</td>
	      						</tr>
	      						<tr>
	      							<td>자격증</td>
	      							<td colspan="5">
	      								<span>간호사</span>
	      								<span>응급구조사</span>
	      								<span>간호조무사</span>
	      								<span>요양 보호사</span>
	      							</td>
	      							<td>
	      								<button class="btn-outline-maincolor">&nbsp;&nbsp;+&nbsp;&nbsp; </button>
	      							</td>
	      						</tr>
	      						<tr>
	      							<td>자기<br>소개</td>
	      							<td colspan="5">깔깔유머집을 소유하고있습니다.</td>
	      							<td><button class="btn-outline-maincolor">&nbsp;&nbsp;+&nbsp;&nbsp; </button></td>
	      						</tr>
	      						<tr>
	      							<td colspan="1">돌봄비</td>
	      							<td colspan="5">500만원~1000만원</td>
	      							<td><button class="btn-outline-maincolor">&nbsp;&nbsp;+&nbsp;&nbsp; </button></td>
	      						</tr>
	      						
	      						<tr>
	      							<td colspan="1">서비스</td>
	      							<td colspan="2">▶병원돌봄 </td>
									<td>▶가정돌봄</td>		      							
									<td colspan="3">▶동행 서비스</td>		      							
	      						</tr>
	      						
	      					</table>
			      				
						</div>
						
						
						<div class="myInfo-Border-maincolor mt-2 mb-3">
						
							<div class="m-2 d-flex justify-content-between">
								<div class="h3 myInfo-title">내 일정 확인하기</div>
								<button class="myInfo-btn btn-sm" style="width:85px; height:40px;">수정하기</button>
							</div>
							
							<div class="m-3 p-2" style="border-bottom:1px solid #dee2e6">
								<div>???님과 매칭중입니다 (yyyy-MM-dd)~(yyyy-MM-dd)</div>
								<div>???님과 매칭중입니다 (yyyy-MM-dd)~(yyyy-MM-dd)</div>
								<div>???님과 매칭중입니다 (yyyy-MM-dd)~(yyyy-MM-dd)</div>
							</div>
							<div class="m-3 p-2">
								<div>00님과의 매칭이 x일 남았습니다</div>
								<div>00님과의 매칭이 x일 남았습니다</div>
								<div>00님과의 매칭이 x일 남았습니다</div>
							 </div>
						</div>
						
						<!-- <div class="myInfo-Border-maincolor mt-2 mb-3">
							<div class="m-2 d-flex fustity- content-between">
								<div class="h3 myInfo-title">결제 수단 변경하기</div>
							
							</div>
						</div> -->
						
	      			</div>
	      			<div class="col m-3">
	      				<div class="myInfo-Border-maincolor mt-2">
		      				<div class="m-3"  ><span class="h3 myInfo-title">일감 매칭 조건 설정</span>
		      				</div>
		      				<div class="m-3">1. 성별
			      				<table class="d-flex justify-content-center ">
			      					<tr >
			      						<td width="80px">▶ 남자</td>
			      						<td width="80px">▶ 여자</td>
			      					</tr>
			      				</table>
			      			</div>
		      				<div class="m-3">2.연령대
			      				<table class="d-flex justify-content-center ">
			      					<tr >
			      						<td width="90px">▶ 10대</td>
			      						<td width="90px">▶ 20대</td>
			      						<td width="90px">▶ 30대</td>
			      					</tr>
			      					<tr >
			      						<td >▶ 40대</td>
			      						<td >▶ 50대</td>
			      						<td >▶ 60대 이상</td>
			      					</tr>
			      				</table>
		      				</div>
		      				<div class="m-3 ">3.질환
			      				<table class="d-flex justify-content-center ">
			      					<tr >
			      						<td width="100px">▶ 뇌질환</td>
			      						<td width="100px">▶ 호흡기 질환</td>
			      						<td width="100px">▶ 거동 장애</td>
			      					</tr>
			      					<tr >
			      						<td >▶ 와상환자</td>
			      						<td >▶ 파킨슨</td>
			      						<td >▶ 수면질환</td>
			      					</tr>
			      					<tr >
			      						<td >▶ 의식상실</td>
			      						<td >▶ 정신질환</td>
			      						<td >▶ 기저귀 케어</td>
			      					</tr>
			      					<tr >
			      						<td >▶ 재활</td>
			      						<td >▶ 기타</td>
			      						<td ></td>
			      					</tr>
			      				</table>
		      				</div>
		      				<div class="m-3">4. 중증도
			      				<table class="d-flex justify-content-center ">
			      					<tr >
			      						<td width="80px">▶ 낮음</td>
			      						<td width="80px">▶ 중간</td>
			      						<td width="80px">▶ 높음</td>
			      						<td width="100px">▶ 매우높음</td>
			      						<td width="80px">▶ 기타</td>
			      					</tr>
			      				</table>
			      			</div>
		      				<div class="m-3">5. 공동간병
			      				<table class="d-flex justify-content-center ">
			      					<tr >
			      						<td width="80px">▶ 예</td>
			      						<td width="80px">▶ 아니요</td>
			      					</tr>
			      				</table>
			      			</div>
		      				<div align="center"class="row align-items-center">
		      					<div class="mb-4">
		      						<button  class="myInfo-btn">수정하기 </button>
		      					</div>
		      				</div>
	      				</div>
	      			</div>
	      		</div>
	      		
	    	</div>
    	</div>
	
	
	</div>
	
	<script th:inline="javascript">
		
		window.onload =() =>{
			const menuAtag = document.getElementsByClassName('my-menu');
			const menuName = document.getElementsByClassName('menu-name')[0];
			for(i of menuAtag){
				if(i.innerText == menuName.innerText){
					i.innerHTML= '<span style="border-bottom:2px solid #8dd986; font-weight:bold;">'+i.innerText+'</span>';
				}
			};
			
		}
	
	</script>
	
</body>
</html>