<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{css/myInfo.css}" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<style>
	th,td{
		font-size:18px;
		text-align: "center"
	}
</style>
</head>
<body>
	<div th:replace="~{common/navbar :: navbar}"></div>
	
	
	
	<div class="container" >
	
		 <div class="row">
			<div class="col" >
	     		<div align="center"class="myInfo-Border m-4">
	     			<div class="m-4" style="border-bottom:2px solid #133B5C;"><h1 class="h3 m-4 fw-bold text-center">MY PAGE</h1></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfo.me">내 정보</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoMatching.me">현재 매칭 정보</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoMatchingHistory.me">매칭 이력</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoMatchingReview.me">내 든든지수/후기</a></div>
	     			<div class="h4 m-2 p-2"><a class="nav-link my-menu" href="myInfoBoardList.me">내가 쓴 게시글</a></div>
	     		</div>
	      			<span class="m-4" style="color:gray;"><button style="background:white; border:0" onclick="location.href='deleteMemberView.me'">탈퇴하기 ▶</button></span>
	    	</div>
	    	
	    	<div class="col" >
	      		
	      		
	      		<div class="row m-4" style="width:950px"> <!-- 여기로규격정햇다 -->
		      		<div class="m-3 h1 menu-name" >매칭 이력</div>
	      		</div>
	      		
	      		<div class="row m-4">
	      			<div class="m-4 col">
					  <button type="button" id="matchingStatisticsBtn" class="myInfo-btn" onclick="showMatching('statistic')">매칭별 대상 통계</button>
					  <button type="button" id="matchingPayBtn" class="btn-outline-maincolor-2" onclick="showMatching('dayPay')">매칭 일수/수익</button>
					  <button type="button" id="matchingRecordBtn"class="btn-outline-maincolor-2" onclick="showMatching('record')">매칭 이력</button>

	      			</div>
	      		</div>
	      		
	      		
	      		
	      		
	      		<div class="row m-4">
	      			<div class="col m-3">
						<div class="myInfo-Border-maincolor mt-2 mb-3" id="statistic-section">
							<div class="d-flex m-4 justify-content-center" >
								<div class="h2 myInfo-title" th:if="${!genderCountMap.isEmpty()}">내가 간호한 피간병인 통계
									<div class="d-flex justify-content-start">
										<canvas class="w-100" id="genderGraph" width="100" height="80">
										</canvas>
									</div>
									<div> 
										<table border="1" class="table table-bordered boarder-dark" style="text-align: center;">
										<thead>
										<tr>
											<th colspan="2">내가 간호한 환자 성별</th>
										</tr>
										
										</thead>
										<tbody>
											<tr>
												<th>남자</th>
												<td>[[${genderCountMap['남자']}]]명</td>
											</tr>
											<tr>	
												<th>여자</th>
												<td>[[${genderCountMap["여자"]}]]명</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td>총 환자수 : </td>
												<td th:with="totalMen=${genderCountMap['남자']}, totalWomen=${genderCountMap['여자']}, genderTotal= ${totalMen + totalWomen}">
												    [[${genderTotal}]]명
												</td>
											</tr>
										</tfoot>
										</table>
									</div>
									<hr>
									<div class="d-flex justify-content-center">
										<canvas class="w-100" id="ageGraph" width="100" height="100"></canvas>
									</div>
									<div> 
										<table class="table table-bordered boarder-dark" style="text-align: center;">
											<thead>
												<tr>
													<th colspan="2">내가 간호한 환자 연령</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>10대이하</th>
													<td>[[${ageCountMap['10대이하']}]]명</td>
												</tr>
												<tr>	
													<th>20대</th>
													<td>[[${ageCountMap['20대']}]]명</td>
												</tr>
												<tr>	
													<th>30대</th>
													<td>[[${ageCountMap['30대']}]]명</td>
												</tr>
												<tr>	
													<th>40대</th>
													<td>[[${ageCountMap['40대']}]]명</td>
												</tr>
												<tr>	
													<th>50대</th>
													<td>[[${ageCountMap['50대']}]]명</td>
												</tr>
												<tr>	
													<th>60대이상</th>
													<td>[[${ageCountMap['60대이상']}]]명</td>
												</tr>
											</tbody>
											<tfoot>
											<tr>
												<td>총 환자수 : </td>
												<td th:with="total10=${ageCountMap['10대이하']}, total20=${ageCountMap['20대']}, total30=${ageCountMap['30대']}, total40=${ageCountMap['40대']}, total50=${ageCountMap['50대']}, total60=${ageCountMap['60대이상']}, 
															ageTotal= ${total10 + total20 + total30 + total40 + total50 + total60}">
												    [[${ageTotal}]]명
												</td>
											</tr>
										</tfoot>
										</table>
									</div>
									<hr>
									<div class="d-flex justify-content-end">
										<canvas class="w-100" id="categoryGraph" width="250" height="100"></canvas>
									</div>
									<div class="categoryTable"> 
										<table class="table table-bordered boarder-dark" style="text-align: center;">
											<thead>
												<tr>
													<th colspan="8">내가 간호한 환자 질환</th>
												</tr>
											</thead>
										<tbody>
											<tr>
												<th>석션</th>
												<th>하반신마비</th>
												<th>전신마비</th>
												<th>섬망</th>
												<th>기저귀케어</th>
												<th>전염성질환</th>
												<th>투석</th>
												<th>욕창</th>
											</tr>
											<tr>	
												<td>[[${categoryCountMap['석션']}]]회</td>
												<td>[[${categoryCountMap['하반신마비']}]]회</td>
												<td>[[${categoryCountMap['전신마비']}]]회</td>
												<td>[[${categoryCountMap['섬망']}]]회</td>
												<td>[[${categoryCountMap['기저귀케어']}]]회</td>
												<td>[[${categoryCountMap['전염성질환']}]]회</td>
												<td>[[${categoryCountMap['투석']}]]회</td>
												<td>[[${categoryCountMap['욕창']}]]회</td>
											</tr>
											<tr>
												
												<th>정신질환</th>
												<th>치매</th>
												<th>와상환자</th>
												<th>피딩</th>
												<th>의식없음</th>
												<th>장루</th>
												<th>소변줄</th>
												<th>파킨슨</th>
											</tr>
											<tr>
												<td>[[${categoryCountMap['정신질환']}]]회</td>
												<td>[[${categoryCountMap['치매']}]]회</td>
												<td>[[${categoryCountMap['와상환자']}]]회</td>
												<td>[[${categoryCountMap['피딩']}]]회</td>
												<td>[[${categoryCountMap['의식없음']}]]회</td>
												<td>[[${categoryCountMap['장루']}]]회</td>
												<td>[[${categoryCountMap['소변줄']}]]회</td>
												<td>[[${categoryCountMap['파킨슨']}]]회</td>
											</tr>
										</tbody>
										</table>
									</div>
									</div>
									<div class="h2 myInfo-title" th:if="${genderCountMap.isEmpty()}">아직 간병이력이 없습니다.
									</div>
								</div>
						</div>
						
						
						<div class="myInfo-Border-maincolor mt-2 mb-3" style="display:none;" id="matchingDayPay-section">
						
							<div class="m-2 d-flex justify-content-between">
								<div class="h3 myInfo-title">월별 근무일수/수익</div>
									
							</div>
							
							<div class="m-3 p-2" style="border-bottom:1px solid #dee2e6" >
								<div>
							        <label for="yearSelect">연도 선택:</label>
							        <select id="yearSelect"></select>
							    </div>
									<div>
										<canvas class="w-100" id="monthUseCountGraph" width="500" height="100"></canvas>
									</div>
									<div>
										<table class="table table-boarded" style="text-align: center;">
											<tr>
												<th>1월</th>
												<th>2월</th>
												<th>3월</th>
												<th>4월</th>
												<th>5월</th>
												<th>6월</th>
											</tr>
											<tr>
												<td>[[${monthCountMap['2024-01']}]]일</td>
												<td>[[${monthCountMap['2024-02']}]]일</td>
												<td>[[${monthCountMap['2024-03']}]]일</td>
												<td>[[${monthCountMap['2024-04']}]]일</td>
												<td>[[${monthCountMap['2024-05']}]]일</td>
												<td>[[${monthCountMap['2024-06']}]]일</td>
											<tr>
											<tr>
												<th>7월</th>
												<th>8월</th>
												<th>9월</th>
												<th>10월</th>
												<th>11월</th>
												<th>12월</th>
											</tr>
											<tr>
												<td>[[${monthCountMap['2024-07']}]]일</td>
												<td>[[${monthCountMap['2024-08']}]]일</td>
												<td>[[${monthCountMap['2024-09']}]]일</td>
												<td>[[${monthCountMap['2024-10']}]]일</td>
												<td>[[${monthCountMap['2024-11']}]]일</td>
												<td>[[${monthCountMap['2024-12']}]]일</td>
											<tr>
											<tr>
												<th colspan="6" id="yearUseCount"> </th>
											</tr>
										</table>
									</div>
									<hr>
									<div>
										<canvas class="w-100" id="monthPayCountGraph" width="500" height="100"></canvas>
									</div>
									<div>
										<table class="table table-boarded" style="text-align: center;">
											<tr>
												<th>1월</th>
												<th>2월</th>
												<th>3월</th>
												<th>4월</th>
												<th>5월</th>
												<th>6월</th>
											</tr>
											<tr>
												<td>[[${monthPayMap['2024-01']}]]원</td>
												<td>[[${monthPayMap['2024-02']}]]원</td>
												<td>[[${monthPayMap['2024-03']}]]원</td>
												<td>[[${monthPayMap['2024-04']}]]원</td>
												<td>[[${monthPayMap['2024-05']}]]원</td>
												<td>[[${monthPayMap['2024-06']}]]원</td>
											<tr>
											<tr>
												<th>7월</th>
												<th>8월</th>
												<th>9월</th>
												<th>10월</th>
												<th>11월</th>
												<th>12월</th>
											</tr>
											<tr>
												<td>[[${monthPayMap['2024-07']}]]원</td>
												<td>[[${monthPayMap['2024-08']}]]원</td>
												<td>[[${monthPayMap['2024-09']}]]원</td>
												<td>[[${monthPayMap['2024-10']}]]원</td>
												<td>[[${monthPayMap['2024-11']}]]원</td>
												<td>[[${monthPayMap['2024-12']}]]원</td>
											<tr>
											<tr>
												<th colspan="6" id="yearPayCount">연간 수익 : </th>
											</tr>
										</table>
									</div>
							</div>
						</div>
						
						<div class="myInfo-Border-maincolor mb-3" style="display:none;"id="matchingRecord-section">
						
							<div class="h2 myInfo-title m-4">매칭이력</div>
							<div class="d-flex justify-content-between">
								<div class="row m-4">
				      			<div class="row"><!-- 실제 데이터 넣고 for문 돌리기  -->
									<div class="myInfo-Border-maincolor mb-3">
										<div class="m-2">
											<div align="center" class="d-flex justify-content-left" style="min-width:700px;">
						    	  			</div>
						      				<hr/>
						      				<div id="matching" class="m-2 p-2" style="border-bottom:1px solid #dee2e6">
											    <table class="m-2" id="matchingTable" style="text-align: center;">
											    
											        <tr>
											            <th width="150px">간호 시작일</th>
											            <th width="30"></th>
											            <th width="150px">간호 종료일</th>
											            <th width="120px">이름</th>
											            <th width="100px">나이</th>
											            <th width="100px">성별</th>
											            <th width="130px">비용</th>
											            <th width="100px">지역</th>
											            <th width="150px">서비스</th>
											        </tr>
											        <th:block th:if="${matRecord}!=null">
											        	<tr th:each="m:${matRecord}">
												            <td>[[${m.beginDt}]]</td>
												            <td> ~ </td>
												            <td>[[${m.endDt}]]</td>
												            <td>[[${m.ptName}]]님</td>
												            <td>[[${m.ptRealAge}]]세</td>
												        <thblock th:if="${m.ptGender == 'F'}">
												            <td>여성</td>
												         </thblock>
												         <thblock th:if="${m.ptGender == 'M'}">
												            <td>남성</td>
												         </thblock>
												            <td>[[${m.money}]]원</td>
												            <td>[[${m.ptAddress}]]</td>
												            <td>[[${m.service}]]</td>
												        </tr>
											        </th:block>
												   <th:block th:if="${matRecord.isEmpty()}">
														<tr align="center">
															<td colspan="9" class="h4">	<hr>매칭 이력이 없습니다.</td>
														</tr>
													</th:block>											        		
											    </table>
											</div>
					      		</div>
						</div>
						
						
	      			</div>
	      		
	    	</div>
    	</div>
							</div>
							
						</div>
						
						<!-- <div class="myInfo-Border-maincolor mt-2 mb-3">
							<div class="m-2 d-flex fustity- content-between">
								<div class="h3 myInfo-title">결제 수단 변경하기</div>
							
							</div>
						</div> -->
						
	      			</div>
	      		</div>
	      		
	    	</div>
    	</div>
	
	
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		window.onload =() =>{
			const menuAtag = document.getElementsByClassName('my-menu');
			const menuName = document.getElementsByClassName('menu-name')[0];
			for(i of menuAtag){
				if(i.innerText == menuName.innerText){
					i.innerHTML= '<span style="border-bottom:2px solid #133B5C; font-weight:bold;">'+i.innerText+'</span>';
				}
			};
			
			// 성별 그래프
			const genderCountMap = /*[[${genderCountMap}]]*/;
			
			const genderArray = [];
			for(const gender of Object.keys(genderCountMap)){
				genderArray.push(gender);
			}
				
			const genderCountArray = [];
			for (const genderCount of Object.values(genderCountMap)) {
				genderCountArray.push(genderCount);				
			}
			console.log(genderArray)
			console.log(genderCountArray)
			
			const genderDoughnut = document.getElementById('genderGraph')
			const genderDoughnutChart = new Chart(genderDoughnut, {
			    type: 'doughnut',
			    data: {
			        labels: genderArray,
			        datasets: [{
			            data: genderCountArray,
			            backgroundColor: [ 		
							'orange', 'skyblue'
			            	],
			            borderColor: [
			                	'black'
			                ],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        plugins: {
			        	title:{
			        		text: '성별',
			        		display: true,
			        		 font: {
			                     size: 24 
			                 }
			        	},
			            legend: {
			                display: true,
			                position: 'right'
			            },
			            cutout: '100%'
			           
			        }
			    }
			});
			
			
			// 연령 그래프
			const ageCountMap = /*[[${ageCountMap}]]*/;
			console.log(ageCountMap);
			const ageArray = [];
			for(const age of Object.keys(ageCountMap)){
				ageArray.push(age);
			}
				
			const ageCountArray = [];
			for (const ageCount of Object.values(ageCountMap)) {
				ageCountArray.push(ageCount);				
			}
			console.log(ageArray)
			console.log(ageCountArray)
			
			const ageDoughnut = document.getElementById('ageGraph')
			const ageDoughnutChart = new Chart(ageDoughnut, {
			    type: 'doughnut',
			    data: {
			        labels: ageArray,
			        datasets: [{
			            data: ageCountArray,
			            backgroundColor: [ 		
							'#FFA7A7', '#FAED7D', '#B7F0B1', '#B2CCFF', '#D1B2FF', '#747474'
			            	],
			            borderColor: [
			                	'black'
			                ],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        plugins: {
			        	title:{
			        		text: '연령',
			        		display: true,
			        		 font: {
			                     size: 24 
			                 }
			        	},
			            legend: {
			                display: true,
			                position: 'right'
			            },
			           
			        }
			    }
			});
			// 카테고리 그래프
			const categoryCountMap = /*[[${categoryCountMap}]]*/;
			
			const categoryArray = [];
			for(const category of Object.keys(categoryCountMap)){
				categoryArray.push(category);
			}
				
			const categoryCountArray = [];
			for (const categoryCount of Object.values(categoryCountMap)) {
				categoryCountArray.push(categoryCount);				
			}
			console.log(categoryArray)
			console.log(categoryCountArray)
			
			const categoryDoughnut = document.getElementById('categoryGraph')
			const categoryDoughnutChart = new Chart(categoryDoughnut, {
			    type: 'bar',
			    data: {
			        labels: categoryArray,
			        datasets: [{
			            data: categoryCountArray,
			            backgroundColor: [ 		
							'#4682B4', '#FF8C42', '#4CAF50', '#E57373', '#9B77E0', 
							'#A67C6C','#9E9E9E', '#F48FB1', '#4DB6AC', '#CDDC39',
							'#7AC7C4', '#FF6F61', '#E4D9C3', '#D7A9D4', '#7F8C2F',
							'#F2B800'
			            	],
			            borderColor: [
			                	'black'
			                ],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        plugins: {
			        	legend: {
			                display: false,
			                position: 'right'
			            },
			        	title:{
			        		text: '질환',
			        		display: true,
			        		 font: {
			                     size: 24 
			                 }
			        	}
			        	
			            
			           
			        }
			    }
			});
			
			// 월간 이용 그래프
			const monthCountMap = /*[[${monthCountMap}]]*/;
			const years = new Set(); // 연도 저장
			
			//연도
			for (const month of Object.keys(monthCountMap)) {
	            const year = month.split("-")[0];
	            years.add(year);
	        }

	        // 연도 선택 옵션
	        const yearSelect = document.getElementById('yearSelect');
	        years.forEach(year => {
	            const option = document.createElement('option');
	            option.value = year;
	            option.text = year;
	            yearSelect.appendChild(option);
	        });

	        // 초기 설정은 현재연도
	        const currentYear = new Date().getFullYear().toString();
			if (years.has(currentYear)) {
			    yearSelect.value = currentYear;
			}
	        
			
			const monthArray = [];
			for(const month of Object.keys(monthCountMap)){
				monthArray.push(month);
			}
			
			const useCountArray = [];
			let sumCount = 0;
			for(const useCount of Object.values(monthCountMap)){
				useCountArray.push(useCount);
			}
			for(let i=0; i<useCountArray.length; i++){
				sumCount += useCountArray[i];
				console.log(useCountArray[i])
			}
			yearUseCount.innerHTML = "연간 이용횟수 : "+sumCount + "일"
			console.log(monthArray);
			console.log(useCountArray[8]);
			console.log(sumCount);
			
			const monthUse= document.getElementById('monthUseCountGraph');
			const monthUseChart = new Chart(monthUse, {
			    type: 'line',
			    data: {
			        labels: monthArray, // x좌표
			        datasets: [{
			            data: useCountArray, // y좌표 (데이터 값)
			            label:'이용일수',
			            backgroundColor: 'white', // 배경 색상
			            borderColor: 'skyblue', // 선 색상
			            borderWidth: 2 // 선의 두께
			        }]
			    },
			    options: {
			        scales: {
			            x: {
			                beginAtZero: true
			            },
			            y: {
			                beginAtZero: true
			            }
			        }
			    }
		});
			
			
			
			
			const monthPayMap = /*[[${monthPayMap}]]*/;
			const payCountArray = [];
			for(const payCount of Object.values(monthPayMap)){
				payCountArray.push(payCount);
			}
			
			let sumPay = 0;
			
			for(let j = 0; j<payCountArray.length; j++){
				sumPay += payCountArray[j]
			}
			console.log(sumPay)
			yearPayCount.innerHTML = '연간 수익 : ' + sumPay + '원'
			// 월간 수익 그래프
			
			const monthPay= document.getElementById('monthPayCountGraph');
			const monthPayChart = new Chart(monthPay, {
			    type: 'line',
			    data: {
			        labels: monthArray, // x좌표
			        datasets: [{
			            data: payCountArray, // y좌표 (데이터 값)
			            label:'수익금',
			            backgroundColor: 'white', // 배경 색상
			            borderColor: 'orange', // 선 색상
			            borderWidth: 2 // 선의 두께
			        }]
			    },
			    options: {
			        scales: {
			            x: {
			                beginAtZero: true
			            },
			            y: {
			                beginAtZero: true
			            }
			        }
			    }
		});
		}
		function showMatching(type) {
			if (type == 'statistic') {
				document.getElementById('statistic-section').style.display = 'block';
				document.getElementById('matchingDayPay-section').style.display = 'none';
				document.getElementById('matchingRecord-section').style.display = 'none';
				document.getElementById('matchingStatisticsBtn').classList.remove('btn-outline-maincolor-2');
				document.getElementById('matchingStatisticsBtn').classList.add('myInfo-btn');
				document.getElementById('matchingPayBtn').classList.remove('myInfo-btn')
				document.getElementById('matchingPayBtn').classList.add('btn-outline-maincolor-2');
				document.getElementById('matchingRecordBtn').classList.remove('myInfo-btn')
				document.getElementById('matchingRecordBtn').classList.add('btn-outline-maincolor-2');
				
			} else if (type == 'dayPay') {
				document.getElementById('statistic-section').style.display = 'none';
				document.getElementById('matchingDayPay-section').style.display = 'block';
				document.getElementById('matchingRecord-section').style.display = 'none';
				document.getElementById('matchingStatisticsBtn').classList.remove('myInfo-btn');
				document.getElementById('matchingStatisticsBtn').classList.add('btn-outline-maincolor-2');
				document.getElementById('matchingPayBtn').classList.remove('btn-outline-maincolor-2')
				document.getElementById('matchingPayBtn').classList.add('myInfo-btn');
				document.getElementById('matchingRecordBtn').classList.remove('myInfo-btn')
				document.getElementById('matchingRecordBtn').classList.add('btn-outline-maincolor-2');
			} else if (type == 'record'){
				document.getElementById('statistic-section').style.display = 'none';
				document.getElementById('matchingDayPay-section').style.display = 'none';
				document.getElementById('matchingRecord-section').style.display = 'block';
				document.getElementById('matchingStatisticsBtn').classList.remove('myInfo-btn');
				document.getElementById('matchingStatisticsBtn').classList.add('btn-outline-maincolor-2');
				document.getElementById('matchingPayBtn').classList.remove('myInfo-btn')
				document.getElementById('matchingPayBtn').classList.add('btn-outline-maincolor-2');
				document.getElementById('matchingRecordBtn').classList.remove('btn-outline-maincolor-2')
				document.getElementById('matchingRecordBtn').classList.add('myInfo-btn');
			}
		}
		
		function yearDropdown(years) {
            const yearSelect = document.getElementById('yearSelect');
            years.forEach(year => {
                const option = document.createElement('option');
                option.value = year;
                option.text = year;
                yearSelect.appendChild(option);
            });
        }
		/*]]>*/
	</script>
	
</body>
</html>